Repository Drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/scripts

update: various renovate scripts
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

update: various renovate scripts
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

update: exclude kyverno applying to kube-system
  cluster/core/kyverno/policies/delete-cpu-limits.yaml
Labels: area/cluster

update: exclude kyverno applying to kube-system
  cluster/core/kyverno/policies/delete-cpu-limits.yaml
Labels: area/cluster

update: exclude kyverno applying to kube-system
  cluster/core/kyverno/policies/delete-cpu-limits.yaml
Labels: area/cluster

Revert "update: exclude kyverno applying to kube-system"
  cluster/core/kyverno/policies/delete-cpu-limits.yaml
Labels: area/cluster

Revert "update: exclude kyverno applying to kube-system"
  cluster/core/kyverno/policies/delete-cpu-limits.yaml
Labels: area/cluster

Revert "update: exclude kyverno applying to kube-system"
  cluster/core/kyverno/policies/delete-cpu-limits.yaml
Labels: area/cluster

fix: wrong webhook url
  cluster/apps/monitoring/alertmanager-discord/discord-webhook.sops.yaml
Labels: area/cluster

fix: wrong webhook url
  cluster/apps/monitoring/alertmanager-discord/discord-webhook.sops.yaml
Labels: area/cluster

fix: wrong webhook url
  cluster/apps/monitoring/alertmanager-discord/discord-webhook.sops.yaml
Labels: area/cluster

update: switch mosquitto to app-template update: specific secrets for different domains
  cluster/apps/home/mosquitto/helm-release.yaml
  cluster/apps/home/mosquitto/kustomization.yaml
  cluster/apps/home/mosquitto/mosquitto-config.yaml
  cluster/apps/home/mosquitto/mqtt.conf
  cluster/apps/home/mosquitto/secret.sops.yaml
  cluster/apps/home/zigbee2mqtt/helm-release.yaml
  cluster/config/cluster-secrets.sops.yaml
Labels: area/cluster

update: switch mosquitto to app-template update: specific secrets for different domains
  cluster/apps/home/mosquitto/helm-release.yaml
  cluster/apps/home/mosquitto/kustomization.yaml
  cluster/apps/home/mosquitto/mosquitto-config.yaml
  cluster/apps/home/mosquitto/mqtt.conf
  cluster/apps/home/mosquitto/secret.sops.yaml
  cluster/apps/home/zigbee2mqtt/helm-release.yaml
  cluster/config/cluster-secrets.sops.yaml
Labels: area/cluster

update: switch mosquitto to app-template update: specific secrets for different domains
  cluster/apps/home/mosquitto/helm-release.yaml
  cluster/apps/home/mosquitto/kustomization.yaml
  cluster/apps/home/mosquitto/mosquitto-config.yaml
  cluster/apps/home/mosquitto/mqtt.conf
  cluster/apps/home/mosquitto/secret.sops.yaml
  cluster/apps/home/zigbee2mqtt/helm-release.yaml
  cluster/config/cluster-secrets.sops.yaml
Labels: area/cluster

update: specific secrets for different domains
  cluster/apps/default/kopia/web/helm-release.yaml
  cluster/apps/default/theme-park/helm-release.yaml
  cluster/apps/downloads/lidarr/helm-release.yaml
  cluster/apps/downloads/nzbget/ingress.yaml
  cluster/apps/downloads/prowlarr/helm-release.yaml
  cluster/apps/downloads/qbittorrent/ingress.yaml
  cluster/apps/downloads/radarr-uhd/helm-release.yaml
  cluster/apps/downloads/radarr/helm-release.yaml
  cluster/apps/downloads/sonarr-uhd/helm-release.yaml
  cluster/apps/downloads/sonarr/helm-release.yaml
  cluster/apps/home/esphome/helm-release.yaml
  cluster/apps/home/home-assistant/helm-release.yaml
  cluster/apps/kube-system/cilium/helm-release.yaml
  cluster/apps/media/plex/helm-release.yaml
  cluster/apps/media/tautulli/helm-release.yaml
  cluster/apps/media/tvheadend/ingress.yaml
  cluster/apps/monitoring/botkube/helm-release.yaml
  cluster/apps/monitoring/grafana/helm-release.yaml
  cluster/apps/monitoring/kube-prometheus/helm-release.yaml
  cluster/apps/monitoring/loki/helm-release.yaml
  cluster/apps/unifi/helm-release.yaml
  cluster/core/ingress-nginx/wildcard-cert.yaml
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

update: specific secrets for different domains
  cluster/apps/default/kopia/web/helm-release.yaml
  cluster/apps/default/theme-park/helm-release.yaml
  cluster/apps/downloads/lidarr/helm-release.yaml
  cluster/apps/downloads/nzbget/ingress.yaml
  cluster/apps/downloads/prowlarr/helm-release.yaml
  cluster/apps/downloads/qbittorrent/ingress.yaml
  cluster/apps/downloads/radarr-uhd/helm-release.yaml
  cluster/apps/downloads/radarr/helm-release.yaml
  cluster/apps/downloads/sonarr-uhd/helm-release.yaml
  cluster/apps/downloads/sonarr/helm-release.yaml
  cluster/apps/home/esphome/helm-release.yaml
  cluster/apps/home/home-assistant/helm-release.yaml
  cluster/apps/kube-system/cilium/helm-release.yaml
  cluster/apps/media/plex/helm-release.yaml
  cluster/apps/media/tautulli/helm-release.yaml
  cluster/apps/media/tvheadend/ingress.yaml
  cluster/apps/monitoring/botkube/helm-release.yaml
  cluster/apps/monitoring/grafana/helm-release.yaml
  cluster/apps/monitoring/kube-prometheus/helm-release.yaml
  cluster/apps/monitoring/loki/helm-release.yaml
  cluster/apps/unifi/helm-release.yaml
  cluster/core/ingress-nginx/wildcard-cert.yaml
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

update: specific secrets for different domains
  cluster/apps/default/kopia/web/helm-release.yaml
  cluster/apps/default/theme-park/helm-release.yaml
  cluster/apps/downloads/lidarr/helm-release.yaml
  cluster/apps/downloads/nzbget/ingress.yaml
  cluster/apps/downloads/prowlarr/helm-release.yaml
  cluster/apps/downloads/qbittorrent/ingress.yaml
  cluster/apps/downloads/radarr-uhd/helm-release.yaml
  cluster/apps/downloads/radarr/helm-release.yaml
  cluster/apps/downloads/sonarr-uhd/helm-release.yaml
  cluster/apps/downloads/sonarr/helm-release.yaml
  cluster/apps/home/esphome/helm-release.yaml
  cluster/apps/home/home-assistant/helm-release.yaml
  cluster/apps/kube-system/cilium/helm-release.yaml
  cluster/apps/media/plex/helm-release.yaml
  cluster/apps/media/tautulli/helm-release.yaml
  cluster/apps/media/tvheadend/ingress.yaml
  cluster/apps/monitoring/botkube/helm-release.yaml
  cluster/apps/monitoring/grafana/helm-release.yaml
  cluster/apps/monitoring/kube-prometheus/helm-release.yaml
  cluster/apps/monitoring/loki/helm-release.yaml
  cluster/apps/unifi/helm-release.yaml
  cluster/core/ingress-nginx/wildcard-cert.yaml
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

fix: oopsie - getting ahead of myself - still need domain name!
  cluster/config/cluster-secrets.sops.yaml
Labels: area/cluster

fix: oopsie - getting ahead of myself - still need domain name!
  cluster/config/cluster-secrets.sops.yaml
Labels: area/cluster

fix: oopsie - getting ahead of myself - still need domain name!
  cluster/config/cluster-secrets.sops.yaml
Labels: area/cluster

update: remove global arr secrets
  cluster/config/cluster-secrets.sops.yaml
Labels: area/cluster

update: remove global arr secrets
  cluster/config/cluster-secrets.sops.yaml
Labels: area/cluster

update: remove global arr secrets
  cluster/config/cluster-secrets.sops.yaml
Labels: area/cluster

update: rejiggle ordering
  cluster/config/cluster-settings.yaml
Labels: area/cluster

update: rejiggle ordering
  cluster/config/cluster-settings.yaml
Labels: area/cluster

update: rejiggle ordering
  cluster/config/cluster-settings.yaml
Labels: area/cluster

update: talos config - some things are not really secret
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/talenv.sops.yaml
Labels: none

update: talos config - some things are not really secret
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/talenv.sops.yaml
Labels: none

update: talos config - some things are not really secret
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/talenv.sops.yaml
Labels: none

update: fixup megalinter
  .github/workflows/megalinter.yaml
Labels: area/github

update: fixup megalinter
  .github/workflows/megalinter.yaml
Labels: area/github

update: fixup megalinter
  .github/workflows/megalinter.yaml
Labels: area/github

update: add plasma node-exporter
  cluster/apps/monitoring/kube-prometheus/helm-release.yaml
  cluster/config/cluster-settings.yaml
Labels: area/cluster

update: add plasma node-exporter
  cluster/apps/monitoring/kube-prometheus/helm-release.yaml
  cluster/config/cluster-settings.yaml
Labels: area/cluster

update: add plasma node-exporter
  cluster/apps/monitoring/kube-prometheus/helm-release.yaml
  cluster/config/cluster-settings.yaml
Labels: area/cluster

update: try mailrise
  cluster/apps/default/mailrise/helm-release.yaml
  cluster/apps/default/mailrise/kustomization.yaml
  cluster/apps/default/mailrise/mailrise-conf.yaml
  cluster/config/cluster-secrets.sops.yaml
  cluster/config/cluster-settings.yaml
Labels: area/cluster

update: try mailrise
  cluster/apps/default/mailrise/helm-release.yaml
  cluster/apps/default/mailrise/kustomization.yaml
  cluster/apps/default/mailrise/mailrise-conf.yaml
  cluster/config/cluster-secrets.sops.yaml
  cluster/config/cluster-settings.yaml
Labels: area/cluster

update: try mailrise
  cluster/apps/default/mailrise/helm-release.yaml
  cluster/apps/default/mailrise/kustomization.yaml
  cluster/apps/default/mailrise/mailrise-conf.yaml
  cluster/config/cluster-secrets.sops.yaml
  cluster/config/cluster-settings.yaml
Labels: area/cluster

update: for the future - archive for now - mailrise
  _archived/mailrise/helm-release.yaml
  _archived/mailrise/kustomization.yaml
  _archived/mailrise/mailrise-conf.yaml
  cluster/config/cluster-secrets.sops.yaml
  cluster/config/cluster-settings.yaml
Labels: area/cluster

update: for the future - archive for now - mailrise
  _archived/mailrise/helm-release.yaml
  _archived/mailrise/kustomization.yaml
  _archived/mailrise/mailrise-conf.yaml
  cluster/config/cluster-secrets.sops.yaml
  cluster/config/cluster-settings.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/scripts:
  - "scripts/**/*"
