Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

fix(helm-release): downgrade home-assistant image tag to 2025.7.4
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): downgrade home-assistant image tag to 2025.7.4
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(talos): improve bootstrap process and update parallelism settings in job configurations
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  infrastructure/darkstar/talos/helmfile.yaml
  infrastructure/darkstar/talos/templates/format-lvm.yaml.gotmpl
Labels: area/talos, cluster/darkstar

fix(talos): improve bootstrap process and update parallelism settings in job configurations
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  infrastructure/darkstar/talos/helmfile.yaml
  infrastructure/darkstar/talos/templates/format-lvm.yaml.gotmpl
Labels: area/talos, cluster/darkstar

fix(crds): update resource kind to OCIRepository and adjust configuration settings
  kubernetes/darkstar/apps/networking/envoy-gateway/crds/crds.yaml
Labels: area/kubernetes, cluster/darkstar

fix(crds): update resource kind to OCIRepository and adjust configuration settings
  kubernetes/darkstar/apps/networking/envoy-gateway/crds/crds.yaml
Labels: area/kubernetes, cluster/darkstar

fix(mise.toml): specify gum version to 0.16.2 and remove just version
  .mise.toml
Labels: none

feat(matter-server): add HelmRelease and Kustomization configurations for Matter Server deployment
  .archived/kubernetes/matter-server/app/helm-release.yaml
  .archived/kubernetes/matter-server/app/kustomization.yaml
  .archived/kubernetes/matter-server/ks.yaml
Labels: none

feat(matter-server): add HelmRelease and Kustomization configurations for Matter Server deployment
  .archived/kubernetes/matter-server/app/helm-release.yaml
  .archived/kubernetes/matter-server/app/kustomization.yaml
  .archived/kubernetes/matter-server/ks.yaml
Labels: none

fix(mise.toml): specify gum version to 0.16.2 and remove just version
  .mise.toml
Labels: none

delete: remove holding folder for apollo k8s config
  kubernetes/apollo/README.md
Labels: area/kubernetes, cluster/apollo

delete: remove holding folder for apollo k8s config
  kubernetes/apollo/README.md
Labels: area/kubernetes, cluster/apollo

fix(lint.yaml): update permissions and disable credential persistence for checkout steps
  .github/workflows/lint.yaml
Labels: area/github

fix(lint.yaml): update permissions and disable credential persistence for checkout steps
  .github/workflows/lint.yaml
Labels: area/github

refactor(settings.json): clean up unused configurations and associations
  .vscode/settings.json
Labels: none

refactor(settings.json): clean up unused configurations and associations
  .vscode/settings.json
Labels: none

refactor(groups.json5, packageRules.json5): reorganize and streamline package rules for Flux and Talos groups
  .renovate/groups.json5
  .renovate/packageRules.json5
Labels: none

refactor(groups.json5, packageRules.json5): reorganize and streamline package rules for Flux and Talos groups
  .renovate/groups.json5
  .renovate/packageRules.json5
Labels: none

refactor(helm-release.yaml): enhance service configuration and plugin settings for CoreDNS
  kubernetes/darkstar/apps/kube-system/coredns/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(helm-release.yaml): enhance service configuration and plugin settings for CoreDNS
  kubernetes/darkstar/apps/kube-system/coredns/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(helm-release.yaml): remove dual-stack service configuration for CoreDNS
  kubernetes/darkstar/apps/kube-system/coredns/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(helm-release.yaml): remove dual-stack service configuration for CoreDNS
  kubernetes/darkstar/apps/kube-system/coredns/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(helm-release.yaml): add dual-stack service configuration for CoreDNS
  kubernetes/darkstar/apps/kube-system/coredns/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(helm-release.yaml): add dual-stack service configuration for CoreDNS
  kubernetes/darkstar/apps/kube-system/coredns/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(coredns): update IPv6 clusterIP to use a valid address
  kubernetes/darkstar/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/coredns/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(coredns): update IPv6 clusterIP to use a valid address
  kubernetes/darkstar/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/coredns/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(kustomization.yaml): update apiVersion and kind for consistency
  kubernetes/darkstar/components/flux/alerts/kustomization.yaml
  kubernetes/darkstar/components/flux/sops/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(kustomization.yaml): update apiVersion and kind for consistency
  kubernetes/darkstar/components/flux/alerts/kustomization.yaml
  kubernetes/darkstar/components/flux/sops/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(ks.yaml): use anchor for app name in external-dns configurations
  kubernetes/darkstar/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(ks.yaml): use anchor for app name in external-dns configurations
  kubernetes/darkstar/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(ks.yaml): update namespace for system-upgrade-controller and plans to match the intended namespace
  kubernetes/darkstar/apps/system-upgrade/kustomization.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(ks.yaml): update namespace for system-upgrade-controller and plans to match the intended namespace
  kubernetes/darkstar/apps/system-upgrade/kustomization.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(cluster): add Sops decryption configuration to child Kustomizations
  kubernetes/darkstar/apps/flux-system/flux-instance/app/helm-release.yaml
  kubernetes/darkstar/flux/cluster/cluster.yaml
Labels: area/kubernetes, cluster/darkstar

feat(cluster): add Sops decryption configuration to child Kustomizations
  kubernetes/darkstar/apps/flux-system/flux-instance/app/helm-release.yaml
  kubernetes/darkstar/flux/cluster/cluster.yaml
Labels: area/kubernetes, cluster/darkstar

fix(ks.yaml): add namespace specifications for dependencies across multiple applications
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/darkstar/apps/database/mosquitto/ks.yaml
  kubernetes/darkstar/apps/default/atuin/ks.yaml
  kubernetes/darkstar/apps/default/unifi/ks.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/ks.yaml
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/home-automation/esphome/ks.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/darkstar/apps/kube-system/gateway-api-crds/ks.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/media/tautulli/ks.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/ks.yaml
  kubernetes/darkstar/apps/networking/multus/ks.yaml
  kubernetes/darkstar/apps/observability/gatus/ks.yaml
  kubernetes/darkstar/apps/observability/grafana/ks.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/darkstar/apps/observability/loki/ks.yaml
  kubernetes/darkstar/apps/observability/lvm-exporter/ks.yaml
  kubernetes/darkstar/apps/observability/node-exporter/ks.yaml
  kubernetes/darkstar/apps/observability/smartctl-exporter/ks.yaml
  kubernetes/darkstar/apps/storage/topolvm/ks.yaml
  kubernetes/darkstar/apps/storage/volsync/ks.yaml
  kubernetes/darkstar/apps/system-controllers/k8tz/ks.yaml
  kubernetes/darkstar/apps/system/intel-device-plugins/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(ks.yaml): add namespace specifications for dependencies across multiple applications
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/darkstar/apps/database/mosquitto/ks.yaml
  kubernetes/darkstar/apps/default/atuin/ks.yaml
  kubernetes/darkstar/apps/default/unifi/ks.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/ks.yaml
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/home-automation/esphome/ks.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/darkstar/apps/kube-system/gateway-api-crds/ks.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/media/tautulli/ks.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/ks.yaml
  kubernetes/darkstar/apps/networking/multus/ks.yaml
  kubernetes/darkstar/apps/observability/gatus/ks.yaml
  kubernetes/darkstar/apps/observability/grafana/ks.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/darkstar/apps/observability/loki/ks.yaml
  kubernetes/darkstar/apps/observability/lvm-exporter/ks.yaml
  kubernetes/darkstar/apps/observability/node-exporter/ks.yaml
  kubernetes/darkstar/apps/observability/smartctl-exporter/ks.yaml
  kubernetes/darkstar/apps/storage/topolvm/ks.yaml
  kubernetes/darkstar/apps/storage/volsync/ks.yaml
  kubernetes/darkstar/apps/system-controllers/k8tz/ks.yaml
  kubernetes/darkstar/apps/system/intel-device-plugins/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(ks.yaml): correct indentation for dependsOn namespace specification
  kubernetes/darkstar/apps/system/reloader/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(ks.yaml): correct indentation for dependsOn namespace specification
  kubernetes/darkstar/apps/system/reloader/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(mutatingadmissionpolicy.yaml): update apiVersion to v1alpha1 for MutatingAdmissionPolicy and Binding
  kubernetes/darkstar/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes, cluster/darkstar

fix(mutatingadmissionpolicy.yaml): update apiVersion to v1alpha1 for MutatingAdmissionPolicy and Binding
  kubernetes/darkstar/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes, cluster/darkstar
