Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

Move principle age key location it's specific to this repo so base it here
  .gitignore
  .mise.toml
  .vscode/settings.json
Labels: none

Move principle age key location it's specific to this repo so base it here
  .gitignore
  .mise.toml
  .vscode/settings.json
Labels: none

Depends on externalsecrets
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/monitoring/alertmanager/ks.yaml
  kubernetes/darkstar/apps/monitoring/gatus/ks.yaml
  kubernetes/darkstar/apps/monitoring/grafana/ks.yaml
Labels: area/kubernetes, cluster/darkstar

Depends on externalsecrets
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/monitoring/alertmanager/ks.yaml
  kubernetes/darkstar/apps/monitoring/gatus/ks.yaml
  kubernetes/darkstar/apps/monitoring/grafana/ks.yaml
Labels: area/kubernetes, cluster/darkstar

Specifically enable gateway api ... though it seems to be working regardless
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Specifically enable gateway api ... though it seems to be working regardless
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Include a regex for mise - for additional package coverage
  .renovate/customManagers.json5
Labels: none

Include a regex for mise - for additional package coverage
  .renovate/customManagers.json5
Labels: none

Bump jq to 1.7.1 - must fix versioning for this
  .mise.toml
Labels: none

Bump jq to 1.7.1 - must fix versioning for this
  .mise.toml
Labels: none

Flux webhook depends on externalsecrets
  kubernetes/darkstar/apps/flux-system/add-ons/ks.yaml
Labels: area/kubernetes, cluster/darkstar

Flux webhook depends on externalsecrets
  kubernetes/darkstar/apps/flux-system/add-ons/ks.yaml
Labels: area/kubernetes, cluster/darkstar

Not using spegel
  infrastructure/darkstar/talos/integrations/helmfile.yaml
Labels: area/talos, cluster/darkstar

Not using spegel
  infrastructure/darkstar/talos/integrations/helmfile.yaml
Labels: area/talos, cluster/darkstar

Automerge galaxy datasources
  .renovate/autoMerge.json5
Labels: none

Automerge galaxy datasources
  .renovate/autoMerge.json5
Labels: none

Missing actionlint config
  .github/actionlint.yaml
Labels: area/github

Missing actionlint config
  .github/actionlint.yaml
Labels: area/github

Ignore code review for my own repo
  .github/CODEOWNERS
Labels: area/github

Ignore code review for my own repo
  .github/CODEOWNERS
Labels: area/github

Update trusted auto-merge github actions
  .renovate/autoMerge.json5
Labels: none

Update trusted auto-merge github actions
  .renovate/autoMerge.json5
Labels: none

Move a couple packages to local mise
  .mise.toml
Labels: none

Move a couple packages to local mise
  .mise.toml
Labels: none

Suspend use of kokoro for now
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Suspend use of kokoro for now
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Fix incorrect secret for admin user
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Fix incorrect secret for admin user
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Remove override now on 0.11
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Remove override now on 0.11
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Return to mosquitto for a simple life
  .archived/kubernetes/database/emqx/cluster/cluster.yaml
  .archived/kubernetes/database/emqx/cluster/externalsecret.yaml
  .archived/kubernetes/database/emqx/cluster/kustomization.yaml
  .archived/kubernetes/database/emqx/ks.yaml
  .archived/kubernetes/database/emqx/operator/externalsecret.yaml
  .archived/kubernetes/database/emqx/operator/helm-release.yaml
  .archived/kubernetes/database/emqx/operator/kustomization.yaml
  .archived/kubernetes/mosquitto/app/mosquitto-config.yaml
  kubernetes/darkstar/apps/database/kustomization.yaml
  kubernetes/darkstar/apps/database/mosquitto/app/config/mosquitto.conf
  kubernetes/darkstar/apps/database/mosquitto/app/helm-release.yaml
  kubernetes/darkstar/apps/database/mosquitto/app/kustomization.yaml
  kubernetes/darkstar/apps/database/mosquitto/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/ks.yaml
Labels: area/kubernetes, cluster/darkstar

Return to mosquitto for a simple life
  .archived/kubernetes/database/emqx/cluster/cluster.yaml
  .archived/kubernetes/database/emqx/cluster/externalsecret.yaml
  .archived/kubernetes/database/emqx/cluster/kustomization.yaml
  .archived/kubernetes/database/emqx/ks.yaml
  .archived/kubernetes/database/emqx/operator/externalsecret.yaml
  .archived/kubernetes/database/emqx/operator/helm-release.yaml
  .archived/kubernetes/database/emqx/operator/kustomization.yaml
  .archived/kubernetes/mosquitto/app/mosquitto-config.yaml
  kubernetes/darkstar/apps/database/kustomization.yaml
  kubernetes/darkstar/apps/database/mosquitto/app/config/mosquitto.conf
  kubernetes/darkstar/apps/database/mosquitto/app/helm-release.yaml
  kubernetes/darkstar/apps/database/mosquitto/app/kustomization.yaml
  kubernetes/darkstar/apps/database/mosquitto/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/ks.yaml
Labels: area/kubernetes, cluster/darkstar

Add a couple features to promspec - see comment
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Add a couple features to promspec - see comment
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Trying something
  kubernetes/darkstar/apps/storage/volsync/templates/r2/externalsecret.yaml
  kubernetes/darkstar/apps/storage/volsync/templates/r2/kustomization.yaml
  kubernetes/darkstar/apps/storage/volsync/templates/r2/replication-destination.yaml
  kubernetes/darkstar/apps/storage/volsync/templates/r2/replication-source.yaml
  kubernetes/darkstar/apps/storage/volsync/templates/r2/volsync-r2-secret-template.yaml
  kubernetes/darkstar/apps/storage/volsync/templates/r2/volsync-r2-secret.sops.yaml
Labels: area/kubernetes, cluster/darkstar

Trying something
  kubernetes/darkstar/apps/storage/volsync/templates/r2/externalsecret.yaml
  kubernetes/darkstar/apps/storage/volsync/templates/r2/kustomization.yaml
  kubernetes/darkstar/apps/storage/volsync/templates/r2/replication-destination.yaml
  kubernetes/darkstar/apps/storage/volsync/templates/r2/replication-source.yaml
  kubernetes/darkstar/apps/storage/volsync/templates/r2/volsync-r2-secret-template.yaml
  kubernetes/darkstar/apps/storage/volsync/templates/r2/volsync-r2-secret.sops.yaml
Labels: area/kubernetes, cluster/darkstar

Trying something
  kubernetes/darkstar/apps/storage/volsync/templates/r2/volsync-r2-secret-template.yaml
Labels: area/kubernetes, cluster/darkstar

Trying something
  kubernetes/darkstar/apps/storage/volsync/templates/r2/volsync-r2-secret-template.yaml
Labels: area/kubernetes, cluster/darkstar

Fix duplicate memory-snapshot-on-shutdown
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Fix duplicate memory-snapshot-on-shutdown
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar
