Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/darkstar, cluster/apollo

fix: set kubeproxyreplacement
  kubernetes/darkstar/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/darkstar

fix: another cilium value change ...
  kubernetes/darkstar/apps/kube-system/cilium/app/l2-lb.yaml
Labels: area/kubernetes, cluster/darkstar

fix: another cilium value change ...
  kubernetes/darkstar/apps/kube-system/cilium/app/l2-lb.yaml
Labels: area/kubernetes, cluster/darkstar

fix: another cilium value change ...
  kubernetes/darkstar/apps/kube-system/cilium/app/l2-lb.yaml
Labels: area/kubernetes, cluster/darkstar

update: change quality_profiles: to assign_scores_to:
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

update: change quality_profiles: to assign_scores_to:
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

update: change quality_profiles: to assign_scores_to:
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix: correct k3s version egex for renovate
  .github/renovate/packageRules.json5
Labels: area/ci

fix: correct k3s version egex for renovate
  .github/renovate/packageRules.json5
Labels: area/ci

fix: correct k3s version egex for renovate
  .github/renovate/packageRules.json5
Labels: area/ci

Update: remove transition time, possible "fix" for ikea lights toggling on when already off
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: remove transition time, possible "fix" for ikea lights toggling on when already off
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: remove transition time, possible "fix" for ikea lights toggling on when already off
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: swap tautulli to its own image source
  kubernetes/darkstar/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: swap tautulli to its own image source
  kubernetes/darkstar/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: swap tautulli to its own image source
  kubernetes/darkstar/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: not using local minio, only r2
  .taskfiles/volsync/templates/unlock.tmpl.yaml
Labels: none

fix: not using local minio, only r2
  .taskfiles/volsync/templates/unlock.tmpl.yaml
Labels: none

fix: not using local minio, only r2
  .taskfiles/volsync/templates/unlock.tmpl.yaml
Labels: none

fix: oops - actually setup tautulli args
  kubernetes/darkstar/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: oops - actually setup tautulli args
  kubernetes/darkstar/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: oops - actually setup tautulli args
  kubernetes/darkstar/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: set alertmanager tag version correctly
  kubernetes/darkstar/apps/monitoring/alertmanager/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: set alertmanager tag version correctly
  kubernetes/darkstar/apps/monitoring/alertmanager/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: set alertmanager tag version correctly
  kubernetes/darkstar/apps/monitoring/alertmanager/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: why is that there ...
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/addons/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/addons/scrapeconfigs/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/addons/scrapeconfigs/node-exporter.yaml
Labels: area/kubernetes, cluster/darkstar

update: why is that there ...
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/addons/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/addons/scrapeconfigs/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/addons/scrapeconfigs/node-exporter.yaml
Labels: area/kubernetes, cluster/darkstar

update: why is that there ...
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/addons/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/addons/scrapeconfigs/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/addons/scrapeconfigs/node-exporter.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove minio dash, add volsync
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove minio dash, add volsync
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove minio dash, add volsync
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: enable metrics
  kubernetes/darkstar/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: enable metrics
  kubernetes/darkstar/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: enable metrics
  kubernetes/darkstar/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: containerRuntime deprecated in cilium 1.16
  kubernetes/darkstar/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/darkstar

fix: containerRuntime deprecated in cilium 1.16
  kubernetes/darkstar/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/darkstar

fix: containerRuntime deprecated in cilium 1.16
  kubernetes/darkstar/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(helm): update cert-manager ( v1.15.3 → v1.16.0 )"
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(helm): update cert-manager ( v1.15.3 → v1.16.0 )"
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(helm): update cert-manager ( v1.15.3 → v1.16.0 )"
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"
