Repository Drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/scripts

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/scripts:
  - "scripts/**/*"

update: for the future - archive for now - mailrise
  _archived/mailrise/helm-release.yaml
  _archived/mailrise/kustomization.yaml
  _archived/mailrise/mailrise-conf.yaml
  cluster/config/cluster-secrets.sops.yaml
  cluster/config/cluster-settings.yaml
Labels: area/cluster

fix: actually delete it ...
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/mailrise/helm-release.yaml
  cluster/apps/default/mailrise/kustomization.yaml
  cluster/apps/default/mailrise/mailrise-conf.yaml
Labels: area/cluster

fix: actually delete it ...
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/mailrise/helm-release.yaml
  cluster/apps/default/mailrise/kustomization.yaml
  cluster/apps/default/mailrise/mailrise-conf.yaml
Labels: area/cluster

fix: actually delete it ...
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/mailrise/helm-release.yaml
  cluster/apps/default/mailrise/kustomization.yaml
  cluster/apps/default/mailrise/mailrise-conf.yaml
Labels: area/cluster

fix: specify prom sa and ns
  cluster/core/metallb/helm-release.yaml
Labels: area/cluster

fix: specify prom sa and ns
  cluster/core/metallb/helm-release.yaml
Labels: area/cluster

fix: specify prom sa and ns
  cluster/core/metallb/helm-release.yaml
Labels: area/cluster

update: tidy up github workflows update: remove trivy container scanning update: change to drae, not Drae update: remove superfluous python refs update: add my container repo for automerge
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/scripts/cloudflare-proxied-networks.sh
  .github/scripts/container-parser.sh
  .github/workflows/megalinter.yaml
  .github/workflows/scan-containers.yaml
Labels: area/github

update: tidy up github workflows update: remove trivy container scanning update: change to drae, not Drae update: remove superfluous python refs update: add my container repo for automerge
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/scripts/cloudflare-proxied-networks.sh
  .github/scripts/container-parser.sh
  .github/workflows/megalinter.yaml
  .github/workflows/scan-containers.yaml
Labels: area/github

update: tidy up github workflows update: remove trivy container scanning update: change to drae, not Drae update: remove superfluous python refs update: add my container repo for automerge
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/scripts/cloudflare-proxied-networks.sh
  .github/scripts/container-parser.sh
  .github/workflows/megalinter.yaml
  .github/workflows/scan-containers.yaml
Labels: area/github

fix: change Drae to drae
  README.md
  cluster/base/flux-system/gotk-sync.yaml
  infrastructure/talos/README.md
Labels: area/cluster

fix: change Drae to drae
  README.md
  cluster/base/flux-system/gotk-sync.yaml
  infrastructure/talos/README.md
Labels: area/cluster

fix: change Drae to drae
  README.md
  cluster/base/flux-system/gotk-sync.yaml
  infrastructure/talos/README.md
Labels: area/cluster

Create snyk-container.yml
  .github/workflows/snyk-container.yml
Labels: area/github

update: talhelper 1.4 gensecret support
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/talenv.sops.yaml
  infrastructure/talos/talsecret.sops.yaml
Labels: none

update: talhelper 1.4 gensecret support
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/talenv.sops.yaml
  infrastructure/talos/talsecret.sops.yaml
Labels: none

update: talhelper 1.4 gensecret support
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/talenv.sops.yaml
  infrastructure/talos/talsecret.sops.yaml
Labels: none

update: remove trivy
  cluster/apps/kustomization.yaml
  cluster/apps/trivy-system/helm-release.yaml
  cluster/apps/trivy-system/kustomization.yaml
  cluster/apps/trivy-system/namespace.yaml
Labels: area/cluster

update: remove trivy
  cluster/apps/kustomization.yaml
  cluster/apps/trivy-system/helm-release.yaml
  cluster/apps/trivy-system/kustomization.yaml
  cluster/apps/trivy-system/namespace.yaml
Labels: area/cluster

update: remove trivy
  cluster/apps/kustomization.yaml
  cluster/apps/trivy-system/helm-release.yaml
  cluster/apps/trivy-system/kustomization.yaml
  cluster/apps/trivy-system/namespace.yaml
Labels: area/cluster

fix: local lookup?
  cluster/apps/home/esphome/helm-release.yaml
  cluster/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix: local lookup?
  cluster/apps/home/esphome/helm-release.yaml
  cluster/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix: local lookup?
  cluster/apps/home/esphome/helm-release.yaml
  cluster/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

update: try plex theme park!
  cluster/apps/downloads/lidarr/helm-release.yaml
  cluster/apps/downloads/prowlarr/helm-release.yaml
  cluster/apps/downloads/radarr-uhd/helm-release.yaml
  cluster/apps/downloads/radarr/helm-release.yaml
  cluster/apps/downloads/sonarr-uhd/helm-release.yaml
  cluster/apps/downloads/sonarr/helm-release.yaml
Labels: area/cluster

update: try plex theme park!
  cluster/apps/downloads/lidarr/helm-release.yaml
  cluster/apps/downloads/prowlarr/helm-release.yaml
  cluster/apps/downloads/radarr-uhd/helm-release.yaml
  cluster/apps/downloads/radarr/helm-release.yaml
  cluster/apps/downloads/sonarr-uhd/helm-release.yaml
  cluster/apps/downloads/sonarr/helm-release.yaml
Labels: area/cluster

update: try plex theme park!
  cluster/apps/downloads/lidarr/helm-release.yaml
  cluster/apps/downloads/prowlarr/helm-release.yaml
  cluster/apps/downloads/radarr-uhd/helm-release.yaml
  cluster/apps/downloads/radarr/helm-release.yaml
  cluster/apps/downloads/sonarr-uhd/helm-release.yaml
  cluster/apps/downloads/sonarr/helm-release.yaml
Labels: area/cluster

update: remove Flights (no IMAX)
  cluster/apps/downloads/recyclarr/recyclarr.yaml
Labels: area/cluster

update: remove Flights (no IMAX)
  cluster/apps/downloads/recyclarr/recyclarr.yaml
Labels: area/cluster

update: remove Flights (no IMAX)
  cluster/apps/downloads/recyclarr/recyclarr.yaml
Labels: area/cluster

update: kubelet-cert-approver supports K8S 1.25
  infrastructure/talos/talconfig.yaml
Labels: none

update: kubelet-cert-approver supports K8S 1.25
  infrastructure/talos/talconfig.yaml
Labels: none

update: kubelet-cert-approver supports K8S 1.25
  infrastructure/talos/talconfig.yaml
Labels: none

fix: don't pull image from k8s-at-home repo
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix: don't pull image from k8s-at-home repo
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix: don't pull image from k8s-at-home repo
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/cluster

update: sonarr v4?
  cluster/apps/downloads/recyclarr/recyclarr.yaml
  cluster/apps/downloads/sonarr-uhd/helm-release.yaml
  cluster/apps/downloads/sonarr/helm-release.yaml
Labels: area/cluster

update: sonarr v4?
  cluster/apps/downloads/recyclarr/recyclarr.yaml
  cluster/apps/downloads/sonarr-uhd/helm-release.yaml
  cluster/apps/downloads/sonarr/helm-release.yaml
Labels: area/cluster

update: sonarr v4?
  cluster/apps/downloads/recyclarr/recyclarr.yaml
  cluster/apps/downloads/sonarr-uhd/helm-release.yaml
  cluster/apps/downloads/sonarr/helm-release.yaml
Labels: area/cluster

update: shift pod-gateway/admission-controller to new home
  cluster/core/vpn-gateway/helm-release.yaml
Labels: area/cluster

update: shift pod-gateway/admission-controller to new home
  cluster/core/vpn-gateway/helm-release.yaml
Labels: area/cluster
