Repository Drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/scripts

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/scripts:
  - "scripts/**/*"

fix: label name changes
  cluster/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix: label name changes
  cluster/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix: label name changes
  cluster/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

update: use a variable for the gpg key
  .taskfiles/ClusterTasks.yml
Labels: none

update: use a variable for the gpg key
  .taskfiles/ClusterTasks.yml
Labels: none

update: tidy up readme a little
  README.md
Labels: none

update: tidy up readme a little
  README.md
Labels: none

update: tidy up readme a little
  README.md
Labels: none

update: use a variable for the gpg key
  .taskfiles/ClusterTasks.yml
Labels: none

update: few more readme updates - still wip
  README.md
Labels: none

update: few more readme updates - still wip
  README.md
Labels: none

update: few more readme updates - still wip
  README.md
Labels: none

update: more waffle for the readme
  README.md
  infrastructure/talos/README.md
Labels: none

update: more waffle for the readme
  README.md
  infrastructure/talos/README.md
Labels: none

update: more waffle for the readme
  README.md
  infrastructure/talos/README.md
Labels: none

feature: use alertmanager-discord rather than built-in slack
  cluster/apps/monitoring/alertmanager-discord/discord-webhook.sops.yaml
  cluster/apps/monitoring/alertmanager-discord/helm-release.yaml
  cluster/apps/monitoring/alertmanager-discord/kustomization.yaml
  cluster/apps/monitoring/kube-prometheus/helm-release.yaml
  cluster/apps/monitoring/kustomization.yaml
Labels: area/cluster

feature: use alertmanager-discord rather than built-in slack
  cluster/apps/monitoring/alertmanager-discord/discord-webhook.sops.yaml
  cluster/apps/monitoring/alertmanager-discord/helm-release.yaml
  cluster/apps/monitoring/alertmanager-discord/kustomization.yaml
  cluster/apps/monitoring/kube-prometheus/helm-release.yaml
  cluster/apps/monitoring/kustomization.yaml
Labels: area/cluster

feature: use alertmanager-discord rather than built-in slack
  cluster/apps/monitoring/alertmanager-discord/discord-webhook.sops.yaml
  cluster/apps/monitoring/alertmanager-discord/helm-release.yaml
  cluster/apps/monitoring/alertmanager-discord/kustomization.yaml
  cluster/apps/monitoring/kube-prometheus/helm-release.yaml
  cluster/apps/monitoring/kustomization.yaml
Labels: area/cluster

update: cron run time changes
  cluster/apps/default/kopia/maintenance/cron-job.yaml
  cluster/apps/default/kopia/sync/cron-job.yaml
Labels: area/cluster

update: cron run time changes
  cluster/apps/default/kopia/maintenance/cron-job.yaml
  cluster/apps/default/kopia/sync/cron-job.yaml
Labels: area/cluster

update: cron run time changes
  cluster/apps/default/kopia/maintenance/cron-job.yaml
  cluster/apps/default/kopia/sync/cron-job.yaml
Labels: area/cluster

fix: bad links
  README.md
Labels: none

fix: bad links
  README.md
Labels: none

fix: bad links
  README.md
Labels: none

fix: remove superfluous include
  cluster/apps/monitoring/kube-prometheus/helm-release.yaml
Labels: area/cluster

fix: remove superfluous include
  cluster/apps/monitoring/kube-prometheus/helm-release.yaml
Labels: area/cluster

fix: remove superfluous include
  cluster/apps/monitoring/kube-prometheus/helm-release.yaml
Labels: area/cluster

update: change repo name to something generic
  .github/renovate.json5
  README.md
  cluster/base/flux-system/gotk-sync.yaml
  cluster/config/cluster-secrets.sops.yaml
  infrastructure/talos/README.md
Labels: area/github, area/cluster

update: change repo name to something generic
  .github/renovate.json5
  README.md
  cluster/base/flux-system/gotk-sync.yaml
  cluster/config/cluster-secrets.sops.yaml
  infrastructure/talos/README.md
Labels: area/github, area/cluster

update: change repo name to something generic
  .github/renovate.json5
  README.md
  cluster/base/flux-system/gotk-sync.yaml
  cluster/config/cluster-secrets.sops.yaml
  infrastructure/talos/README.md
Labels: area/github, area/cluster

update: update and simplify renovate
  .github/renovate.json5
Labels: area/github

update: update and simplify renovate
  .github/renovate.json5
Labels: area/github

update: update and simplify renovate
  .github/renovate.json5
Labels: area/github

fix: remove system upgrade controller
  cluster/crds/kustomization.yaml
  cluster/crds/system-upgrade-controller/kustomization.yaml
Labels: area/cluster

fix: remove system upgrade controller
  cluster/crds/kustomization.yaml
  cluster/crds/system-upgrade-controller/kustomization.yaml
Labels: area/cluster

fix: remove system upgrade controller
  cluster/crds/kustomization.yaml
  cluster/crds/system-upgrade-controller/kustomization.yaml
Labels: area/cluster

fix: generalicise (is that a word) cluster naming
  cluster/apps/monitoring/botkube/helm-release.yaml
  cluster/apps/monitoring/kube-prometheus/helm-release.yaml
Labels: area/cluster

fix: generalicise (is that a word) cluster naming
  cluster/apps/monitoring/botkube/helm-release.yaml
  cluster/apps/monitoring/kube-prometheus/helm-release.yaml
Labels: area/cluster

fix: generalicise (is that a word) cluster naming
  cluster/apps/monitoring/botkube/helm-release.yaml
  cluster/apps/monitoring/kube-prometheus/helm-release.yaml
Labels: area/cluster

update: various renovate scripts
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
  .github/renovate/semanticCommits.json5
Labels: area/github
