Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

fix(grafana): update flux-logs datasource from VictoriaLogs to Prometheus
  kubernetes/darkstar/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(grafana): update flux-logs datasource from VictoriaLogs to Prometheus
  kubernetes/darkstar/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(grafana): update flux dashboard URLs to point to main branch and add new performance dashboards
  kubernetes/darkstar/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(grafana): update flux dashboard URLs to point to main branch and add new performance dashboards
  kubernetes/darkstar/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(kustomization): remove keda resource from system kustomization and clear resources in nas-nfs-scaler component
  kubernetes/darkstar/apps/system/kustomization.yaml
  kubernetes/darkstar/components/keda/nas-nfs-scaler/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(kustomization): remove keda resource from system kustomization and clear resources in nas-nfs-scaler component
  kubernetes/darkstar/apps/system/kustomization.yaml
  kubernetes/darkstar/components/keda/nas-nfs-scaler/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(envoy-gateway): refactor EnvoyProxy and Gateway configurations, consolidate resources, and enhance traffic policies
  kubernetes/darkstar/apps/networking/envoy-gateway/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/envoyproxy.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/external/envoyproxy.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/external/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/gatewayclass.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/httproute.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/envoyproxy.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/policies/backendtrafficpolicy.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/policies/clienttrafficpolicy.yaml
Labels: area/kubernetes, cluster/darkstar

feat(envoy-gateway): refactor EnvoyProxy and Gateway configurations, consolidate resources, and enhance traffic policies
  kubernetes/darkstar/apps/networking/envoy-gateway/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/envoyproxy.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/external/envoyproxy.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/external/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/gatewayclass.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/httproute.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/envoyproxy.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/policies/backendtrafficpolicy.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/policies/clienttrafficpolicy.yaml
Labels: area/kubernetes, cluster/darkstar

fix(cloudflared): adjust service URL for starstreak.net hostname and consolidate originRequest
  kubernetes/darkstar/apps/networking/cloudflared/app/config/config.yaml
Labels: area/kubernetes, cluster/darkstar

fix(cloudflared): adjust service URL for starstreak.net hostname and consolidate originRequest
  kubernetes/darkstar/apps/networking/cloudflared/app/config/config.yaml
Labels: area/kubernetes, cluster/darkstar

fix(unifi): remove default namespace from BackendTLSPolicy and HelmRelease configurations
  kubernetes/darkstar/apps/default/unifi/app/backendtlspolicy.yaml
  kubernetes/darkstar/apps/default/unifi/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(unifi): remove default namespace from BackendTLSPolicy and HelmRelease configurations
  kubernetes/darkstar/apps/default/unifi/app/backendtlspolicy.yaml
  kubernetes/darkstar/apps/default/unifi/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(kustomization): comment out keda/nas-nfs-scaler component in multiple apps
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/home-automation/frigate/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/storage/volsync/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(kustomization): comment out keda/nas-nfs-scaler component in multiple apps
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/home-automation/frigate/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/storage/volsync/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(unifi): update image repository and tag, enhance security context, and adjust persistence paths
  kubernetes/darkstar/apps/default/unifi/app/helm-release.yaml
  kubernetes/darkstar/apps/default/unifi/app/kustomization.yaml
  kubernetes/darkstar/apps/default/unifi/app/tlsroute.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/gateway.yaml
Labels: area/kubernetes, cluster/darkstar

feat(unifi): update image repository and tag, enhance security context, and adjust persistence paths
  kubernetes/darkstar/apps/default/unifi/app/helm-release.yaml
  kubernetes/darkstar/apps/default/unifi/app/kustomization.yaml
  kubernetes/darkstar/apps/default/unifi/app/tlsroute.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/gateway.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(unifi): update image repository and tag, enhance security context, and adjust persistence paths"
  kubernetes/darkstar/apps/default/unifi/app/helm-release.yaml
  kubernetes/darkstar/apps/default/unifi/app/kustomization.yaml
  kubernetes/darkstar/apps/default/unifi/app/tlsroute.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/gateway.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(unifi): update image repository and tag, enhance security context, and adjust persistence paths"
  kubernetes/darkstar/apps/default/unifi/app/helm-release.yaml
  kubernetes/darkstar/apps/default/unifi/app/kustomization.yaml
  kubernetes/darkstar/apps/default/unifi/app/tlsroute.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/gateway.yaml
Labels: area/kubernetes, cluster/darkstar

feat(external-dns): add gateway-tlsroute to sources in helm-release.yaml
  kubernetes/darkstar/apps/networking/external-dns/adguard/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(external-dns): add gateway-tlsroute to sources in helm-release.yaml
  kubernetes/darkstar/apps/networking/external-dns/adguard/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(probes): comment out hive-hub.lan.starstreak.net in static targets
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/darkstar

fix(probes): comment out hive-hub.lan.starstreak.net in static targets
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/darkstar

feat(unifi): move unifi to networking ns
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/networking/kustomization.yaml
  kubernetes/darkstar/apps/networking/unifi/app/backendtlspolicy.yaml
  kubernetes/darkstar/apps/networking/unifi/app/certificate.yaml
  kubernetes/darkstar/apps/networking/unifi/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/unifi/app/kustomization.yaml
  kubernetes/darkstar/apps/networking/unifi/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(unifi): move unifi to networking ns
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/networking/kustomization.yaml
  kubernetes/darkstar/apps/networking/unifi/app/backendtlspolicy.yaml
  kubernetes/darkstar/apps/networking/unifi/app/certificate.yaml
  kubernetes/darkstar/apps/networking/unifi/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/unifi/app/kustomization.yaml
  kubernetes/darkstar/apps/networking/unifi/ks.yaml
Labels: area/kubernetes, cluster/darkstar

refactor: update parentRefs to use envoy-internal and envoy-external in various helm-release and httproute configurations
  kubernetes/darkstar/apps/downloads/prowlarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/sabnzbd/app/httproute.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/darkstar/apps/flux-system/flux-instance/app/github/webhooks/httproute.yaml
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/media/tautulli/app/helm-release.yaml
  kubernetes/darkstar/apps/media/tvheadend/app/httproute.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/envoyproxy.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/darkstar/apps/networking/external-dns/adguard/helm-release.yaml
  kubernetes/darkstar/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/darkstar/apps/networking/unifi/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/gatus/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/darkstar/apps/observability/kromgo/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/victoria-logs/app/httproute.yaml
Labels: area/kubernetes, cluster/darkstar

refactor: update parentRefs to use envoy-internal and envoy-external in various helm-release and httproute configurations
  kubernetes/darkstar/apps/downloads/prowlarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/sabnzbd/app/httproute.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/darkstar/apps/flux-system/flux-instance/app/github/webhooks/httproute.yaml
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/media/tautulli/app/helm-release.yaml
  kubernetes/darkstar/apps/media/tvheadend/app/httproute.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/envoyproxy.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/darkstar/apps/networking/external-dns/adguard/helm-release.yaml
  kubernetes/darkstar/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/darkstar/apps/networking/unifi/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/gatus/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/darkstar/apps/observability/kromgo/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/victoria-logs/app/httproute.yaml
Labels: area/kubernetes, cluster/darkstar

refactor: remove version specification and update file paths in docker-compose configurations
  infrastructure/ansible/files/docker-compose/node-exporter/docker-compose.yml
  infrastructure/ansible/files/docker-compose/qbittorrent/docker-compose.yml
  infrastructure/ansible/files/docker-compose/sabnzbd/docker-compose.yml
  infrastructure/ansible/files/docker-compose/smartctl-exporter/docker-compose.yml
  infrastructure/ansible/inventory/group_vars/all.yml
  infrastructure/ansible/playbooks/apollo/apps.yml
  infrastructure/ansible/playbooks/common/docker-base.yml
  infrastructure/ansible/playbooks/gravity/apps.yml
Labels: area/ansible, cluster/apollo

refactor: remove version specification and update file paths in docker-compose configurations
  infrastructure/ansible/files/docker-compose/node-exporter/docker-compose.yml
  infrastructure/ansible/files/docker-compose/qbittorrent/docker-compose.yml
  infrastructure/ansible/files/docker-compose/sabnzbd/docker-compose.yml
  infrastructure/ansible/files/docker-compose/smartctl-exporter/docker-compose.yml
  infrastructure/ansible/inventory/group_vars/all.yml
  infrastructure/ansible/playbooks/apollo/apps.yml
  infrastructure/ansible/playbooks/common/docker-base.yml
  infrastructure/ansible/playbooks/gravity/apps.yml
Labels: area/ansible, cluster/apollo

fix: update sabnzbd service and httproute to use port 8081
  kubernetes/darkstar/apps/downloads/sabnzbd/app/httproute.yaml
  kubernetes/darkstar/apps/downloads/sabnzbd/app/service.yaml
Labels: area/kubernetes, cluster/darkstar

fix: update sabnzbd service and httproute to use port 8081
  kubernetes/darkstar/apps/downloads/sabnzbd/app/httproute.yaml
  kubernetes/darkstar/apps/downloads/sabnzbd/app/service.yaml
Labels: area/kubernetes, cluster/darkstar

refactor: remove quotes from volume path in sabnzbd docker-compose configuration
  infrastructure/ansible/files/docker-compose/sabnzbd/docker-compose.yml
Labels: area/ansible

refactor: remove quotes from volume path in sabnzbd docker-compose configuration
  infrastructure/ansible/files/docker-compose/sabnzbd/docker-compose.yml
Labels: area/ansible

feat: add smartctl-exporter configuration and update resource references in kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/smartctl-exporter.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/topolvm.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/zfs-exporter.yaml
Labels: area/kubernetes, cluster/darkstar

feat: add smartctl-exporter configuration and update resource references in kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/smartctl-exporter.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/topolvm.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/zfs-exporter.yaml
Labels: area/kubernetes, cluster/darkstar

feat: split out docker-compose setup to role and update taskfile
  .taskfiles/ansible/Taskfile.yml
  infrastructure/ansible/ansible.cfg
  infrastructure/ansible/playbooks/apollo/apps.yml
  infrastructure/ansible/playbooks/common/docker-base.yml
  infrastructure/ansible/playbooks/gravity/apps.yml
  infrastructure/ansible/roles/docker_compose_service/README.md
  infrastructure/ansible/roles/docker_compose_service/defaults/main.yml
  infrastructure/ansible/roles/docker_compose_service/handlers/main.yml
  infrastructure/ansible/roles/docker_compose_service/tasks/main.yml
  infrastructure/ansible/roles/docker_compose_service/templates/docker-compose.service.j2
Labels: area/ansible, cluster/apollo

feat: split out docker-compose setup to role and update taskfile
  .taskfiles/ansible/Taskfile.yml
  infrastructure/ansible/ansible.cfg
  infrastructure/ansible/playbooks/apollo/apps.yml
  infrastructure/ansible/playbooks/common/docker-base.yml
  infrastructure/ansible/playbooks/gravity/apps.yml
  infrastructure/ansible/roles/docker_compose_service/README.md
  infrastructure/ansible/roles/docker_compose_service/defaults/main.yml
  infrastructure/ansible/roles/docker_compose_service/handlers/main.yml
  infrastructure/ansible/roles/docker_compose_service/tasks/main.yml
  infrastructure/ansible/roles/docker_compose_service/templates/docker-compose.service.j2
Labels: area/ansible, cluster/apollo

refactor: remove qbittorrent secrets environment file
  infrastructure/ansible/files/docker-compose/qbittorrent/secrets.sops.env
Labels: area/ansible

refactor: remove unused docker-compose and secrets files for doco-cd
  infrastructure/ansible/files/docker-compose/doco-cd/docker-compose.yaml
  infrastructure/ansible/files/docker-compose/doco-cd/secrets.sops.env
Labels: area/ansible

fix(scrapeconfigs): correct YAML schema comment formatting in node-exporter and zfs-exporter configurations
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/topolvm.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/zfs-exporter.yaml
Labels: area/kubernetes, cluster/darkstar

feat(scrapeconfigs): add smartctl-exporter configuration to kustomization
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/smartctl-exporter.yaml
Labels: area/kubernetes, cluster/darkstar
