Repository Drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/scripts

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/scripts:
  - "scripts/**/*"

fix: Temp disable flux metrics
  cluster/apps/flux-system/kustomization.yaml
Labels: area/cluster

fix: Temp disable flux metrics
  cluster/apps/flux-system/kustomization.yaml
Labels: area/cluster

feat: Remove old talos config
  _keep/talos/README.md
  _keep/talos/overrides.yaml
Labels: none

feat: Remove old talos config
  _keep/talos/README.md
  _keep/talos/overrides.yaml
Labels: none

feat: Replace in-cluster calico with cilium - maybe
  cluster/apps/calico-system/namespace.yaml
  cluster/apps/kube-system/cilium/helm-release.yaml
  cluster/apps/kube-system/cilium/kustomization.yaml
  cluster/apps/kube-system/kustomization.yaml
  cluster/config/cluster-secrets.sops.yaml
Labels: area/cluster

feat: Replace in-cluster calico with cilium - maybe
  cluster/apps/calico-system/namespace.yaml
  cluster/apps/kube-system/cilium/helm-release.yaml
  cluster/apps/kube-system/cilium/kustomization.yaml
  cluster/apps/kube-system/kustomization.yaml
  cluster/config/cluster-secrets.sops.yaml
Labels: area/cluster

feat: Replace openebs with rook - maybe
  cluster/core/kustomization.yaml
  cluster/core/openebs/helm-release.yaml
  cluster/core/openebs/kustomization.yaml
  cluster/core/openebs/namespace.yaml
  cluster/core/openebs/snapshot-class.yaml
  cluster/core/openebs/storage-class.yaml
  cluster/core/rook-ceph/cluster/helm-release.yaml
  cluster/core/rook-ceph/cluster/kustomization.yaml
  cluster/core/rook-ceph/dashboard/ceph-cluster-dashboard.json
  cluster/core/rook-ceph/dashboard/ceph-osd-dashboard.json
  cluster/core/rook-ceph/dashboard/ceph-pools-dashboard.json
  cluster/core/rook-ceph/dashboard/kustomization.yaml
  cluster/core/rook-ceph/kustomization.yaml
  cluster/core/rook-ceph/namespace.yaml
  cluster/core/rook-ceph/operator/helm-release.yaml
  cluster/core/rook-ceph/operator/kustomization.yaml
  cluster/core/rook-ceph/rook-direct-mount/backup.sh
  cluster/core/rook-ceph/rook-direct-mount/deployment.yaml
  cluster/core/rook-ceph/rook-direct-mount/kustomization.yaml
  cluster/crds/kustomization.yaml
  cluster/crds/rook-ceph/crds.yaml
  cluster/crds/rook-ceph/kustomization.yaml
  talos/README.md
Labels: area/cluster

feat: Replace openebs with rook - maybe
  cluster/core/kustomization.yaml
  cluster/core/openebs/helm-release.yaml
  cluster/core/openebs/kustomization.yaml
  cluster/core/openebs/namespace.yaml
  cluster/core/openebs/snapshot-class.yaml
  cluster/core/openebs/storage-class.yaml
  cluster/core/rook-ceph/cluster/helm-release.yaml
  cluster/core/rook-ceph/cluster/kustomization.yaml
  cluster/core/rook-ceph/dashboard/ceph-cluster-dashboard.json
  cluster/core/rook-ceph/dashboard/ceph-osd-dashboard.json
  cluster/core/rook-ceph/dashboard/ceph-pools-dashboard.json
  cluster/core/rook-ceph/dashboard/kustomization.yaml
  cluster/core/rook-ceph/kustomization.yaml
  cluster/core/rook-ceph/namespace.yaml
  cluster/core/rook-ceph/operator/helm-release.yaml
  cluster/core/rook-ceph/operator/kustomization.yaml
  cluster/core/rook-ceph/rook-direct-mount/backup.sh
  cluster/core/rook-ceph/rook-direct-mount/deployment.yaml
  cluster/core/rook-ceph/rook-direct-mount/kustomization.yaml
  cluster/crds/kustomization.yaml
  cluster/crds/rook-ceph/crds.yaml
  cluster/crds/rook-ceph/kustomization.yaml
  talos/README.md
Labels: area/cluster

feat: Update k3s to 1.24.2 - via ansible
  ansible/kubernetes/roles/k3s.kubernetes/vars/main.yml
Labels: area/ansible

feat: Update k3s to 1.24.2 - via ansible
  ansible/kubernetes/roles/k3s.kubernetes/vars/main.yml
Labels: area/ansible

fix: As usual, forgot the chart repo for something
  cluster/charts/kustomization.yaml
  cluster/charts/rook-ceph.yaml
Labels: area/cluster

fix: As usual, forgot the chart repo for something
  cluster/charts/kustomization.yaml
  cluster/charts/rook-ceph.yaml
Labels: area/cluster

fix: Retain not retain
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

fix: Retain not retain
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

fix: Calico leftovers
  cluster/apps/kustomization.yaml
  cluster/apps/tigera-operator/helm-release.yaml
  cluster/apps/tigera-operator/kustomization.yaml
  cluster/apps/tigera-operator/namespace.yaml
Labels: area/cluster

fix: Calico leftovers
  cluster/apps/kustomization.yaml
  cluster/apps/tigera-operator/helm-release.yaml
  cluster/apps/tigera-operator/kustomization.yaml
  cluster/apps/tigera-operator/namespace.yaml
Labels: area/cluster

fix: Another missing repo
  cluster/charts/cilium-charts.yaml
  cluster/charts/kustomization.yaml
Labels: area/cluster

fix: Another missing repo
  cluster/charts/cilium-charts.yaml
  cluster/charts/kustomization.yaml
Labels: area/cluster

fix: Trying something
  cluster/apps/downloads/radarr/config-pvc.yaml
Labels: area/cluster

fix: Trying something
  cluster/apps/downloads/radarr/config-pvc.yaml
Labels: area/cluster

fix: Set pod-security label privileged
  cluster/apps/starboard-system/namespace.yaml
  cluster/core/metallb/namespace.yaml
  cluster/core/rook-ceph/namespace.yaml
Labels: area/cluster

fix: Set pod-security label privileged
  cluster/apps/starboard-system/namespace.yaml
  cluster/core/metallb/namespace.yaml
  cluster/core/rook-ceph/namespace.yaml
Labels: area/cluster

fix: Privileged pod security
  cluster/apps/home/namespace.yaml
  cluster/apps/starboard-system/namespace.yaml
  cluster/core/metallb/namespace.yaml
  cluster/core/rook-ceph/namespace.yaml
  cluster/core/vpn-gateway/namespace.yaml
Labels: area/cluster

fix: Privileged pod security
  cluster/apps/home/namespace.yaml
  cluster/apps/starboard-system/namespace.yaml
  cluster/core/metallb/namespace.yaml
  cluster/core/rook-ceph/namespace.yaml
  cluster/core/vpn-gateway/namespace.yaml
Labels: area/cluster

fix: talosconfig env var
  .envrc
Labels: none

fix: talosconfig env var
  .envrc
Labels: none

feat: Add a bunch of cluster tasks
  .taskfiles/ClusterTasks.yml
Labels: none

feat: Add a bunch of cluster tasks
  .taskfiles/ClusterTasks.yml
Labels: none

feat: wipe-rook yaml
  tools/wipe-rook.yaml
Labels: none

feat: wipe-rook yaml
  tools/wipe-rook.yaml
Labels: none

fix: disable starboard and system-upgrade
  cluster/apps/kustomization.yaml
Labels: area/cluster

fix: disable starboard and system-upgrade
  cluster/apps/kustomization.yaml
Labels: area/cluster

fix: Add helm annotations
  talos/cni/install.yaml
Labels: none

fix: Add helm annotations
  talos/cni/install.yaml
Labels: none

fix: Probe for existing kube-proxy
  cluster/apps/kube-system/cilium/helm-release.yaml
Labels: area/cluster

fix: Probe for existing kube-proxy
  cluster/apps/kube-system/cilium/helm-release.yaml
Labels: area/cluster

fix: maybe ... known issue with ceph, unparseable uuid Fix for now is to set bluefs_buttered_io = false
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

fix: maybe ... known issue with ceph, unparseable uuid Fix for now is to set bluefs_buttered_io = false
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

fix: Okay, try 1.8.9
  cluster/core/rook-ceph/cluster/helm-release.yaml
  cluster/core/rook-ceph/operator/helm-release.yaml
  cluster/core/rook-ceph/rook-direct-mount/deployment.yaml
  cluster/crds/rook-ceph/crds.yaml
Labels: area/cluster

fix: Okay, try 1.8.9
  cluster/core/rook-ceph/cluster/helm-release.yaml
  cluster/core/rook-ceph/operator/helm-release.yaml
  cluster/core/rook-ceph/rook-direct-mount/deployment.yaml
  cluster/crds/rook-ceph/crds.yaml
Labels: area/cluster
