Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

fix(.gitignore): add .lock to ignore Python lock files
  .gitignore
Labels: none

fix(.gitignore): add .lock to ignore Python lock files
  .gitignore
Labels: none

refactor(ansible): update playbook description and prompt for clarity; remove obsolete requirements files
  .taskfiles/ansible/Taskfile.yml
  infrastructure/ansible/README.md
  infrastructure/ansible/gravity/requirements.txt
  infrastructure/ansible/gravity/requirements.yml
Labels: area/ansible

refactor(ansible): update playbook description and prompt for clarity; remove obsolete requirements files
  .taskfiles/ansible/Taskfile.yml
  infrastructure/ansible/README.md
  infrastructure/ansible/gravity/requirements.txt
  infrastructure/ansible/gravity/requirements.yml
Labels: area/ansible

fix(playbook): replace lineinfile with blockinfile for ZFS_POOL_IMPORT_FLAGS fix: ZFS_POOL_IMPORT_FLAGS is now ZPOOL_IMPORT_OPTS fix: update delegate_to for zfs_exporter build
  infrastructure/ansible/apollo/playbooks/os.yml
Labels: area/ansible, cluster/apollo

fix(playbook): replace lineinfile with blockinfile for ZFS_POOL_IMPORT_FLAGS fix: ZFS_POOL_IMPORT_FLAGS is now ZPOOL_IMPORT_OPTS fix: update delegate_to for zfs_exporter build
  infrastructure/ansible/apollo/playbooks/os.yml
Labels: area/ansible, cluster/apollo

fix(plans): remove postCompleteDelay and adjust nodeSelector for consistency
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/darkstar

fix(plans): remove postCompleteDelay and adjust nodeSelector for consistency
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/darkstar

fix(talconfig): add vlan 30
  infrastructure/talos/darkstar/talconfig.yaml
Labels: area/talos, cluster/darkstar

fix(talconfig): add vlan 30
  infrastructure/talos/darkstar/talconfig.yaml
Labels: area/talos, cluster/darkstar

feat(multus): add VPN network attachment definition
  kubernetes/darkstar/apps/networking/multus/config/kustomization.yaml
  kubernetes/darkstar/apps/networking/multus/config/net-attach-vpn.yaml
Labels: area/kubernetes, cluster/darkstar

feat(multus): add VPN network attachment definition
  kubernetes/darkstar/apps/networking/multus/config/kustomization.yaml
  kubernetes/darkstar/apps/networking/multus/config/net-attach-vpn.yaml
Labels: area/kubernetes, cluster/darkstar

fix(probes): ping 1.1.1.1 and http probe one.one.one.one
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/darkstar

fix(probes): ping 1.1.1.1 and http probe one.one.one.one
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/darkstar

fix(blackbox-exporter): rolling update and simplify securitycontext
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(blackbox-exporter): rolling update and simplify securitycontext
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(probes): change tvheadend target hostname in blackbox-exporter configuration
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/darkstar

fix(probes): change tvheadend target hostname in blackbox-exporter configuration
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/darkstar

fix(probes): add duplicate target for tvh.p.lan.starstreak.net in http probe configuration
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/darkstar

fix(probes): add duplicate target for tvh.p.lan.starstreak.net in http probe configuration
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/darkstar

feat(vpn): add blackbox-exporter-vpn configuration with probes and kustomization
  kubernetes/darkstar/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/darkstar/apps/observability/blackbox-exporter/vpn/helm-release.yaml
  kubernetes/darkstar/apps/observability/blackbox-exporter/vpn/kustomization.yaml
  kubernetes/darkstar/apps/observability/blackbox-exporter/vpn/probes.yaml
Labels: area/kubernetes, cluster/darkstar

feat(vpn): add blackbox-exporter-vpn configuration with probes and kustomization
  kubernetes/darkstar/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/darkstar/apps/observability/blackbox-exporter/vpn/helm-release.yaml
  kubernetes/darkstar/apps/observability/blackbox-exporter/vpn/kustomization.yaml
  kubernetes/darkstar/apps/observability/blackbox-exporter/vpn/probes.yaml
Labels: area/kubernetes, cluster/darkstar

fix(blackbox-exporter): update podAnnotations for multus network configuration
  kubernetes/darkstar/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/darkstar/apps/observability/blackbox-exporter/vpn/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(blackbox-exporter): update podAnnotations for multus network configuration
  kubernetes/darkstar/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/darkstar/apps/observability/blackbox-exporter/vpn/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(multus): update cniVersion to 1.1.0 in network attachment definitions
  kubernetes/darkstar/apps/networking/multus/config/net-attach-iot.yaml
  kubernetes/darkstar/apps/networking/multus/config/net-attach-vpn.yaml
Labels: area/kubernetes, cluster/darkstar

fix(multus): update cniVersion to 1.1.0 in network attachment definitions
  kubernetes/darkstar/apps/networking/multus/config/net-attach-iot.yaml
  kubernetes/darkstar/apps/networking/multus/config/net-attach-vpn.yaml
Labels: area/kubernetes, cluster/darkstar

fix(multus): update pod configuration to use defaultPodOptions and enhance security context
  kubernetes/darkstar/apps/networking/multus/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(multus): update pod configuration to use defaultPodOptions and enhance security context
  kubernetes/darkstar/apps/networking/multus/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(blackbox-exporter): comment out unused blackbox-exporter-vpn configuration
  kubernetes/darkstar/apps/observability/blackbox-exporter/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(blackbox-exporter): comment out unused blackbox-exporter-vpn configuration
  kubernetes/darkstar/apps/observability/blackbox-exporter/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(talconfig): update nfsrahead extension and change admission registration API version to v1beta1
  infrastructure/talos/darkstar/talconfig.yaml
Labels: area/talos, cluster/darkstar

fix(talconfig): update nfsrahead extension and change admission registration API version to v1beta1
  infrastructure/talos/darkstar/talconfig.yaml
Labels: area/talos, cluster/darkstar

feat(k8tz): remove k8tz and set timezones per release
  .archived/kubernetes/k8tz/app/helm-release.yaml
  .archived/kubernetes/k8tz/app/kustomization.yaml
  .archived/kubernetes/k8tz/ks.yaml
  kubernetes/darkstar/apps/database/mosquitto/app/helm-release.yaml
  kubernetes/darkstar/apps/default/atuin/app/helm-release.yaml
  kubernetes/darkstar/apps/default/unifi/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/media/tautulli/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/gatus/app/helm-release.yaml
  kubernetes/darkstar/apps/system-controllers/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(k8tz): remove k8tz and set timezones per release
  .archived/kubernetes/k8tz/app/helm-release.yaml
  .archived/kubernetes/k8tz/app/kustomization.yaml
  .archived/kubernetes/k8tz/ks.yaml
  kubernetes/darkstar/apps/database/mosquitto/app/helm-release.yaml
  kubernetes/darkstar/apps/default/atuin/app/helm-release.yaml
  kubernetes/darkstar/apps/default/unifi/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/media/tautulli/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/gatus/app/helm-release.yaml
  kubernetes/darkstar/apps/system-controllers/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(external-secrets): add HelmRelease and Kustomization configurations
  kubernetes/darkstar/apps/external-secrets/external-secrets/app/helm-release.yaml
  kubernetes/darkstar/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/darkstar/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/darkstar/apps/external-secrets/kustomization.yaml
  kubernetes/darkstar/apps/external-secrets/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

feat(external-secrets): add HelmRelease and Kustomization configurations
  kubernetes/darkstar/apps/external-secrets/external-secrets/app/helm-release.yaml
  kubernetes/darkstar/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/darkstar/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/darkstar/apps/external-secrets/kustomization.yaml
  kubernetes/darkstar/apps/external-secrets/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

feat(external-secrets): add Kustomization and SecretStore for external secrets management
  kubernetes/darkstar/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/darkstar/apps/external-secrets/external-secrets/stores/k8s-ns-storage.yaml
  kubernetes/darkstar/apps/external-secrets/external-secrets/stores/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(external-secrets): add Kustomization and SecretStore for external secrets management
  kubernetes/darkstar/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/darkstar/apps/external-secrets/external-secrets/stores/k8s-ns-storage.yaml
  kubernetes/darkstar/apps/external-secrets/external-secrets/stores/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(external-secrets): add ServiceAccount and RBAC for eso-k8s-auth
  kubernetes/darkstar/apps/external-secrets/external-secrets/stores/k8s-ns-storage.yaml
  kubernetes/darkstar/apps/storage/volsync/app/kustomization.yaml
  kubernetes/darkstar/apps/storage/volsync/app/rbac.yaml
  kubernetes/darkstar/apps/storage/volsync/app/volsync-nfs-secret.sops.yaml
Labels: area/kubernetes, cluster/darkstar

feat(external-secrets): add ServiceAccount and RBAC for eso-k8s-auth
  kubernetes/darkstar/apps/external-secrets/external-secrets/stores/k8s-ns-storage.yaml
  kubernetes/darkstar/apps/storage/volsync/app/kustomization.yaml
  kubernetes/darkstar/apps/storage/volsync/app/rbac.yaml
  kubernetes/darkstar/apps/storage/volsync/app/volsync-nfs-secret.sops.yaml
Labels: area/kubernetes, cluster/darkstar

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"
