Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

fix(sabnzbd): update service and httproute to use port 8081
  kubernetes/darkstar/apps/downloads/sabnzbd/app/httproute.yaml
  kubernetes/darkstar/apps/downloads/sabnzbd/app/service.yaml
Labels: area/kubernetes, cluster/darkstar

feat(renovate): update configuration files for improved dependency management and commit message formatting
  .renovate/autoMerge.json5
  .renovate/clusters.json5
  .renovate/commitMessage.json5
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovate/overrides.json5
  renovate.json5
Labels: none

feat(qbittorrent): update qbittorrent image to version 5.1.2
  infrastructure/ansible/templates/docker-compose/qbittorrent/docker-compose.yml.j2
Labels: area/ansible

feat(qbittorrent): add kustomization, service, and httproute configurations
  kubernetes/darkstar/apps/downloads/kustomization.yaml
  kubernetes/darkstar/apps/downloads/qbittorrent/app/httproute.yaml
  kubernetes/darkstar/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/qbittorrent/app/service.yaml
  kubernetes/darkstar/apps/downloads/qbittorrent/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(workflows): add CodeQL analysis and labeler workflows
  .github/workflows/codeql.yml
  .github/workflows/labeler.yaml
Labels: area/github

fix(renovate): update timezone from Europe/Amsterdam to Europe/London
  renovate.json5
Labels: none

feat(sonarr): add tag-codecs.sh script and update refresh-series.sh for codec handling
  kubernetes/darkstar/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/resources/refresh-series.sh
  kubernetes/darkstar/apps/downloads/sonarr/app/resources/tag-codecs.sh
Labels: area/kubernetes, cluster/darkstar

feat(helm): add feature gate to cancel health checks on new Kustomizations revisions
  kubernetes/darkstar/apps/flux-system/flux-instance/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(prometheusrule): update schema URL for PrometheusRule validation
  kubernetes/darkstar/apps/flux-system/flux-instance/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/darkstar

fix(coredns): update chart tag to 1.45.0 and remove cosign verification
  kubernetes/darkstar/apps/kube-system/coredns/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(renovate): add initial Renovate workflow configuration
  .github/workflows/renovate.yaml
Labels: area/github

fix(renovate): update Renovate configuration for improved path handling and extend options
  .github/workflows/renovate.yaml
  renovate.json5
Labels: area/github

fix(config): update object tracking and zone coordinates in Frigate configuration
  kubernetes/darkstar/apps/home-automation/frigate/app/resources/config.yml
Labels: area/kubernetes, cluster/darkstar

fix(secret): update Frigate secret values and metadata for improved security
  kubernetes/darkstar/apps/home-automation/frigate/app/frigate-secret.sops.yaml
Labels: area/kubernetes, cluster/darkstar

fix(config): correct object names and add motorcycle to tracking and filters
  kubernetes/darkstar/apps/home-automation/frigate/app/resources/config.yml
Labels: area/kubernetes, cluster/darkstar

fix(frigate): Update config.yml add person to forecourt
  kubernetes/darkstar/apps/home-automation/frigate/app/resources/config.yml
Labels: area/kubernetes, cluster/darkstar

fix(renovate): remove deprecated Renovate workflow configuration
  .github/workflows/renovate.yaml
Labels: area/github

chore: remove CodeQL workflow configuration
  .github/workflows/codeql.yml
Labels: area/github

fix(renovate): update extends configuration in renovate.json5
  renovate.json5
Labels: none

feat(helmfile): restructure helmfile configuration and add new templates
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/darkstar/bootstrap/helmfile.d/helmfile-apps.yaml
  kubernetes/darkstar/bootstrap/helmfile.d/helmfile-crds.yaml
  kubernetes/darkstar/bootstrap/helmfile.d/templates/format-lvm.yaml.gotmpl
  kubernetes/darkstar/bootstrap/helmfile.d/templates/values.yaml.gotmpl
Labels: area/kubernetes, cluster/darkstar

refactor(customManagers): remove obsolete mise package regex manager
  .renovate/customManagers.json5
Labels: none

feat(kustomization): add keda resource to main kustomization and define scaledobject in keda component
  kubernetes/darkstar/apps/system/kustomization.yaml
  kubernetes/darkstar/components/keda/nas-nfs-scaler/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helmfile): reorder releases for clarity and consistency
  kubernetes/darkstar/bootstrap/helmfile.d/helmfile-crds.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(customManagers): remove deprecated regex patterns for clarity
  .renovate/customManagers.json5
Labels: none

refactor(renovate): remove customManagers configuration and update references
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  renovate.json5
Labels: none

feat(mcp): add initial configuration for flux-operator-mcp server
  .vscode/mcp.json
Labels: none

fix(home-assistant): update matter-hub image tag to 3.0.0-alpha.95
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(gateway): remove hostname from HTTPS listener configuration
  kubernetes/darkstar/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/gateway.yaml
Labels: area/kubernetes, cluster/darkstar

fix(external-dns): remove domainFilters and excludeDomains from HelmRelease configurations
  kubernetes/darkstar/apps/networking/external-dns/adguard/helm-release.yaml
  kubernetes/darkstar/apps/networking/external-dns/cloudflare/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(unifi): remove unifi application resources and configurations
  kubernetes/darkstar/apps/networking/kustomization.yaml
  kubernetes/darkstar/apps/networking/unifi/app/backendtlspolicy.yaml
  kubernetes/darkstar/apps/networking/unifi/app/certificate.yaml
  kubernetes/darkstar/apps/networking/unifi/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/unifi/app/kustomization.yaml
  kubernetes/darkstar/apps/networking/unifi/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix: update hostnames to remove '.p.lan' suffix across multiple applications
  kubernetes/darkstar/apps/downloads/prowlarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/qbittorrent/app/httproute.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/sabnzbd/app/httproute.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/media/tautulli/app/helm-release.yaml
  kubernetes/darkstar/apps/media/tvheadend/app/httproute.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/certificate.yaml
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/darkstar/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/smartctl-exporter/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/victoria-logs/app/httproute.yaml
  kubernetes/darkstar/components/gatus/internal/configmap.yaml
Labels: area/kubernetes, cluster/darkstar

fix(mosquitto): migrate configuration from separate file to HelmRelease values
  kubernetes/darkstar/apps/database/mosquitto/app/config/mosquitto.conf
  kubernetes/darkstar/apps/database/mosquitto/app/helm-release.yaml
  kubernetes/darkstar/apps/database/mosquitto/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): remove commented-out configurations for Wyoming services
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): update parent reference from envoy-external to envoy-internal
  kubernetes/darkstar/apps/observability/gatus/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): update PLEX_NO_AUTH_NETWORKS and remove unused route configuration
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): remove unused ingress class argument from extraArgs
  kubernetes/darkstar/apps/networking/external-dns/adguard/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): update name reference and hostname for zigbee2mqtt
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): increase memory limit for app container and comment out matter-hub configuration
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(kustomization): comment out smartctl-exporter resource in scrapeconfigs
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(frigate): update ffmpeg hwaccel_args to use intel-qsv-h264 preset
  kubernetes/darkstar/apps/home-automation/frigate/app/resources/config.yml
Labels: area/kubernetes, cluster/darkstar
