Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

fix: correct the patch for settings and secrets
  kubernetes/darkstar/apps/flux-system/flux-operator/instance/values.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove csr approver?
  _archived/kubernetes/kubelet-csr-approver/app/helm-release.yaml
  _archived/kubernetes/kubelet-csr-approver/app/kustomization.yaml
  _archived/kubernetes/kubelet-csr-approver/app/kustomize-config.yaml
  _archived/kubernetes/kubelet-csr-approver/app/values.yaml
  _archived/kubernetes/kubelet-csr-approver/ks.yaml
  infrastructure/darkstar/talos/talconfig.yaml
  kubernetes/darkstar/apps/system-controllers/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove csr approver?
  _archived/kubernetes/kubelet-csr-approver/app/helm-release.yaml
  _archived/kubernetes/kubelet-csr-approver/app/kustomization.yaml
  _archived/kubernetes/kubelet-csr-approver/app/kustomize-config.yaml
  _archived/kubernetes/kubelet-csr-approver/app/values.yaml
  _archived/kubernetes/kubelet-csr-approver/ks.yaml
  infrastructure/darkstar/talos/talconfig.yaml
  kubernetes/darkstar/apps/system-controllers/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: enable insecure tls for kube-metrics
  kubernetes/darkstar/apps/kube-system/metrics-server/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: enable insecure tls for kube-metrics
  kubernetes/darkstar/apps/kube-system/metrics-server/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove csr-approver from helmfile update: switch prom and coredns to use oci charts
  infrastructure/darkstar/talos/integrations/helmfile.yaml
Labels: cluster/darkstar

update: remove csr-approver from helmfile update: switch prom and coredns to use oci charts
  infrastructure/darkstar/talos/integrations/helmfile.yaml
Labels: cluster/darkstar

update: re-add music assistant
  kubernetes/darkstar/apps/media/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
Labels: area/kubernetes, cluster/darkstar

update: re-add music assistant
  kubernetes/darkstar/apps/media/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
Labels: area/kubernetes, cluster/darkstar

update: immediate binding for topolvm
  kubernetes/darkstar/apps/storage/topolvm/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: immediate binding for topolvm
  kubernetes/darkstar/apps/storage/topolvm/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: oopsie - get the service and ingress correct
  kubernetes/darkstar/apps/media/music-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: oopsie - get the service and ingress correct
  kubernetes/darkstar/apps/media/music-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: mass on load balancer
  kubernetes/darkstar/apps/media/music-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: mass on load balancer
  kubernetes/darkstar/apps/media/music-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: put things in the right place with the right names ...
  kubernetes/darkstar/apps/media/music-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: put things in the right place with the right names ...
  kubernetes/darkstar/apps/media/music-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: add rustdesk
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/default/rustdesk/app/helm-release.yaml
  kubernetes/darkstar/apps/default/rustdesk/app/kustomization.yaml
  kubernetes/darkstar/apps/default/rustdesk/ks.yaml
  kubernetes/darkstar/settings/cluster-settings.yaml
Labels: area/kubernetes, cluster/darkstar

update: add rustdesk
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/default/rustdesk/app/helm-release.yaml
  kubernetes/darkstar/apps/default/rustdesk/app/kustomization.yaml
  kubernetes/darkstar/apps/default/rustdesk/ks.yaml
  kubernetes/darkstar/settings/cluster-settings.yaml
Labels: area/kubernetes, cluster/darkstar

update: add rustdesk
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/default/rustdesk/app/helm-release.yaml
  kubernetes/darkstar/apps/default/rustdesk/app/kustomization.yaml
  kubernetes/darkstar/apps/default/rustdesk/ks.yaml
  kubernetes/darkstar/settings/cluster-settings.yaml
Labels: area/kubernetes, cluster/darkstar

update: archive off some apps
  _archived/kubernetes/music-assistant/app/helm-release.yaml
  _archived/kubernetes/music-assistant/app/kustomization.yaml
  _archived/kubernetes/music-assistant/ks.yaml
  _archived/kubernetes/rustdesk/app/helm-release.yaml
  _archived/kubernetes/rustdesk/app/kustomization.yaml
  _archived/kubernetes/rustdesk/ks.yaml
  _archived/kubernetes/stirling-pdf/app/helm-release.yaml
  _archived/kubernetes/stirling-pdf/app/kustomization.yaml
  _archived/kubernetes/stirling-pdf/ks.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: archive off some apps
  _archived/kubernetes/music-assistant/app/helm-release.yaml
  _archived/kubernetes/music-assistant/app/kustomization.yaml
  _archived/kubernetes/music-assistant/ks.yaml
  _archived/kubernetes/rustdesk/app/helm-release.yaml
  _archived/kubernetes/rustdesk/app/kustomization.yaml
  _archived/kubernetes/rustdesk/ks.yaml
  _archived/kubernetes/stirling-pdf/app/helm-release.yaml
  _archived/kubernetes/stirling-pdf/app/kustomization.yaml
  _archived/kubernetes/stirling-pdf/ks.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: Kokoro is great - but switching to openai for now forspeed reasons
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: Kokoro is great - but switching to openai for now forspeed reasons
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: archive generic device plugin
  _archived/kubernetes/generic-device-plugin/app/config/config.yaml
  _archived/kubernetes/generic-device-plugin/app/helm-release.yaml
  _archived/kubernetes/generic-device-plugin/app/kustomization.yaml
  _archived/kubernetes/generic-device-plugin/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: archive generic device plugin
  _archived/kubernetes/generic-device-plugin/app/config/config.yaml
  _archived/kubernetes/generic-device-plugin/app/helm-release.yaml
  _archived/kubernetes/generic-device-plugin/app/kustomization.yaml
  _archived/kubernetes/generic-device-plugin/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: not currently using reflector
  _archived/kubernetes/reflector/app/helm-release.yaml
  _archived/kubernetes/reflector/app/kustomization.yaml
  _archived/kubernetes/reflector/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: not currently using reflector
  _archived/kubernetes/reflector/app/helm-release.yaml
  _archived/kubernetes/reflector/app/kustomization.yaml
  _archived/kubernetes/reflector/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: update ip's
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/app/helm-release.yaml
  kubernetes/darkstar/settings/cluster-settings.yaml
Labels: area/kubernetes, cluster/darkstar

update: update ip's
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/app/helm-release.yaml
  kubernetes/darkstar/settings/cluster-settings.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove zigbee2mqtt exporter - unrequired
  _archived/kubernetes/zigbee2mqtt/exporter/helm-release.yaml
  _archived/kubernetes/zigbee2mqtt/exporter/kustomization.yaml
  _archived/kubernetes/zigbee2mqtt/exporter/prometheusrule.yaml
  _archived/kubernetes/zigbee2mqtt/ks.yaml
Labels: none

update: remove zigbee2mqtt exporter - unrequired
  _archived/kubernetes/zigbee2mqtt/exporter/helm-release.yaml
  _archived/kubernetes/zigbee2mqtt/exporter/kustomization.yaml
  _archived/kubernetes/zigbee2mqtt/exporter/prometheusrule.yaml
  _archived/kubernetes/zigbee2mqtt/ks.yaml
Labels: none

fix: remove sgx webhooks
  kubernetes/darkstar/apps/system/intel-device-plugins/operator/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: remove sgx webhooks
  kubernetes/darkstar/apps/system/intel-device-plugins/operator/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: Remove spegel and bytestash
  _archived/kubernetes/bytestash/app/bytestash-secret.sops.yaml
  _archived/kubernetes/bytestash/app/helm-release.yaml
  _archived/kubernetes/bytestash/app/kustomization.yaml
  _archived/kubernetes/bytestash/ks.yaml
  _archived/kubernetes/spegel/app/helm-release.yaml
  _archived/kubernetes/spegel/app/kustomization.yaml
  _archived/kubernetes/spegel/app/kustomizeconfig.yaml
  _archived/kubernetes/spegel/app/values.yaml
  _archived/kubernetes/spegel/ks.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Update: Remove spegel and bytestash
  _archived/kubernetes/bytestash/app/bytestash-secret.sops.yaml
  _archived/kubernetes/bytestash/app/helm-release.yaml
  _archived/kubernetes/bytestash/app/kustomization.yaml
  _archived/kubernetes/bytestash/ks.yaml
  _archived/kubernetes/spegel/app/helm-release.yaml
  _archived/kubernetes/spegel/app/kustomization.yaml
  _archived/kubernetes/spegel/app/kustomizeconfig.yaml
  _archived/kubernetes/spegel/app/values.yaml
  _archived/kubernetes/spegel/ks.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Update: remove spegel dashboard
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: remove spegel dashboard
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: simplify cloudflare config
  kubernetes/darkstar/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: simplify cloudflare config
  kubernetes/darkstar/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar
