Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

feat(helm-release): remove externalTrafficPolicy from service configuration
  kubernetes/darkstar/apps/home-automation/matter-server/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(helm-release): remove externalTrafficPolicy from service configuration
  kubernetes/darkstar/apps/home-automation/matter-server/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(volsync): update NFS path in mutating admission policy
  kubernetes/darkstar/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes, cluster/darkstar

fix(volsync): update NFS path in mutating admission policy
  kubernetes/darkstar/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes, cluster/darkstar

Switch to hourly local backups
  kubernetes/darkstar/apps/storage/volsync/templates/nfs/replication-source.yaml
Labels: area/kubernetes, cluster/darkstar

Switch to hourly local backups
  kubernetes/darkstar/apps/storage/volsync/templates/nfs/replication-source.yaml
Labels: area/kubernetes, cluster/darkstar

fix(volsync): update NFS path for repository in list-snapshots.yaml.j2
  .taskfiles/volsync/resources/list-snapshots.yaml.j2
Labels: none

fix(volsync): update NFS path for repository in list-snapshots.yaml.j2
  .taskfiles/volsync/resources/list-snapshots.yaml.j2
Labels: none

feat(helm): update intel-device-plugins chart version to 0.32.1 and modify values
  kubernetes/darkstar/apps/system/intel-device-plugins/gpu/helm-release.yaml
  kubernetes/darkstar/apps/system/intel-device-plugins/operator/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(helm): update intel-device-plugins chart version to 0.32.1 and modify values
  kubernetes/darkstar/apps/system/intel-device-plugins/gpu/helm-release.yaml
  kubernetes/darkstar/apps/system/intel-device-plugins/operator/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm): update kube-prometheus-stack configuration and security context
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm): update kube-prometheus-stack configuration and security context
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(helm): remove serviceMonitor configuration from atuin and external-dns-adguard
  kubernetes/darkstar/apps/default/atuin/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/external-dns/adguard/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(helm): remove serviceMonitor configuration from atuin and external-dns-adguard
  kubernetes/darkstar/apps/default/atuin/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/external-dns/adguard/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(loki): migrate to OCIRepository and remove grafana-charts.yaml
  kubernetes/darkstar/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/darkstar/repos/helm/grafana-charts.yaml
  kubernetes/darkstar/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(loki): migrate to OCIRepository and remove grafana-charts.yaml
  kubernetes/darkstar/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/darkstar/repos/helm/grafana-charts.yaml
  kubernetes/darkstar/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(tasks): add bootstrap and talos taskfiles for cluster management
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yml
Labels: none

feat(tasks): add bootstrap and talos taskfiles for cluster management
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yml
Labels: none

feat(deps): remove flux-local dependency from .mise.toml
  .mise.toml
Labels: none

feat(deps): remove flux-local dependency from .mise.toml
  .mise.toml
Labels: none

feat(talconfig): update node configuration and enhance scheduler settings
  infrastructure/darkstar/talos/talconfig.yaml
  infrastructure/darkstar/talos/talenv.sops.yaml
Labels: area/talos, cluster/darkstar

feat(talconfig): update node configuration and enhance scheduler settings
  infrastructure/darkstar/talos/talconfig.yaml
  infrastructure/darkstar/talos/talenv.sops.yaml
Labels: area/talos, cluster/darkstar

feat(cluster): remove dependency on flux from cluster configuration
  kubernetes/darkstar/flux/configure/cluster.yaml
Labels: area/kubernetes, cluster/darkstar

feat(cluster): remove dependency on flux from cluster configuration
  kubernetes/darkstar/flux/configure/cluster.yaml
Labels: area/kubernetes, cluster/darkstar

feat(talos): update Talos bootstrap tasks and configurations for darkstar cluster feat(helmfile): refine helmfile settings and add format-lvm job template
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  infrastructure/darkstar/talos/integrations/helmfile.yaml
  infrastructure/darkstar/talos/talconfig.yaml
  infrastructure/darkstar/talos/templates/format-lvm.yaml.gotmpl
Labels: area/talos, cluster/darkstar

feat(talos): update Talos bootstrap tasks and configurations for darkstar cluster feat(helmfile): refine helmfile settings and add format-lvm job template
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  infrastructure/darkstar/talos/integrations/helmfile.yaml
  infrastructure/darkstar/talos/talconfig.yaml
  infrastructure/darkstar/talos/templates/format-lvm.yaml.gotmpl
Labels: area/talos, cluster/darkstar

fix(helm-release): update prompp image tag to 2.53.2-0.2.5
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): update prompp image tag to 2.53.2-0.2.5
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(deps): update apiVersion for OCIRepository to v1 across multiple helm release files
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/helm-release.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/coredns/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/blackbox-exporter/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/kube-state-metrics/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/node-exporter/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/prometheus-operator/crds/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/promtail/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/smartctl-exporter/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/app/helm-release.yaml
  kubernetes/darkstar/apps/system-controllers/snapshot-controller/app/helm-release.yaml
  kubernetes/darkstar/apps/system-controllers/templated-secret-controller/app/helm-release.yaml
  kubernetes/darkstar/apps/system/reloader/app/helm-release.yaml
  kubernetes/darkstar/flux/configure/flux.yaml
  kubernetes/darkstar/repos/oci/app-template.yaml
Labels: area/kubernetes, cluster/darkstar

fix(deps): update apiVersion for OCIRepository to v1 across multiple helm release files
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/helm-release.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/coredns/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/blackbox-exporter/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/kube-state-metrics/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/node-exporter/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/prometheus-operator/crds/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/promtail/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/smartctl-exporter/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/app/helm-release.yaml
  kubernetes/darkstar/apps/system-controllers/snapshot-controller/app/helm-release.yaml
  kubernetes/darkstar/apps/system-controllers/templated-secret-controller/app/helm-release.yaml
  kubernetes/darkstar/apps/system/reloader/app/helm-release.yaml
  kubernetes/darkstar/flux/configure/flux.yaml
  kubernetes/darkstar/repos/oci/app-template.yaml
Labels: area/kubernetes, cluster/darkstar

feat(deps): add feature gate to helm-controller for disabling chart digest tracking
  kubernetes/darkstar/flux/configure/flux.yaml
Labels: area/kubernetes, cluster/darkstar

feat(deps): add feature gate to helm-controller for disabling chart digest tracking
  kubernetes/darkstar/flux/configure/flux.yaml
Labels: area/kubernetes, cluster/darkstar

fix(grafana): update datasource configuration to use named value for Prometheus
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(grafana): update datasource configuration to use named value for Prometheus
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(grafana): comment out unused dashboard configurations for PostgreSQL
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(grafana): comment out unused dashboard configurations for PostgreSQL
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(volsync): update schedule to run every 6 hours and reduce hourly retention to 4
  kubernetes/darkstar/apps/storage/volsync/templates/nfs/replication-source.yaml
Labels: area/kubernetes, cluster/darkstar

fix(volsync): update schedule to run every 6 hours and reduce hourly retention to 4
  kubernetes/darkstar/apps/storage/volsync/templates/nfs/replication-source.yaml
Labels: area/kubernetes, cluster/darkstar

feat(cert-manager): update helm release configuration and add values file
  infrastructure/darkstar/talos/integrations/helmfile.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/kustomizeconfig.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/values.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

feat(cert-manager): update helm release configuration and add values file
  infrastructure/darkstar/talos/integrations/helmfile.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/kustomizeconfig.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/values.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar
