Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

fix(container): Endpoint moved for gatus
  kubernetes/darkstar/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(docker): Add hawser agent - test
  docker/gravity/hawser/docker-compose.yaml
Labels: none

feat(docker): Use the agent - remove dockhand
  docker/gravity/dockhand/docker-compose.yaml
Labels: none

feat(container): Add dockhand to cluster?
  kubernetes/darkstar/apps/observability/dockhand/app/backend.yaml
  kubernetes/darkstar/apps/observability/dockhand/app/helmrelease.yaml
  kubernetes/darkstar/apps/observability/dockhand/app/httproute.yaml
  kubernetes/darkstar/apps/observability/dockhand/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/dockhand/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(docker): Switch to hawser on apollo
  docker/apollo/dockhand/docker-compose.yaml
  docker/apollo/hawser/docker-compose.yaml
Labels: cluster/apollo

feat(docker): Add a little "security" to hawser/dockhand
  docker/apollo/hawser/.doco-cd.yaml
  docker/apollo/hawser/docker-compose.yaml
  docker/gravity/hawser/.doco-cd.yaml
  docker/gravity/hawser/docker-compose.yaml
Labels: cluster/apollo

feat(container): Alexa skill?
  kubernetes/darkstar/apps/media/music-assistant/app/externalsecret.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Cleanup for hass and mass
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): Ignore streaming and alexa endpoints for status
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Update forecourt zone
  kubernetes/darkstar/apps/home-automation/frigate/app/resources/config.yml
Labels: area/kubernetes, cluster/darkstar

fix(container): Don't need scaler
  kubernetes/darkstar/apps/home-automation/frigate/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): Update frigate forecourt zone
  kubernetes/darkstar/apps/home-automation/frigate/app/resources/config.yml
Labels: area/kubernetes, cluster/darkstar

fix(container): Get it right ...
  kubernetes/darkstar/apps/home-automation/frigate/app/resources/config.yml
Labels: area/kubernetes, cluster/darkstar

fix(container): Fix car mask on forecourt
  kubernetes/darkstar/apps/home-automation/frigate/app/resources/config.yml
Labels: area/kubernetes, cluster/darkstar

feat(container): Add kopiur - let's give this a whirl ...
  .taskfiles/kopiur/Taskfile.yaml
  Taskfile.yml
  kubernetes/darkstar/apps/database/mosquitto/ks.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/ks.yaml
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/home-automation/esphome/ks.yaml
  kubernetes/darkstar/apps/home-automation/frigate/ks.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
  kubernetes/darkstar/apps/media/tautulli/ks.yaml
  kubernetes/darkstar/apps/observability/dockhand/ks.yaml
  kubernetes/darkstar/apps/storage/kopiur/app/helmrelease.yaml
  kubernetes/darkstar/apps/storage/kopiur/app/kustomization.yaml
  kubernetes/darkstar/apps/storage/kopiur/ks.yaml
  kubernetes/darkstar/apps/storage/kopiur/repository/clusterrepository.yaml
  kubernetes/darkstar/apps/storage/kopiur/repository/externalsecret.yaml
  kubernetes/darkstar/apps/storage/kopiur/repository/httproute.yaml
  kubernetes/darkstar/apps/storage/kopiur/repository/kustomization.yaml
  kubernetes/darkstar/apps/storage/kustomization.yaml
  kubernetes/darkstar/components/kopiur/backup/kustomization.yaml
  kubernetes/darkstar/components/kopiur/backup/snapshotpolicy.yaml
  kubernetes/darkstar/components/kopiur/backup/snapshotschedule.yaml
  kubernetes/darkstar/components/kopiur/restore/kustomization.yaml
  kubernetes/darkstar/components/kopiur/restore/pvc.yaml
  kubernetes/darkstar/components/kopiur/restore/restore.yaml
Labels: area/kubernetes, cluster/darkstar

fix: Set default env or infisical will do nowt
  .infisical.json
Labels: none

fix(container): Ignore file errors?
  kubernetes/darkstar/components/kopiur/backup/snapshotpolicy.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Flip volsync to once daily at 4am for now
  kubernetes/darkstar/components/volsync/nfs/replication-source.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Disable kopia webui and remove route - cli ftw
  kubernetes/darkstar/apps/storage/kopiur/app/helmrelease.yaml
  kubernetes/darkstar/apps/storage/kopiur/repository/httproute.yaml
  kubernetes/darkstar/apps/storage/kopiur/repository/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): Get the key right ...
  kubernetes/darkstar/apps/storage/kopiur/repository/externalsecret.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Bring the kopiur config inline with others
  kubernetes/darkstar/apps/storage/kopiur/app/helmrelease.yaml
  kubernetes/darkstar/apps/storage/kopiur/repository/clusterrepository.yaml
Labels: area/kubernetes, cluster/darkstar

fix: flux-local -> flate
  .taskfiles/flux/Taskfile.yaml
Labels: none

chore(container): Sticking with volsync for now till kopiur matures some more
  kubernetes/darkstar/.archive/kopiur/app/helmrelease.yaml
  kubernetes/darkstar/.archive/kopiur/app/kustomization.yaml
  kubernetes/darkstar/.archive/kopiur/ks.yaml
  kubernetes/darkstar/.archive/kopiur/repository/clusterrepository.yaml
  kubernetes/darkstar/.archive/kopiur/repository/externalsecret.yaml
  kubernetes/darkstar/.archive/kopiur/repository/kustomization.yaml
  kubernetes/darkstar/apps/database/mosquitto/ks.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/ks.yaml
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/home-automation/esphome/ks.yaml
  kubernetes/darkstar/apps/home-automation/frigate/ks.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/media/tautulli/ks.yaml
  kubernetes/darkstar/apps/observability/dockhand/ks.yaml
  kubernetes/darkstar/apps/storage/kustomization.yaml
  kubernetes/darkstar/components/volsync/nfs/replication-source.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): Ooops - change/remove kopiur dependsOn
  kubernetes/darkstar/apps/database/mosquitto/ks.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/ks.yaml
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/home-automation/esphome/ks.yaml
  kubernetes/darkstar/apps/home-automation/frigate/ks.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/media/tautulli/ks.yaml
  kubernetes/darkstar/apps/observability/dockhand/ks.yaml
Labels: area/kubernetes, cluster/darkstar

chore(docker): Add blockserver
  docker/apollo/sabnzbd/.doco-cd.yaml
  docker/apollo/sabnzbd/docker-compose.yaml
Labels: cluster/apollo

chore(container): Swap multus to home-operations oci
  kubernetes/darkstar/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

chore(mise): Update default apps - include flate
  .mise.toml
Labels: none

chore(container): Same for snapshot-controller - use home-ops
  kubernetes/darkstar/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(container): Try kopiur again - what's the worst that ...
  kubernetes/darkstar/.archive/volsync/app/helmrelease.yaml
  kubernetes/darkstar/.archive/volsync/app/kustomization.yaml
  kubernetes/darkstar/.archive/volsync/app/prometheusrule.yaml
  kubernetes/darkstar/.archive/volsync/ks.yaml
  kubernetes/darkstar/apps/database/kustomization.yaml
  kubernetes/darkstar/apps/database/mosquitto/ks.yaml
  kubernetes/darkstar/apps/downloads/kustomization.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/ks.yaml
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/home-automation/esphome/ks.yaml
  kubernetes/darkstar/apps/home-automation/frigate/ks.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/ks.yaml
  kubernetes/darkstar/apps/home-automation/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/darkstar/apps/ignition/kustomization.yaml
  kubernetes/darkstar/apps/media/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/media/tautulli/ks.yaml
  kubernetes/darkstar/apps/observability/dockhand/ks.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/darkstar/apps/observability/kustomization.yaml
  kubernetes/darkstar/apps/storage/kopiur/app/helmrelease.yaml
  kubernetes/darkstar/apps/storage/kopiur/app/kustomization.yaml
  kubernetes/darkstar/apps/storage/kopiur/ks.yaml
  kubernetes/darkstar/apps/storage/kopiur/repository/clusterrepository.yaml
  kubernetes/darkstar/apps/storage/kopiur/repository/kustomization.yaml
  kubernetes/darkstar/apps/storage/kustomization.yaml
  kubernetes/darkstar/components/kopiur/backup/kustomization.yaml
  kubernetes/darkstar/components/kopiur/backup/pvc.yaml
  kubernetes/darkstar/components/kopiur/backup/restore.yaml
  kubernetes/darkstar/components/kopiur/backup/snapshotpolicy.yaml
  kubernetes/darkstar/components/kopiur/restore/kustomization.yaml
  kubernetes/darkstar/components/kopiur/secret/externalsecret.yaml
  kubernetes/darkstar/components/kopiur/secret/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): Problems problems - volsync again
  kubernetes/darkstar/apps/database/mosquitto/ks.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/ks.yaml
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/home-automation/esphome/ks.yaml
  kubernetes/darkstar/apps/home-automation/frigate/ks.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/media/tautulli/ks.yaml
  kubernetes/darkstar/apps/observability/dockhand/ks.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/darkstar/apps/storage/kopiur/ks.yaml
  kubernetes/darkstar/apps/storage/kustomization.yaml
  kubernetes/darkstar/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/darkstar/apps/storage/volsync/app/kustomization.yaml
  kubernetes/darkstar/apps/storage/volsync/app/prometheusrule.yaml
  kubernetes/darkstar/apps/storage/volsync/ks.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): What is going on here ...
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/pvc.yaml
Labels: area/kubernetes, cluster/darkstar

feat(container): Try, try again ... re-enable kopiur see how it goes
  kubernetes/darkstar/apps/database/mosquitto/ks.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/ks.yaml
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/home-automation/esphome/ks.yaml
  kubernetes/darkstar/apps/home-automation/frigate/ks.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/media/tautulli/ks.yaml
  kubernetes/darkstar/apps/observability/dockhand/ks.yaml
  kubernetes/darkstar/apps/storage/kustomization.yaml
  kubernetes/darkstar/components/kopiur/backup/kustomization.yaml
  kubernetes/darkstar/components/kopiur/backup/snapshotschedule.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Remove kopiur again
  kubernetes/darkstar/.archive/kopiur/app/helmrelease.yaml
  kubernetes/darkstar/.archive/kopiur/app/kustomization.yaml
  kubernetes/darkstar/.archive/kopiur/ks.yaml
  kubernetes/darkstar/.archive/kopiur/repository/clusterrepository.yaml
  kubernetes/darkstar/.archive/kopiur/repository/kustomization.yaml
  kubernetes/darkstar/apps/database/mosquitto/ks.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/ks.yaml
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/home-automation/esphome/ks.yaml
  kubernetes/darkstar/apps/home-automation/frigate/ks.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/media/tautulli/ks.yaml
  kubernetes/darkstar/apps/observability/dockhand/ks.yaml
  kubernetes/darkstar/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix: Doppler no longer used
  .mise.toml
Labels: none

chore(container): Flip snapshot controller back to upstream
  kubernetes/darkstar/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(container): Sooooul the seek
  kubernetes/darkstar/.archive/slskd/app/kustomizeconfig.yaml
  kubernetes/darkstar/apps/downloads/kustomization.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/config/Corefile
  kubernetes/darkstar/apps/downloads/slskd/app/config/slskd.yml
  kubernetes/darkstar/apps/downloads/slskd/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/helmrelease.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/kustomizeconfig.yaml
  kubernetes/darkstar/apps/downloads/slskd/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(container): Le tunnel
  kubernetes/darkstar/apps/system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/darkstar/apps/system/generic-device-plugin/app/kustomization.yaml
  kubernetes/darkstar/apps/system/generic-device-plugin/app/resources/config.yaml
  kubernetes/darkstar/apps/system/generic-device-plugin/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): Correct path for secret
  kubernetes/darkstar/apps/downloads/slskd/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): Change env var to app?
  kubernetes/darkstar/apps/downloads/slskd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): meh - forget it then
  kubernetes/darkstar/.archive/slskd/app/config/Corefile
  kubernetes/darkstar/.archive/slskd/app/config/slskd.yml
  kubernetes/darkstar/.archive/slskd/app/externalsecret.yaml
  kubernetes/darkstar/.archive/slskd/app/helmrelease.yaml
  kubernetes/darkstar/.archive/slskd/app/kustomization.yaml
  kubernetes/darkstar/.archive/slskd/app/kustomizeconfig.yaml
  kubernetes/darkstar/.archive/slskd/ks.yaml
  kubernetes/darkstar/apps/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar
