Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

fix(frigate): keep the recording cache in RAM
  kubernetes/darkstar/apps/home-automation/frigate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(talos): SATA link power management and balance_power EPP on alpha
  infrastructure/talos/darkstar/nodes/controlplane/alpha.yaml.j2
Labels: area/talos, cluster/darkstar

feat(volsync): back up once a night in the cheap-rate window
  kubernetes/darkstar/components/volsync/nfs/replication-source.yaml
Labels: area/kubernetes, cluster/darkstar

feat(apollo): fewer zstore spin-ups and cheap-rate SMART tests
  docker/apollo/sabnzbd/docker-compose.yaml
  infrastructure/ansible/playbooks/nas/docker.yaml
  infrastructure/ansible/playbooks/nas/os.yaml
Labels: area/ansible, cluster/apollo

feat(node-exporter): read RAPL energy counters on alpha and apollo
  docker/apollo/node-exporter/docker-compose.yaml
  kubernetes/darkstar/apps/observability/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar, cluster/apollo

feat(observability): lighter scrapes and drop dead apiserver SLO rules
  kubernetes/darkstar/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/podmonitor.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/servicemonitor.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(talos): cap alpha's i5-8400 to T-series power limits
  infrastructure/talos/darkstar/nodes/controlplane/alpha.yaml.j2
Labels: area/talos, cluster/darkstar

fix(ansible): clean up the zfs_exporter clone on localhost
  infrastructure/ansible/playbooks/nas/os.yaml
Labels: area/ansible

fix(ansible): ntpdate is removed
  infrastructure/ansible/inventory/group_vars/all.yaml
Labels: area/ansible

feat(volsync): spread nightly backups with a hashed minute
  kubernetes/darkstar/apps/storage/volsync/app/kustomization.yaml
  kubernetes/darkstar/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/darkstar/components/volsync/nfs/replication-source.yaml
Labels: area/kubernetes, cluster/darkstar

feat(sonarr,radarr): nightly rescan in the cheap window
  kubernetes/darkstar/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(renovate): Ignore docker .archive
  .renovaterc.json5
Labels: none

feat(grafana): Power dashboard for RAPL package power
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/kustomization.yaml
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/power.json
Labels: area/kubernetes, cluster/darkstar

feat(talos,plex): cut writes to alpha's worn system SSD
  infrastructure/talos/darkstar/controlplane.yaml.j2
  kubernetes/darkstar/apps/media/plex/app/helmrelease.yaml
  kubernetes/darkstar/apps/media/plex/app/pvc.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

feat(observability): track alpha's worn SSD in git, alert on new damage
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/rules/filesystem-readonly.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/rules/kustomization.yaml
  kubernetes/darkstar/apps/observability/silence-operator/silences/kustomization.yaml
  kubernetes/darkstar/apps/observability/silence-operator/silences/smart-alpha-sda.yaml
  kubernetes/darkstar/apps/observability/smartctl-exporter/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/darkstar

feat(apollo): stop update-grub and timers waking zstore
  infrastructure/ansible/playbooks/nas/os.yaml
Labels: area/ansible

fix(docker): add allowed ip ranges to sabnzbd
  docker/apollo/sabnzbd/docker-compose.yaml
Labels: cluster/apollo

feat(grafana): add default home dashboard
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/home.json
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/kustomization.yaml
  kubernetes/darkstar/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(network): drop dead IPv6 node subnet and single-stack plex service
  infrastructure/talos/darkstar/nodes/controlplane/alpha.yaml.j2
  kubernetes/darkstar/apps/media/plex/app/helmrelease.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

fix(observability): use CPU pressure instead of load for apollo saturation
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/rules/kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/rules/node-saturation.yaml
Labels: area/kubernetes, cluster/darkstar

fix(node-exporter): run on the host network so alpha's NIC is exported
  kubernetes/darkstar/apps/observability/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(tautulli): bypass Envoy compression to stop 5s CSS stalls
  kubernetes/darkstar/apps/media/tautulli/app/backendtrafficpolicy.yaml
  kubernetes/darkstar/apps/media/tautulli/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar
