Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/darkstar, cluster/apollo

update: nas ansible stuff
  infrastructure/apollo/ansible/inventory/host_vars/apollo.sops.yaml
  infrastructure/apollo/ansible/playbooks/templates/downloads/docker-compose.yml.j2
  infrastructure/apollo/ansible/playbooks/templates/node-exporter/docker-compose.yml.j2
  infrastructure/apollo/ansible/playbooks/vars/main.yml
Labels: cluster/apollo

update: scrap topolvm metrics
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: scrap topolvm metrics
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: topolvm scrapping
  kubernetes/darkstar/apps/storage/topolvm/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: topolvm scrapping
  kubernetes/darkstar/apps/storage/topolvm/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "update: scrap topolvm metrics"
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "update: scrap topolvm metrics"
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: scrape topolvm node metrics
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: scrape topolvm node metrics
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: ansible stuff again!
  infrastructure/apollo/ansible/inventory/host_vars/apollo.sops.yaml
  infrastructure/apollo/ansible/playbooks/templates/downloads/docker-compose.yml.j2
Labels: cluster/apollo

update: ansible stuff again!
  infrastructure/apollo/ansible/inventory/host_vars/apollo.sops.yaml
  infrastructure/apollo/ansible/playbooks/templates/downloads/docker-compose.yml.j2
Labels: cluster/apollo

update: make default, remove podmonitor
  kubernetes/darkstar/apps/storage/topolvm/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: make default, remove podmonitor
  kubernetes/darkstar/apps/storage/topolvm/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: reconciliation error in scrapeconfigs?
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: reconciliation error in scrapeconfigs?
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: battery alert to 15%
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/exporter/prometheusrule.yaml
Labels: area/kubernetes, cluster/darkstar

update: battery alert to 15%
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/exporter/prometheusrule.yaml
Labels: area/kubernetes, cluster/darkstar

update: re-apply my old recyclarr config
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

update: re-apply my old recyclarr config
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

update: add lidarr management
  kubernetes/darkstar/apps/downloads/kustomization.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/lidarr-secret.sops.yaml
  kubernetes/darkstar/apps/downloads/lidarr/ks.yaml
  kubernetes/darkstar/settings/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/darkstar

update: add lidarr management
  kubernetes/darkstar/apps/downloads/kustomization.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/lidarr-secret.sops.yaml
  kubernetes/darkstar/apps/downloads/lidarr/ks.yaml
  kubernetes/darkstar/settings/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/darkstar

update: add tun generic device
  kubernetes/darkstar/apps/system/generic-device-plugin/app/config/config.yaml
  kubernetes/darkstar/apps/system/generic-device-plugin/app/helm-release.yaml
  kubernetes/darkstar/apps/system/generic-device-plugin/app/kustomization.yaml
  kubernetes/darkstar/apps/system/generic-device-plugin/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: add tun generic device
  kubernetes/darkstar/apps/system/generic-device-plugin/app/config/config.yaml
  kubernetes/darkstar/apps/system/generic-device-plugin/app/helm-release.yaml
  kubernetes/darkstar/apps/system/generic-device-plugin/app/kustomization.yaml
  kubernetes/darkstar/apps/system/generic-device-plugin/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix: sigh ... says non-root ... can't run as non-root
  infrastructure/darkstar/ansible/inventory/group_vars/master/main.yml
  kubernetes/darkstar/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/lidarr-secret.sops.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: sigh ... says non-root ... can't run as non-root
  infrastructure/darkstar/ansible/inventory/group_vars/master/main.yml
  kubernetes/darkstar/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/lidarr-secret.sops.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: replace default coredns
  infrastructure/darkstar/ansible/inventory/group_vars/master/main.yml
  infrastructure/darkstar/talos/integrations/helmfile.yaml
  infrastructure/darkstar/talos/talconfig.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/coredns/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/darkstar/apps/kube-system/coredns/app/kustomizeconfig.yaml
  kubernetes/darkstar/apps/kube-system/coredns/app/values.yaml
  kubernetes/darkstar/apps/kube-system/coredns/ks.yaml
  kubernetes/darkstar/apps/kube-system/kustomization.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/repos/helm/coredns-charts.yaml
  kubernetes/darkstar/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: replace default coredns
  infrastructure/darkstar/ansible/inventory/group_vars/master/main.yml
  infrastructure/darkstar/talos/integrations/helmfile.yaml
  infrastructure/darkstar/talos/talconfig.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/coredns/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/darkstar/apps/kube-system/coredns/app/kustomizeconfig.yaml
  kubernetes/darkstar/apps/kube-system/coredns/app/values.yaml
  kubernetes/darkstar/apps/kube-system/coredns/ks.yaml
  kubernetes/darkstar/apps/kube-system/kustomization.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/repos/helm/coredns-charts.yaml
  kubernetes/darkstar/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: CIDR stuff
  infrastructure/darkstar/talos/talconfig.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: CIDR stuff
  infrastructure/darkstar/talos/talconfig.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: dnsdist lidarr
  kubernetes/darkstar/apps/downloads/lidarr/app/config/dnsdist.conf
  kubernetes/darkstar/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: dnsdist lidarr
  kubernetes/darkstar/apps/downloads/lidarr/app/config/dnsdist.conf
  kubernetes/darkstar/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: add dnsdist to lidarr
  kubernetes/darkstar/apps/downloads/lidarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: add dnsdist to lidarr
  kubernetes/darkstar/apps/downloads/lidarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: oopsie - not service range
  kubernetes/darkstar/apps/downloads/lidarr/app/config/dnsdist.conf
  kubernetes/darkstar/apps/kube-system/coredns/app/values.yaml
Labels: area/kubernetes, cluster/darkstar

fix: oopsie - not service range
  kubernetes/darkstar/apps/downloads/lidarr/app/config/dnsdist.conf
  kubernetes/darkstar/apps/kube-system/coredns/app/values.yaml
Labels: area/kubernetes, cluster/darkstar

fix: update service cidr
  infrastructure/darkstar/ansible/inventory/group_vars/master/main.yml
  kubernetes/darkstar/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/cilium/app/values.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: update service cidr
  infrastructure/darkstar/ansible/inventory/group_vars/master/main.yml
  kubernetes/darkstar/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/darkstar/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/cilium/app/values.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: re-enable repdest
  kubernetes/darkstar/apps/storage/volsync/templates/pvc.yaml
Labels: area/kubernetes, cluster/darkstar

fix: re-enable repdest
  kubernetes/darkstar/apps/storage/volsync/templates/pvc.yaml
Labels: area/kubernetes, cluster/darkstar

update: repdest to latest time
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
Labels: none

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"
