Repository Drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/scripts

fix: u-nas link invalid
  README.md
Labels: none

fix: u-nas link invalid
  README.md
Labels: none

fix: u-nas link invalid
  README.md
Labels: none

update: minor updates
  cluster/apps/downloads/recyclarr/recyclarr.yaml
Labels: area/cluster

update: minor updates
  cluster/apps/downloads/recyclarr/recyclarr.yaml
Labels: area/cluster

update: minor updates
  cluster/apps/downloads/recyclarr/recyclarr.yaml
Labels: area/cluster

update: force plex-beta update
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

update: force plex-beta update
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

update: force plex-beta update
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

update: recyclar - add resolution CF's for UHD
  cluster/apps/downloads/recyclarr/recyclarr.yaml
Labels: area/cluster

update: recyclar - add resolution CF's for UHD
  cluster/apps/downloads/recyclarr/recyclarr.yaml
Labels: area/cluster

update: recyclar - add resolution CF's for UHD
  cluster/apps/downloads/recyclarr/recyclarr.yaml
Labels: area/cluster

update: workflow and renovate fixes
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/workflows/helm-release-differ.yaml
  infrastructure/talos/talconfig.yaml
Labels: area/github

update: workflow and renovate fixes
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/workflows/helm-release-differ.yaml
  infrastructure/talos/talconfig.yaml
Labels: area/github

update: workflow and renovate fixes
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/workflows/helm-release-differ.yaml
  infrastructure/talos/talconfig.yaml
Labels: area/github

update: force cert
  cluster/core/ingress-nginx/wildcard-cert.yaml
Labels: area/cluster

update: move cilium to apps-4
  cluster/apps-4/kube-system/cilium/helm-release.yaml
  cluster/apps-4/kube-system/cilium/kustomization.yaml
  cluster/apps-4/kube-system/kustomization.yaml
Labels: area/cluster

update: move cilium to apps-4
  cluster/apps-4/kube-system/cilium/helm-release.yaml
  cluster/apps-4/kube-system/cilium/kustomization.yaml
  cluster/apps-4/kube-system/kustomization.yaml
Labels: area/cluster

update: move cilium to apps-4
  cluster/apps-4/kube-system/cilium/helm-release.yaml
  cluster/apps-4/kube-system/cilium/kustomization.yaml
  cluster/apps-4/kube-system/kustomization.yaml
Labels: area/cluster

update: add local-path-provisioner
  cluster/apps-1/kube-system/kustomization.yaml
  cluster/apps-1/kube-system/local-path-provisioner/helm-release.yaml
  cluster/apps-1/kube-system/local-path-provisioner/kustomization.yaml
  cluster/charts/containeroo-charts.yaml
  cluster/charts/kustomization.yaml
Labels: area/cluster

update: add local-path-provisioner
  cluster/apps-1/kube-system/kustomization.yaml
  cluster/apps-1/kube-system/local-path-provisioner/helm-release.yaml
  cluster/apps-1/kube-system/local-path-provisioner/kustomization.yaml
  cluster/charts/containeroo-charts.yaml
  cluster/charts/kustomization.yaml
Labels: area/cluster

update: add local-path-provisioner
  cluster/apps-1/kube-system/kustomization.yaml
  cluster/apps-1/kube-system/local-path-provisioner/helm-release.yaml
  cluster/apps-1/kube-system/local-path-provisioner/kustomization.yaml
  cluster/charts/containeroo-charts.yaml
  cluster/charts/kustomization.yaml
Labels: area/cluster

update: fix chart names
  cluster/apps-1/kube-system/local-path-provisioner/helm-release.yaml
  cluster/charts/weave-gitops.yaml
Labels: area/cluster

update: fix chart names
  cluster/apps-1/kube-system/local-path-provisioner/helm-release.yaml
  cluster/charts/weave-gitops.yaml
Labels: area/cluster

update: fix chart names
  cluster/apps-1/kube-system/local-path-provisioner/helm-release.yaml
  cluster/charts/weave-gitops.yaml
Labels: area/cluster

update: fix weaveworks gitops secret ...
  cluster/apps-4/flux-system/weave-gitops/secret.sops.yaml
Labels: area/cluster

update: fix weaveworks gitops secret ...
  cluster/apps-4/flux-system/weave-gitops/secret.sops.yaml
Labels: area/cluster

update: fix weaveworks gitops secret ...
  cluster/apps-4/flux-system/weave-gitops/secret.sops.yaml
Labels: area/cluster

update: try local-path sc
  cluster/apps-4/downloads/sonarr/config-pvc.yaml
Labels: area/cluster

update: try local-path sc
  cluster/apps-4/downloads/sonarr/config-pvc.yaml
Labels: area/cluster

update: try local-path sc
  cluster/apps-4/downloads/sonarr/config-pvc.yaml
Labels: area/cluster

update: storage location
  cluster/apps-1/kube-system/local-path-provisioner/helm-release.yaml
Labels: area/cluster

update: storage location
  cluster/apps-1/kube-system/local-path-provisioner/helm-release.yaml
Labels: area/cluster

update: storage location
  cluster/apps-1/kube-system/local-path-provisioner/helm-release.yaml
Labels: area/cluster

update: psp ns for downloads
  cluster/apps-4/downloads/namespace.yaml
Labels: area/cluster

update: psp ns for downloads
  cluster/apps-4/downloads/namespace.yaml
Labels: area/cluster

update: psp ns for downloads
  cluster/apps-4/downloads/namespace.yaml
Labels: area/cluster

update: remove rook for now
  _archived/rook-ceph/cluster/helm-release.yaml
  _archived/rook-ceph/cluster/kustomization.yaml
  _archived/rook-ceph/dashboard/ceph-cluster-dashboard.json
  _archived/rook-ceph/dashboard/ceph-osd-dashboard.json
  _archived/rook-ceph/dashboard/ceph-pools-dashboard.json
  _archived/rook-ceph/dashboard/kustomization.yaml
  _archived/rook-ceph/kustomization.yaml
  _archived/rook-ceph/namespace.yaml
  _archived/rook-ceph/operator/helm-release.yaml
  _archived/rook-ceph/operator/kustomization.yaml
  _archived/rook-ceph/rook-direct-mount/backup.sh
  _archived/rook-ceph/rook-direct-mount/deployment.yaml
  _archived/rook-ceph/rook-direct-mount/kustomization.yaml
  cluster/apps-1/kustomization.yaml
Labels: area/cluster

update: remove rook for now
  _archived/rook-ceph/cluster/helm-release.yaml
  _archived/rook-ceph/cluster/kustomization.yaml
  _archived/rook-ceph/dashboard/ceph-cluster-dashboard.json
  _archived/rook-ceph/dashboard/ceph-osd-dashboard.json
  _archived/rook-ceph/dashboard/ceph-pools-dashboard.json
  _archived/rook-ceph/dashboard/kustomization.yaml
  _archived/rook-ceph/kustomization.yaml
  _archived/rook-ceph/namespace.yaml
  _archived/rook-ceph/operator/helm-release.yaml
  _archived/rook-ceph/operator/kustomization.yaml
  _archived/rook-ceph/rook-direct-mount/backup.sh
  _archived/rook-ceph/rook-direct-mount/deployment.yaml
  _archived/rook-ceph/rook-direct-mount/kustomization.yaml
  cluster/apps-1/kustomization.yaml
Labels: area/cluster

update: remove rook for now
  _archived/rook-ceph/cluster/helm-release.yaml
  _archived/rook-ceph/cluster/kustomization.yaml
  _archived/rook-ceph/dashboard/ceph-cluster-dashboard.json
  _archived/rook-ceph/dashboard/ceph-osd-dashboard.json
  _archived/rook-ceph/dashboard/ceph-pools-dashboard.json
  _archived/rook-ceph/dashboard/kustomization.yaml
  _archived/rook-ceph/kustomization.yaml
  _archived/rook-ceph/namespace.yaml
  _archived/rook-ceph/operator/helm-release.yaml
  _archived/rook-ceph/operator/kustomization.yaml
  _archived/rook-ceph/rook-direct-mount/backup.sh
  _archived/rook-ceph/rook-direct-mount/deployment.yaml
  _archived/rook-ceph/rook-direct-mount/kustomization.yaml
  cluster/apps-1/kustomization.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/scripts:
  - "scripts/**/*"
