Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/darkstar, cluster/apollo

fix: webhook enabled not in schema
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: webhook enabled not in schema
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: webhook enabled not in schema
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove minio from nas and task volsync
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/templates/list.tmpl.yaml
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  infrastructure/apollo/ansible/playbooks/apps.yml
  infrastructure/apollo/ansible/playbooks/templates/minio/docker-compose.yml.j2
Labels: cluster/apollo

update: remove minio from nas and task volsync
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/templates/list.tmpl.yaml
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  infrastructure/apollo/ansible/playbooks/apps.yml
  infrastructure/apollo/ansible/playbooks/templates/minio/docker-compose.yml.j2
Labels: cluster/apollo

update: remove minio from nas and task volsync
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/templates/list.tmpl.yaml
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  infrastructure/apollo/ansible/playbooks/apps.yml
  infrastructure/apollo/ansible/playbooks/templates/minio/docker-compose.yml.j2
Labels: cluster/apollo

update: remove csi addons
  kubernetes/darkstar/apps/csi-addons-system/csi-addons-controller-manager/ks.yaml
  kubernetes/darkstar/apps/csi-addons-system/kustomization.yaml
  kubernetes/darkstar/apps/csi-addons-system/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove csi addons
  kubernetes/darkstar/apps/csi-addons-system/csi-addons-controller-manager/ks.yaml
  kubernetes/darkstar/apps/csi-addons-system/kustomization.yaml
  kubernetes/darkstar/apps/csi-addons-system/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove csi addons
  kubernetes/darkstar/apps/csi-addons-system/csi-addons-controller-manager/ks.yaml
  kubernetes/darkstar/apps/csi-addons-system/kustomization.yaml
  kubernetes/darkstar/apps/csi-addons-system/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

update: bump k3s/k8s version
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes, cluster/darkstar

update: bump k3s/k8s version
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes, cluster/darkstar

update: bump k3s/k8s version
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes, cluster/darkstar

update: separate pvc's for plex cache and logs
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/media/plex/app/kustomization.yaml
  kubernetes/darkstar/apps/media/plex/app/pvc.yaml
Labels: area/kubernetes, cluster/darkstar

update: separate pvc's for plex cache and logs
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/media/plex/app/kustomization.yaml
  kubernetes/darkstar/apps/media/plex/app/pvc.yaml
Labels: area/kubernetes, cluster/darkstar

update: separate pvc's for plex cache and logs
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/media/plex/app/kustomization.yaml
  kubernetes/darkstar/apps/media/plex/app/pvc.yaml
Labels: area/kubernetes, cluster/darkstar

fix: remove repldest from volsync template ...
  kubernetes/darkstar/apps/storage/volsync/templates/pvc.yaml
Labels: area/kubernetes, cluster/darkstar

fix: remove repldest from volsync template ...
  kubernetes/darkstar/apps/storage/volsync/templates/pvc.yaml
Labels: area/kubernetes, cluster/darkstar

fix: remove repldest from volsync template ...
  kubernetes/darkstar/apps/storage/volsync/templates/pvc.yaml
Labels: area/kubernetes, cluster/darkstar

update: change cilium lb annotations to new format
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/mosquitto/app/helm-release.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/darkstar/apps/networking/ingress-nginx/external/helm-release.yaml
  kubernetes/darkstar/apps/networking/ingress-nginx/internal/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: change cilium lb annotations to new format
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/mosquitto/app/helm-release.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/darkstar/apps/networking/ingress-nginx/external/helm-release.yaml
  kubernetes/darkstar/apps/networking/ingress-nginx/internal/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: change cilium lb annotations to new format
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/mosquitto/app/helm-release.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/darkstar/apps/networking/ingress-nginx/external/helm-release.yaml
  kubernetes/darkstar/apps/networking/ingress-nginx/internal/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: add fstrim
  kubernetes/darkstar/apps/system/fstrim/app/helm-release.yaml
  kubernetes/darkstar/apps/system/fstrim/app/kustomization.yaml
  kubernetes/darkstar/apps/system/fstrim/ks.yaml
Labels: area/kubernetes, cluster/darkstar

update: add fstrim
  kubernetes/darkstar/apps/system/fstrim/app/helm-release.yaml
  kubernetes/darkstar/apps/system/fstrim/app/kustomization.yaml
  kubernetes/darkstar/apps/system/fstrim/ks.yaml
Labels: area/kubernetes, cluster/darkstar

update: add fstrim
  kubernetes/darkstar/apps/system/fstrim/app/helm-release.yaml
  kubernetes/darkstar/apps/system/fstrim/app/kustomization.yaml
  kubernetes/darkstar/apps/system/fstrim/ks.yaml
Labels: area/kubernetes, cluster/darkstar

update: talos config and helmfile - what happened to that ...
  infrastructure/darkstar/talos/integrations/helmfile.yaml
  infrastructure/darkstar/talos/talconfig.yaml
Labels: cluster/darkstar

update: talos config and helmfile - what happened to that ...
  infrastructure/darkstar/talos/integrations/helmfile.yaml
  infrastructure/darkstar/talos/talconfig.yaml
Labels: cluster/darkstar

update: talos config and helmfile - what happened to that ...
  infrastructure/darkstar/talos/integrations/helmfile.yaml
  infrastructure/darkstar/talos/talconfig.yaml
Labels: cluster/darkstar

update: move csr approver to kube-system ns update: remove k8s-ycl
  kubernetes/darkstar/apps/kube-system/kustomization.yaml
  kubernetes/darkstar/apps/system-controllers/k8s-ycl/app/helm-release.yaml
  kubernetes/darkstar/apps/system-controllers/k8s-ycl/app/kustomization.yaml
  kubernetes/darkstar/apps/system-controllers/k8s-ycl/ks.yaml
  kubernetes/darkstar/apps/system-controllers/kubelet-csr-approver/app/helm-release.yaml
  kubernetes/darkstar/apps/system-controllers/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/darkstar/apps/system-controllers/kubelet-csr-approver/app/kustomize-config.yaml
  kubernetes/darkstar/apps/system-controllers/kubelet-csr-approver/app/values.yaml
  kubernetes/darkstar/apps/system-controllers/kubelet-csr-approver/ks.yaml
  kubernetes/darkstar/apps/system-controllers/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: move csr approver to kube-system ns update: remove k8s-ycl
  kubernetes/darkstar/apps/kube-system/kustomization.yaml
  kubernetes/darkstar/apps/system-controllers/k8s-ycl/app/helm-release.yaml
  kubernetes/darkstar/apps/system-controllers/k8s-ycl/app/kustomization.yaml
  kubernetes/darkstar/apps/system-controllers/k8s-ycl/ks.yaml
  kubernetes/darkstar/apps/system-controllers/kubelet-csr-approver/app/helm-release.yaml
  kubernetes/darkstar/apps/system-controllers/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/darkstar/apps/system-controllers/kubelet-csr-approver/app/kustomize-config.yaml
  kubernetes/darkstar/apps/system-controllers/kubelet-csr-approver/app/values.yaml
  kubernetes/darkstar/apps/system-controllers/kubelet-csr-approver/ks.yaml
  kubernetes/darkstar/apps/system-controllers/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: move csr approver to kube-system ns update: remove k8s-ycl
  kubernetes/darkstar/apps/kube-system/kustomization.yaml
  kubernetes/darkstar/apps/system-controllers/k8s-ycl/app/helm-release.yaml
  kubernetes/darkstar/apps/system-controllers/k8s-ycl/app/kustomization.yaml
  kubernetes/darkstar/apps/system-controllers/k8s-ycl/ks.yaml
  kubernetes/darkstar/apps/system-controllers/kubelet-csr-approver/app/helm-release.yaml
  kubernetes/darkstar/apps/system-controllers/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/darkstar/apps/system-controllers/kubelet-csr-approver/app/kustomize-config.yaml
  kubernetes/darkstar/apps/system-controllers/kubelet-csr-approver/app/values.yaml
  kubernetes/darkstar/apps/system-controllers/kubelet-csr-approver/ks.yaml
  kubernetes/darkstar/apps/system-controllers/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove system upgrade component (for now)
  _archived/kubernetes/system-upgrade/system-upgrade-controller/app/helm-release.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/app/rbac.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/ks.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/plans/agent.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/plans/server.yaml
  kubernetes/darkstar/apps/system-upgrade/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove system upgrade component (for now)
  _archived/kubernetes/system-upgrade/system-upgrade-controller/app/helm-release.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/app/rbac.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/ks.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/plans/agent.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/plans/server.yaml
  kubernetes/darkstar/apps/system-upgrade/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove system upgrade component (for now)
  _archived/kubernetes/system-upgrade/system-upgrade-controller/app/helm-release.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/app/rbac.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/ks.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/plans/agent.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  _archived/kubernetes/system-upgrade/system-upgrade-controller/plans/server.yaml
  kubernetes/darkstar/apps/system-upgrade/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove explicit ns from kustomizations
  kubernetes/darkstar/apps/system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/darkstar/apps/system/intel-device-plugins/operator/kustomization.yaml
  kubernetes/darkstar/apps/system/node-feature-discovery/app/kustomization.yaml
  kubernetes/darkstar/apps/system/reloader/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove explicit ns from kustomizations
  kubernetes/darkstar/apps/system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/darkstar/apps/system/intel-device-plugins/operator/kustomization.yaml
  kubernetes/darkstar/apps/system/node-feature-discovery/app/kustomization.yaml
  kubernetes/darkstar/apps/system/reloader/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove explicit ns from kustomizations
  kubernetes/darkstar/apps/system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/darkstar/apps/system/intel-device-plugins/operator/kustomization.yaml
  kubernetes/darkstar/apps/system/node-feature-discovery/app/kustomization.yaml
  kubernetes/darkstar/apps/system/reloader/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove csi addons repo
  kubernetes/darkstar/repos/git/kubernetes-csi-addons.yaml
  kubernetes/darkstar/repos/git/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove csi addons repo
  kubernetes/darkstar/repos/git/kubernetes-csi-addons.yaml
  kubernetes/darkstar/repos/git/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove csi addons repo
  kubernetes/darkstar/repos/git/kubernetes-csi-addons.yaml
  kubernetes/darkstar/repos/git/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix: no namespace yaml for this ... sigh
  kubernetes/darkstar/apps/storage/topolvm/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"
