Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

feat(metrics): fix missing flux-metrics configuration and integrate with helmrelease
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/configs/flux-metrics.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(config): remove optional miscellaneous formats from recyclarr configuration
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix(config): add unwanted groups to custom format groups in recyclarr configuration
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

Revert "fix(container): update ghcr.io/home-operations/esphome ( 2026.4.2 ➔ 2026.4.3 )"
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Update multus to use bjw-s's version and helm chart
  kubernetes/darkstar/apps/networking/multus/app/crds.yaml
  kubernetes/darkstar/apps/networking/multus/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/multus/app/helmrelease.yaml
  kubernetes/darkstar/apps/networking/multus/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Update for app-template v5
  kubernetes/darkstar/apps/observability/gatus/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "fix(container): update ghcr.io/siderolabs/installer ( v1.13.1 ➔ v1.13.2 )"
  infrastructure/talos/darkstar/talconfig.yaml
  kubernetes/darkstar/apps/system-upgrade/tuppr/upgrades/talos.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

Revert "feat(container): update docker.io/envoyproxy/gateway-helm ( 1.7.3 ➔ 1.8.0 )"
  kubernetes/darkstar/.bootstrap/helmfile.d/helmfile-crds.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Temp remove envoy to cllear issues
  kubernetes/darkstar/.archive/envoy-gateway/app/helm-release.yaml
  kubernetes/darkstar/.archive/envoy-gateway/app/kustomization.yaml
  kubernetes/darkstar/.archive/envoy-gateway/app/podmonitor.yaml
  kubernetes/darkstar/.archive/envoy-gateway/app/servicemonitor.yaml
  kubernetes/darkstar/.archive/envoy-gateway/config/certificate.yaml
  kubernetes/darkstar/.archive/envoy-gateway/config/envoyproxy.yaml
  kubernetes/darkstar/.archive/envoy-gateway/config/external/gateway.yaml
  kubernetes/darkstar/.archive/envoy-gateway/config/external/kustomization.yaml
  kubernetes/darkstar/.archive/envoy-gateway/config/gatewayclass.yaml
  kubernetes/darkstar/.archive/envoy-gateway/config/internal/gateway.yaml
  kubernetes/darkstar/.archive/envoy-gateway/config/internal/kustomization.yaml
  kubernetes/darkstar/.archive/envoy-gateway/config/kustomization.yaml
  kubernetes/darkstar/.archive/envoy-gateway/config/policies/backendtrafficpolicy.yaml
  kubernetes/darkstar/.archive/envoy-gateway/config/policies/clienttrafficpolicy.yaml
  kubernetes/darkstar/.archive/envoy-gateway/config/policies/kustomization.yaml
  kubernetes/darkstar/.archive/envoy-gateway/ks.yaml
  kubernetes/darkstar/.bootstrap/helmfile.d/helmfile-crds.yaml
  kubernetes/darkstar/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/darkstar/apps/kube-system/cilium/config/cidrgroup-internet.yaml
  kubernetes/darkstar/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/darkstar/apps/kube-system/cilium/config/l2-pool.yaml
  kubernetes/darkstar/apps/kube-system/cilium/ks.yaml
  kubernetes/darkstar/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "Temp remove envoy to cllear issues"
  kubernetes/darkstar/.bootstrap/helmfile.d/helmfile-crds.yaml
  kubernetes/darkstar/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/darkstar/apps/kube-system/cilium/app/l2-lb.yaml
  kubernetes/darkstar/apps/kube-system/cilium/config/cidrgroup-internet.yaml
  kubernetes/darkstar/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/darkstar/apps/kube-system/cilium/ks.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/app/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/app/podmonitor.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/app/servicemonitor.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/certificate.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/envoyproxy.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/external/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/gatewayclass.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/gateway.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/policies/backendtrafficpolicy.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/policies/clienttrafficpolicy.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/policies/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/ks.yaml
  kubernetes/darkstar/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Update envoy config
  kubernetes/darkstar/apps/networking/envoy-gateway/config/envoyproxy.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/policies/backendtrafficpolicy.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/policies/clienttrafficpolicy.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Update envoy repo location
  kubernetes/darkstar/.bootstrap/helmfile.d/helmfile-crds.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): separate out crds for envoy once more
  kubernetes/darkstar/apps/networking/envoy-gateway/crds/helmrelease.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/crds/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): delete envoy crds - fixed issue (race between binding and policy)
  kubernetes/darkstar/apps/networking/envoy-gateway/crds/helmrelease.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/crds/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/ks.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Add HPA based on bjw-s - replace keda
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/home-automation/frigate/ks.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/observability/kustomization.yaml
  kubernetes/darkstar/apps/observability/prometheus-adapter/app/helmrelease.yaml
  kubernetes/darkstar/apps/observability/prometheus-adapter/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/prometheus-adapter/ks.yaml
  kubernetes/darkstar/components/zeroscaler/horizontalpodautoscaler.yaml
  kubernetes/darkstar/components/zeroscaler/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): sigh - didn't revert
  kubernetes/darkstar/apps/networking/envoy-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

chore(talos): Add HPAScaleToZero=true to feature-gates
  infrastructure/talos/darkstar/talconfig.yaml
Labels: area/talos, cluster/darkstar

fix(container): Re-add silence for maxed out hpa
  kubernetes/darkstar/apps/observability/silence-operator/silences/hpa_maxed_out.yaml
  kubernetes/darkstar/apps/observability/silence-operator/silences/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(doco-cd): Explore using doco-cd on apollo
  .vscode/settings.json
  docker/apollo/.doco-cd.yaml
Labels: cluster/apollo

fix(container): Set jobname for probe ...
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/darkstar/components/zeroscaler/horizontalpodautoscaler.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Move pod/service monitor
  kubernetes/darkstar/apps/networking/envoy-gateway/app/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/podmonitor.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/servicemonitor.yaml
Labels: area/kubernetes, cluster/darkstar

feat(container): Add infisical eso store
  kubernetes/darkstar/apps/external-secrets/infisical/app/clustersecretstore.yaml
  kubernetes/darkstar/apps/external-secrets/infisical/app/externalsecret.yaml
  kubernetes/darkstar/apps/external-secrets/infisical/app/kustomization.yaml
  kubernetes/darkstar/apps/external-secrets/infisical/ks.yaml
  kubernetes/darkstar/apps/external-secrets/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(doco-cd): Auto-discovery
  docker/apollo/.doco-cd.yaml
Labels: cluster/apollo

feat(doco-cd): Add containers for doco-cd on apollo
  docker/apollo/node-exporter/docker-compose.yml
  docker/apollo/sabnzbd/docker-compose.yml
  docker/apollo/smartctl-exporter/docker-compose.yml
Labels: cluster/apollo

feat(doco-cd): Add doco-cd config for gravity
  docker/gravity/.doco-cd.yaml
  docker/gravity/node-exporter/docker-compose.yml
  docker/gravity/tvheadend/docker-compose.yml
Labels: none

chore(container): Test switch to infisical eso
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/externalsecrets.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Switch remaining secrets to infisical
  .infisical.json
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  kubernetes/darkstar/.bootstrap/resources.yaml.j2
  kubernetes/darkstar/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/darkstar/apps/flux-system/flux-instance/app/github/webhooks/externalsecret.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/externalsecret.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/darkstar/apps/ignition/ignition/app/externalsecret.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/externalsecret.yaml
  kubernetes/darkstar/apps/media/plex/plex-image-cleanup/externalsecret.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/darkstar/apps/networking/external-dns/adguard/externalsecret.yaml
  kubernetes/darkstar/apps/networking/external-dns/cloudflare/externalsecret.yaml
  kubernetes/darkstar/apps/networking/external-dns/rfc2136/externalsecret.yaml
  kubernetes/darkstar/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/darkstar/components/volsync/nfs/externalsecret.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Drop droppler
  kubernetes/darkstar/.archive/doppler/app/clustersecretstore.yaml
  kubernetes/darkstar/.archive/doppler/app/externalsecret.yaml
  kubernetes/darkstar/.archive/doppler/app/kustomization.yaml
  kubernetes/darkstar/.archive/doppler/ks.yaml
  kubernetes/darkstar/apps/external-secrets/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

chore(docker): Test inlining config for sabnzbd
  docker/apollo/sabnzbd/.doco-cd.yaml
  docker/apollo/sabnzbd/docker-compose.yml
Labels: cluster/apollo

chore(docker): tvheadend compose updates
  docker/gravity/tvheadend/docker-compose.yaml
Labels: none

feat(docker): Add dockhand?
  docker/apollo/dockhand/docker-compose.yaml
Labels: cluster/apollo

feat(docker): Add dockhand to gravity
  docker/gravity/dockhand/docker-compose.yaml
Labels: none

feat(docker): Overhaul the ansible/docker infrastructure config
  .taskfiles/ansible/Taskfile.yml
  docker/apollo/node-exporter/docker-compose.yaml
  docker/apollo/sabnzbd/docker-compose.yaml
  docker/apollo/smartctl-exporter/docker-compose.yaml
  docker/gravity/node-exporter/docker-compose.yaml
  infrastructure/ansible/README.md
  infrastructure/ansible/inventory/group_vars/all.yaml
  infrastructure/ansible/inventory/group_vars/nas.yaml
  infrastructure/ansible/inventory/group_vars/tvh.yaml
  infrastructure/ansible/inventory/hosts.yaml
  infrastructure/ansible/playbooks/common/docker-base.yml
  infrastructure/ansible/playbooks/nas/apps.yml
  infrastructure/ansible/playbooks/nas/docker.yaml
  infrastructure/ansible/playbooks/nas/files/docker-compose.yaml
  infrastructure/ansible/playbooks/nas/os.yaml
  infrastructure/ansible/playbooks/nas/templates/smartd.conf.j2
  infrastructure/ansible/playbooks/nas/templates/zed.rc.j2
  infrastructure/ansible/playbooks/nas/templates/zfs-exporter-chris.service.j2
  infrastructure/ansible/playbooks/nas/templates/zfs-exporter.service.j2
  infrastructure/ansible/playbooks/site.yml
  infrastructure/ansible/playbooks/tvh/apps.yml
  infrastructure/ansible/playbooks/tvh/docker.yaml
  infrastructure/ansible/playbooks/tvh/files/docker-compose.yaml
  infrastructure/ansible/playbooks/tvh/os.yaml
  infrastructure/ansible/playbooks/tvh/os.yml
  infrastructure/ansible/requirements.yaml
  infrastructure/ansible/roles/docker_compose_service/README.md
  infrastructure/ansible/roles/docker_compose_service/defaults/main.yml
  infrastructure/ansible/roles/docker_compose_service/handlers/main.yml
  infrastructure/ansible/roles/docker_compose_service/tasks/main.yml
  infrastructure/ansible/roles/docker_compose_service/templates/docker-compose.service.j2
  infrastructure/ansible/templates/aliases.j2
  infrastructure/ansible/templates/docker-compose/node-exporter/docker-compose.yml.j2
  infrastructure/ansible/templates/docker-compose/sabnzbd/docker-compose.yml.j2
  infrastructure/ansible/templates/docker-compose/smartctl-exporter/docker-compose.yml.j2
  infrastructure/ansible/templates/docker-compose/tvheadend/docker-compose.yml.j2
  infrastructure/ansible/templates/docker-compose@.service.j2
Labels: area/ansible, cluster/apollo

chore(vscode): Couple defaults for commit templates
  .vscode/settings.json
Labels: none

feat(container): Add a proxy for dockhands?
  kubernetes/darkstar/apps/observability/dockhand/app/backend.yaml
  kubernetes/darkstar/apps/observability/dockhand/app/httproute.yaml
  kubernetes/darkstar/apps/observability/dockhand/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/dockhand/ks.yaml
  kubernetes/darkstar/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): No relative paths for dockhand?
  kubernetes/darkstar/apps/observability/dockhand/app/httproute.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): Yeah ... that wasn't gonna work
  kubernetes/darkstar/apps/observability/dockhand/app/httproute.yaml
Labels: area/kubernetes, cluster/darkstar

chore(vscode): More git commit template stuff
  .vscode/settings.json
Labels: none

feat(docker): Set user/group
  docker/apollo/dockhand/docker-compose.yaml
  docker/gravity/dockhand/docker-compose.yaml
Labels: cluster/apollo

chore: Remove github action for schema generation
  .github/workflows/schemas.yaml
Labels: area/github
