Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

fix(config.yaml): correct service URL for starstreak.net ingress
  kubernetes/darkstar/apps/networking/cloudflared/app/config/config.yaml
Labels: area/kubernetes, cluster/darkstar

fix(config.yaml): correct service URL for starstreak.net ingress
  kubernetes/darkstar/apps/networking/cloudflared/app/config/config.yaml
Labels: area/kubernetes, cluster/darkstar

fix(ks.yaml): update sourceRef name to k8s-home-ops for flux-instance and flux-operator
  kubernetes/darkstar/apps/flux-system/flux-instance/ks.yaml
  kubernetes/darkstar/apps/flux-system/flux-operator/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(ks.yaml): update sourceRef name to k8s-home-ops for flux-instance and flux-operator
  kubernetes/darkstar/apps/flux-system/flux-instance/ks.yaml
  kubernetes/darkstar/apps/flux-system/flux-operator/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(receiver.yaml): update GitRepository name to k8s-home-ops and correct Kustomization name to flux-repositories
  kubernetes/darkstar/apps/flux-system/flux-instance/app/github/webhooks/receiver.yaml
Labels: area/kubernetes, cluster/darkstar

fix(receiver.yaml): update GitRepository name to k8s-home-ops and correct Kustomization name to flux-repositories
  kubernetes/darkstar/apps/flux-system/flux-instance/app/github/webhooks/receiver.yaml
Labels: area/kubernetes, cluster/darkstar

fix(Taskfile.yaml, talconfig.yaml, helmfile-apps.yaml): correct helmfile commands, update Talos and Kubernetes versions, and adjust format-lvm dependency
  .taskfiles/bootstrap/Taskfile.yaml
  infrastructure/darkstar/talos/talconfig.yaml
  kubernetes/darkstar/bootstrap/helmfile-apps.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

fix(Taskfile.yaml, talconfig.yaml, helmfile-apps.yaml): correct helmfile commands, update Talos and Kubernetes versions, and adjust format-lvm dependency
  .taskfiles/bootstrap/Taskfile.yaml
  infrastructure/darkstar/talos/talconfig.yaml
  kubernetes/darkstar/bootstrap/helmfile-apps.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

fix: k8s to 1.33.4
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix: k8s to 1.33.4
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(receiver.yaml, cluster.yaml): rename Kustomization from flux-repositories to cluster-repos
  kubernetes/darkstar/apps/flux-system/flux-instance/app/github/webhooks/receiver.yaml
  kubernetes/darkstar/flux/cluster/cluster.yaml
Labels: area/kubernetes, cluster/darkstar

fix(receiver.yaml, cluster.yaml): rename Kustomization from flux-repositories to cluster-repos
  kubernetes/darkstar/apps/flux-system/flux-instance/app/github/webhooks/receiver.yaml
  kubernetes/darkstar/flux/cluster/cluster.yaml
Labels: area/kubernetes, cluster/darkstar

fix(workflows): update paths in flux-local and pre-pull-images workflows
  .github/workflows/flux-local.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

fix(workflows): update paths in flux-local and pre-pull-images workflows
  .github/workflows/flux-local.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

fix(groups.json5): update matchPackageNames for Talos Group
  .renovate/groups.json5
Labels: none

fix(groups.json5): update matchPackageNames for Talos Group
  .renovate/groups.json5
Labels: none

fix(cluster.yaml): remove redundant targetNamespace and adjust wait property
  kubernetes/darkstar/flux/cluster/cluster.yaml
Labels: area/kubernetes, cluster/darkstar

fix(cluster.yaml): remove redundant targetNamespace and adjust wait property
  kubernetes/darkstar/flux/cluster/cluster.yaml
Labels: area/kubernetes, cluster/darkstar

fix(talconfig.yaml): update talosVersion to v1.11.0
  infrastructure/darkstar/talos/talconfig.yaml
Labels: area/talos, cluster/darkstar

fix(talconfig.yaml): update talosVersion to v1.11.0
  infrastructure/darkstar/talos/talconfig.yaml
Labels: area/talos, cluster/darkstar

Refactor ZFS monitoring configuration and update Grafana dashboards
  infrastructure/apollo/ansible/inventory/host_vars/apollo.yml
  infrastructure/apollo/ansible/playbooks/os.yml
  infrastructure/apollo/ansible/playbooks/templates/zfs-exporter.service.j2
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/kustomization.yaml
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/zfs-arc-stats.json
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/zfs-dataset-details.json
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/zfs-pool-datasets.json
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/zfs-pool-overview.json
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/zfs-vdev-list.json
  kubernetes/darkstar/apps/observability/grafana/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/grafana/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/rules/zfs.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/zfs-exporter.yaml
Labels: area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

Refactor ZFS monitoring configuration and update Grafana dashboards
  infrastructure/apollo/ansible/inventory/host_vars/apollo.yml
  infrastructure/apollo/ansible/playbooks/os.yml
  infrastructure/apollo/ansible/playbooks/templates/zfs-exporter.service.j2
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/kustomization.yaml
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/zfs-arc-stats.json
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/zfs-dataset-details.json
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/zfs-pool-datasets.json
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/zfs-pool-overview.json
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/zfs-vdev-list.json
  kubernetes/darkstar/apps/observability/grafana/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/grafana/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/rules/zfs.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/zfs-exporter.yaml
Labels: area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

Correct grafana_folder annotation casing in kustomization.yaml
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Correct grafana_folder annotation casing in kustomization.yaml
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Add KEDA components and HelmRelease configuration for scaling
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/system/keda/app/helm-release.yaml
  kubernetes/darkstar/apps/system/keda/app/kustomization.yaml
  kubernetes/darkstar/apps/system/keda/ks.yaml
  kubernetes/darkstar/components/keda/nas-nfs-scaler/kustomization.yaml
  kubernetes/darkstar/components/keda/nas-nfs-scaler/scaledobject.yaml
  kubernetes/darkstar/flux/repos/helm/keda-charts.yaml
  kubernetes/darkstar/flux/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Add KEDA components and HelmRelease configuration for scaling
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/system/keda/app/helm-release.yaml
  kubernetes/darkstar/apps/system/keda/app/kustomization.yaml
  kubernetes/darkstar/apps/system/keda/ks.yaml
  kubernetes/darkstar/components/keda/nas-nfs-scaler/kustomization.yaml
  kubernetes/darkstar/components/keda/nas-nfs-scaler/scaledobject.yaml
  kubernetes/darkstar/flux/repos/helm/keda-charts.yaml
  kubernetes/darkstar/flux/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Add KEDA resource to kustomization.yaml
  kubernetes/darkstar/apps/system/keda/app/kustomization.yaml
  kubernetes/darkstar/apps/system/keda/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Add KEDA resource to kustomization.yaml
  kubernetes/darkstar/apps/system/keda/app/kustomization.yaml
  kubernetes/darkstar/apps/system/keda/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Add KEDA resource to kustomization.yaml
  kubernetes/darkstar/apps/system/keda/app/helm-release.yaml
  kubernetes/darkstar/apps/system/keda/app/kustomization.yaml
  kubernetes/darkstar/apps/system/keda/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
  kubernetes/darkstar/components/keda/nas-nfs-scaler/scaledobject.yaml
Labels: area/kubernetes, cluster/darkstar

Add KEDA resource to kustomization.yaml
  kubernetes/darkstar/apps/system/keda/app/helm-release.yaml
  kubernetes/darkstar/apps/system/keda/app/kustomization.yaml
  kubernetes/darkstar/apps/system/keda/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
  kubernetes/darkstar/components/keda/nas-nfs-scaler/scaledobject.yaml
Labels: area/kubernetes, cluster/darkstar

Add KEDA component to Kustomization for Sonarr, Plex, and Volsync
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/storage/volsync/ks.yaml
Labels: area/kubernetes, cluster/darkstar

Add KEDA component to Kustomization for Sonarr, Plex, and Volsync
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/storage/volsync/ks.yaml
Labels: area/kubernetes, cluster/darkstar

Add KEDA repository and release configuration to helmfile-crds.yaml
  kubernetes/darkstar/bootstrap/helmfile-crds.yaml
Labels: area/kubernetes, cluster/darkstar

Add KEDA repository and release configuration to helmfile-crds.yaml
  kubernetes/darkstar/bootstrap/helmfile-crds.yaml
Labels: area/kubernetes, cluster/darkstar

Add Silence Operator and related configurations to observability
  kubernetes/darkstar/apps/observability/kustomization.yaml
  kubernetes/darkstar/apps/observability/silence-operator/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/silence-operator/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/silence-operator/ks.yaml
  kubernetes/darkstar/apps/observability/silence-operator/silences/keda_hpa_maxed_out.yaml
  kubernetes/darkstar/apps/observability/silence-operator/silences/kustomization.yaml
  kubernetes/darkstar/flux/repos/helm/giantswarm-charts.yaml
  kubernetes/darkstar/flux/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Add Silence Operator and related configurations to observability
  kubernetes/darkstar/apps/observability/kustomization.yaml
  kubernetes/darkstar/apps/observability/silence-operator/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/silence-operator/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/silence-operator/ks.yaml
  kubernetes/darkstar/apps/observability/silence-operator/silences/keda_hpa_maxed_out.yaml
  kubernetes/darkstar/apps/observability/silence-operator/silences/kustomization.yaml
  kubernetes/darkstar/flux/repos/helm/giantswarm-charts.yaml
  kubernetes/darkstar/flux/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Add YAML schema reference to scaledobject.yaml
  kubernetes/darkstar/components/keda/nas-nfs-scaler/scaledobject.yaml
Labels: area/kubernetes, cluster/darkstar

Add YAML schema reference to scaledobject.yaml
  kubernetes/darkstar/components/keda/nas-nfs-scaler/scaledobject.yaml
Labels: area/kubernetes, cluster/darkstar

Add ScaledObject configuration for zigbee2mqtt adapter
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/scaledobject.yaml
Labels: area/kubernetes, cluster/darkstar

Add ScaledObject configuration for zigbee2mqtt adapter
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/scaledobject.yaml
Labels: area/kubernetes, cluster/darkstar
