Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

feat(kustomization): comment out emqx and external-secrets chart resources
  kubernetes/darkstar/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(kustomization): comment out emqx and external-secrets chart resources
  kubernetes/darkstar/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

refactor: remove feature gates patch for helm-controller
  kubernetes/darkstar/flux/configure/flux.yaml
Labels: area/kubernetes, cluster/darkstar

refactor: remove feature gates patch for helm-controller
  kubernetes/darkstar/flux/configure/flux.yaml
Labels: area/kubernetes, cluster/darkstar

feat: remove HelmRelease and Kustomization for node-feature-discovery
  .archived/kubernetes/node-feature-discovery/app/helm-release.yaml
  .archived/kubernetes/node-feature-discovery/app/kustomization.yaml
  .archived/kubernetes/node-feature-discovery/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
  kubernetes/darkstar/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat: remove HelmRelease and Kustomization for node-feature-discovery
  .archived/kubernetes/node-feature-discovery/app/helm-release.yaml
  .archived/kubernetes/node-feature-discovery/app/kustomization.yaml
  .archived/kubernetes/node-feature-discovery/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
  kubernetes/darkstar/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat: remove dependency on node-feature-discovery from intel-device-plugins Kustomization
  kubernetes/darkstar/apps/system/intel-device-plugins/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat: remove dependency on node-feature-discovery from intel-device-plugins Kustomization
  kubernetes/darkstar/apps/system/intel-device-plugins/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat: update replication schedule and retention settings in ReplicationSource
  kubernetes/darkstar/apps/storage/volsync/templates/kustomization.yaml
  kubernetes/darkstar/apps/storage/volsync/templates/nfs/replication-source.yaml
Labels: area/kubernetes, cluster/darkstar

feat: update replication schedule and retention settings in ReplicationSource
  kubernetes/darkstar/apps/storage/volsync/templates/kustomization.yaml
  kubernetes/darkstar/apps/storage/volsync/templates/nfs/replication-source.yaml
Labels: area/kubernetes, cluster/darkstar

feat(music-assistant): add HelmRelease and Kustomization files for music-assistant deployment
  kubernetes/darkstar/apps/media/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(music-assistant): add HelmRelease and Kustomization files for music-assistant deployment
  kubernetes/darkstar/apps/media/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(home-assistant): update kokoro configuration for TTS and health checks
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(home-assistant): update kokoro configuration for TTS and health checks
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(music-assistant): remove HelmRelease and Kustomization files for deployment
  .archived/kubernetes/music-assistant/app/helm-release.yaml
  .archived/kubernetes/music-assistant/app/kustomization.yaml
  .archived/kubernetes/music-assistant/ks.yaml
  kubernetes/darkstar/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(music-assistant): remove HelmRelease and Kustomization files for deployment
  .archived/kubernetes/music-assistant/app/helm-release.yaml
  .archived/kubernetes/music-assistant/app/kustomization.yaml
  .archived/kubernetes/music-assistant/ks.yaml
  kubernetes/darkstar/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(home-assistant): update wyoming-kokoro image and remove commented-out configurations
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(home-assistant): update wyoming-kokoro image and remove commented-out configurations
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(home-assistant): update security context and resource limits in helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(home-assistant): update security context and resource limits in helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(home-assistant): add debug argument and clean up security context in helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(home-assistant): add debug argument and clean up security context in helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(home-assistant): enhance security context with user and group settings in helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(home-assistant): enhance security context with user and group settings in helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(k8tz): update webhook issuer name and remove unused pki.yaml
  kubernetes/darkstar/apps/system-controllers/k8tz/app/helm-release.yaml
  kubernetes/darkstar/apps/system-controllers/k8tz/app/kustomization.yaml
  kubernetes/darkstar/apps/system-controllers/k8tz/app/pki.yaml
Labels: area/kubernetes, cluster/darkstar

feat(k8tz): update webhook issuer name and remove unused pki.yaml
  kubernetes/darkstar/apps/system-controllers/k8tz/app/helm-release.yaml
  kubernetes/darkstar/apps/system-controllers/k8tz/app/kustomization.yaml
  kubernetes/darkstar/apps/system-controllers/k8tz/app/pki.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(helm): update helm release openebs ( 4.2.0 → 4.3.0 )"
  kubernetes/darkstar/apps/storage/openebs/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(helm): update helm release openebs ( 4.2.0 → 4.3.0 )"
  kubernetes/darkstar/apps/storage/openebs/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(helm): update openebs version to 4.3.0 and organize values
  kubernetes/darkstar/apps/storage/openebs/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(helm): update openebs version to 4.3.0 and organize values
  kubernetes/darkstar/apps/storage/openebs/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(monitoring): add zfs_exporter job configuration to scrape metrics
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(monitoring): add zfs_exporter job configuration to scrape metrics
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(alerts): add ZFS monitoring alerts for pool status and collector health
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/alerts/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/alerts/zfs.yaml
Labels: area/kubernetes, cluster/darkstar

feat(alerts): add ZFS monitoring alerts for pool status and collector health
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/alerts/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/alerts/zfs.yaml
Labels: area/kubernetes, cluster/darkstar

feat(grafana): update ZFS dashboard configuration for pdf-exporter
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(grafana): update ZFS dashboard configuration for pdf-exporter
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(zfs): add zfs-exporter service and update playbooks for ZFS configuration
  infrastructure/apollo/ansible/inventory/host_vars/apollo.yml
  infrastructure/apollo/ansible/playbooks/os.yml
  infrastructure/apollo/ansible/playbooks/templates/zfs-exporter.service.j2
  infrastructure/apollo/ansible/playbooks/vars/main.yml
Labels: area/ansible, cluster/apollo

feat(zfs): add zfs-exporter service and update playbooks for ZFS configuration
  infrastructure/apollo/ansible/inventory/host_vars/apollo.yml
  infrastructure/apollo/ansible/playbooks/os.yml
  infrastructure/apollo/ansible/playbooks/templates/zfs-exporter.service.j2
  infrastructure/apollo/ansible/playbooks/vars/main.yml
Labels: area/ansible, cluster/apollo

feat(mise): add kubecolor dependency and downgrade python version to 3.13.4
  .mise.toml
Labels: none

feat(mise): add kubecolor dependency and downgrade python version to 3.13.4
  .mise.toml
Labels: none
