Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

fix(helm-release): simplify security context by removing unnecessary fields
  kubernetes/darkstar/apps/home-automation/frigate/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): simplify security context by removing unnecessary fields
  kubernetes/darkstar/apps/home-automation/frigate/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(zigbee2mqtt): add convertor configuration and resource file for EGLO_ZM_TW model
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/resources/convertor.mjs
Labels: area/kubernetes, cluster/darkstar

feat(zigbee2mqtt): add convertor configuration and resource file for EGLO_ZM_TW model
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/resources/convertor.mjs
Labels: area/kubernetes, cluster/darkstar

feat(zigbee2mqtt): add PVC for convertors and update helm release configuration
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/pvc.yaml
Labels: area/kubernetes, cluster/darkstar

feat(zigbee2mqtt): add PVC for convertors and update helm release configuration
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/pvc.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(zigbee2mqtt): replace legacy imports with modernExtend for EGLO_ZM_TW model
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/resources/convertor.mjs
Labels: area/kubernetes, cluster/darkstar

refactor(zigbee2mqtt): replace legacy imports with modernExtend for EGLO_ZM_TW model
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/resources/convertor.mjs
Labels: area/kubernetes, cluster/darkstar

refactor(helm-release): comment out convertor configuration for clarity
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(helm-release): comment out convertor configuration for clarity
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(zigbee2mqtt): streamline convertor configuration in helm release and update resource file
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/resources/convertor.mjs
Labels: area/kubernetes, cluster/darkstar

refactor(zigbee2mqtt): streamline convertor configuration in helm release and update resource file
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/resources/convertor.mjs
Labels: area/kubernetes, cluster/darkstar

feat(frigate): update media storage configuration to use hostPath instead of NFS
  infrastructure/talos/darkstar/talconfig.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/helm-release.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

feat(frigate): update media storage configuration to use hostPath instead of NFS
  infrastructure/talos/darkstar/talconfig.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/helm-release.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

fix(frigate): update media hostPath from /var/mnt/frigate to /var/mnt/usb fix(talos): change userVolumes name from frigate to usb
  infrastructure/talos/darkstar/talconfig.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/helm-release.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

fix(frigate): update media hostPath from /var/mnt/frigate to /var/mnt/usb fix(talos): change userVolumes name from frigate to usb
  infrastructure/talos/darkstar/talconfig.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/helm-release.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

fix(talconfig): update NTP server from time.cloudflare.com to 10.1.10.1
  infrastructure/talos/darkstar/talconfig.yaml
Labels: area/talos, cluster/darkstar

fix(talconfig): update NTP server from time.cloudflare.com to 10.1.10.1
  infrastructure/talos/darkstar/talconfig.yaml
Labels: area/talos, cluster/darkstar

refactor(gatus): remove gatus-secret and update helm release configuration
  kubernetes/darkstar/apps/observability/gatus/app/gatus-secret.sops.yaml
  kubernetes/darkstar/apps/observability/gatus/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/gatus/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/gatus/app/prometheusrule.yaml
  kubernetes/darkstar/apps/observability/gatus/app/resources/config.yaml
  kubernetes/darkstar/apps/observability/gatus/ks.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(gatus): remove gatus-secret and update helm release configuration
  kubernetes/darkstar/apps/observability/gatus/app/gatus-secret.sops.yaml
  kubernetes/darkstar/apps/observability/gatus/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/gatus/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/gatus/app/prometheusrule.yaml
  kubernetes/darkstar/apps/observability/gatus/app/resources/config.yaml
  kubernetes/darkstar/apps/observability/gatus/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(gatus): add endpoint annotations for gatus status checks in HTTPRoute and HelmRelease configurations
  kubernetes/darkstar/apps/flux-system/flux-instance/app/github/webhooks/httproute.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/gatus/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/gatus/app/prometheusrule.yaml
  kubernetes/darkstar/apps/observability/kromgo/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(gatus): add endpoint annotations for gatus status checks in HTTPRoute and HelmRelease configurations
  kubernetes/darkstar/apps/flux-system/flux-instance/app/github/webhooks/httproute.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/gatus/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/gatus/app/prometheusrule.yaml
  kubernetes/darkstar/apps/observability/kromgo/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(gateway): add gatus endpoint annotations for external and internal gateways
  kubernetes/darkstar/apps/networking/envoy-gateway/config/external/gateways.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/gateways.yaml
Labels: area/kubernetes, cluster/darkstar

feat(gateway): add gatus endpoint annotations for external and internal gateways
  kubernetes/darkstar/apps/networking/envoy-gateway/config/external/gateways.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/gateways.yaml
Labels: area/kubernetes, cluster/darkstar

feat(gateway): enhance internal gateway configuration with gatus UI settings and update client traffic policy for HTTP2 and timeout settings
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/gateways.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/policies/clienttrafficpolicy.yaml
Labels: area/kubernetes, cluster/darkstar

feat(gateway): enhance internal gateway configuration with gatus UI settings and update client traffic policy for HTTP2 and timeout settings
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/gateways.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/policies/clienttrafficpolicy.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(gatus): update storage path to use GATUS_CONFIG_PATH and remove unused volsync components
  kubernetes/darkstar/apps/observability/gatus/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/gatus/app/resources/config.yaml
  kubernetes/darkstar/apps/observability/gatus/ks.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(gatus): update storage path to use GATUS_CONFIG_PATH and remove unused volsync components
  kubernetes/darkstar/apps/observability/gatus/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/gatus/app/resources/config.yaml
  kubernetes/darkstar/apps/observability/gatus/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(metrics): add flux version metric with label and title
  README.md
  kubernetes/darkstar/apps/observability/kromgo/app/config/config.yaml
Labels: area/kubernetes, cluster/darkstar

feat(metrics): add flux version metric with label and title
  README.md
  kubernetes/darkstar/apps/observability/kromgo/app/config/config.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "chore(container): update ghcr.io/jacobalberty/unifi-docker:v9.5.21 docker digest ( b96378a → e21d932 )"
  kubernetes/darkstar/apps/default/unifi/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "chore(container): update ghcr.io/jacobalberty/unifi-docker:v9.5.21 docker digest ( b96378a → e21d932 )"
  kubernetes/darkstar/apps/default/unifi/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(container): update actions runner controller group ( 0.12.1 → 0.13.0 )"
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/helm-release.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(container): update actions runner controller group ( 0.12.1 → 0.13.0 )"
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/helm-release.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
Labels: area/kubernetes, cluster/darkstar

feat(config): enable go2rtc streams for front camera
  kubernetes/darkstar/apps/home-automation/frigate/app/resources/config.yml
Labels: area/kubernetes, cluster/darkstar

feat(config): enable go2rtc streams for front camera
  kubernetes/darkstar/apps/home-automation/frigate/app/resources/config.yml
Labels: area/kubernetes, cluster/darkstar

fix(container): update MAC addresses in helm-release.yaml for esphome, frigate, and home-assistant
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): update MAC addresses in helm-release.yaml for esphome, frigate, and home-assistant
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): correct indentation for go2rtc service configuration in helm-release.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): correct indentation for go2rtc service configuration in helm-release.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar
