Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

feat(groups): add kube-proxy to Kubernetes package match list
  .renovate/groups.json5
Labels: none

feat(groups): add kube-proxy to Kubernetes package match list
  .renovate/groups.json5
Labels: none

fix(policy): update apiVersion from v1alpha1 to v1beta1 in mutating admission policies
  kubernetes/darkstar/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes, cluster/darkstar

fix(policy): update apiVersion from v1alpha1 to v1beta1 in mutating admission policies
  kubernetes/darkstar/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes, cluster/darkstar

fix(talconfig): remove VIP reference and set static IP for node configuration
  infrastructure/darkstar/talos/talconfig.yaml
Labels: area/talos, cluster/darkstar

fix(talconfig): remove VIP reference and set static IP for node configuration
  infrastructure/darkstar/talos/talconfig.yaml
Labels: area/talos, cluster/darkstar

fix(scrapeconfig): enhance relabeling and metric relabeling for node-exporter
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
Labels: area/kubernetes, cluster/darkstar

fix(scrapeconfig): enhance relabeling and metric relabeling for node-exporter
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
Labels: area/kubernetes, cluster/darkstar

feat(zfs-exporter): add zfs-exporter-chris service and scrape configuration
  infrastructure/apollo/ansible/playbooks/os.yml
  infrastructure/apollo/ansible/playbooks/templates/zfs-exporter-chris.service.j2
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/zfs-exporter.yaml
Labels: area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

feat(zfs-exporter): add zfs-exporter-chris service and scrape configuration
  infrastructure/apollo/ansible/playbooks/os.yml
  infrastructure/apollo/ansible/playbooks/templates/zfs-exporter-chris.service.j2
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/zfs-exporter.yaml
Labels: area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

feat(record): add kustomization and PrometheusRule for ZFS metrics
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/record/kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/record/zfs.yaml
Labels: area/kubernetes, cluster/darkstar

feat(record): add kustomization and PrometheusRule for ZFS metrics
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/record/kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/record/zfs.yaml
Labels: area/kubernetes, cluster/darkstar

fix(zfs): update histogram quantile calculation intervals from 30s to 1m
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/record/zfs.yaml
Labels: area/kubernetes, cluster/darkstar

fix(zfs): update histogram quantile calculation intervals from 30s to 1m
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/record/zfs.yaml
Labels: area/kubernetes, cluster/darkstar

feat(zfs-exporter): add zfs_exporter installation and build steps in playbook
  infrastructure/apollo/ansible/playbooks/os.yml
Labels: area/ansible, cluster/apollo

feat(zfs-exporter): add zfs_exporter installation and build steps in playbook
  infrastructure/apollo/ansible/playbooks/os.yml
Labels: area/ansible, cluster/apollo

fix(grafana): remove unused database dashboard entries and update flux dashboard URLs
  kubernetes/darkstar/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(grafana): remove unused database dashboard entries and update flux dashboard URLs
  kubernetes/darkstar/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(blackbox-exporter): update probe configurations and add new probes for monitoring
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/darkstar/components/keda/nas-nfs-scaler/scaledobject.yaml
Labels: area/kubernetes, cluster/darkstar

fix(blackbox-exporter): update probe configurations and add new probes for monitoring
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/darkstar/components/keda/nas-nfs-scaler/scaledobject.yaml
Labels: area/kubernetes, cluster/darkstar

fix(zigbee2mqtt): update Prometheus query to match zigbee hub instances
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/scaledobject.yaml
Labels: area/kubernetes, cluster/darkstar

fix(zigbee2mqtt): update Prometheus query to match zigbee hub instances
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/scaledobject.yaml
Labels: area/kubernetes, cluster/darkstar

fix(blackbox-exporter): add missing HTTP probe configuration for monitoring
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/darkstar

fix(blackbox-exporter): add missing HTTP probe configuration for monitoring
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(observability): move kube-state-metrics configuration and references back to kps
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/kube-state-metrics/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/kube-state-metrics/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-state-metrics/ks.yaml
  kubernetes/darkstar/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(observability): move kube-state-metrics configuration and references back to kps
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/kube-state-metrics/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/kube-state-metrics/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-state-metrics/ks.yaml
  kubernetes/darkstar/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): kubeControllerManager and kubeScheduler service selectors
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): kubeControllerManager and kubeScheduler service selectors
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(talconfig): update controllerManager and scheduler bind-address to 0.0.0.0
  infrastructure/darkstar/talos/talconfig.yaml
Labels: area/talos, cluster/darkstar

fix(talconfig): update controllerManager and scheduler bind-address to 0.0.0.0
  infrastructure/darkstar/talos/talconfig.yaml
Labels: area/talos, cluster/darkstar

fix(helm-release): update kubeScheduler configuration to use service instead of endpoints
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): update kubeScheduler configuration to use service instead of endpoints
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: disable kps apiserver
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: disable kps apiserver
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(gravity): add initial Ansible playbooks and configurations for Docker and TVHeadend setup
  infrastructure/gravity/ansible/inventory/host_vars/gravity.yml
  infrastructure/gravity/ansible/inventory/hosts.yml
  infrastructure/gravity/ansible/playbooks/apps.yml
  infrastructure/gravity/ansible/playbooks/files/delegate.conf
  infrastructure/gravity/ansible/playbooks/files/docker-cleanup.service
  infrastructure/gravity/ansible/playbooks/files/docker-cleanup.timer
  infrastructure/gravity/ansible/playbooks/os.yml
  infrastructure/gravity/ansible/playbooks/templates/aliases.j2
  infrastructure/gravity/ansible/playbooks/templates/docker-compose@.service.j2
  infrastructure/gravity/ansible/playbooks/templates/node-exporter/docker-compose.yml.j2
  infrastructure/gravity/ansible/playbooks/templates/tvh/docker-compose.yml.j2
  infrastructure/gravity/ansible/playbooks/vars/main.yml
  infrastructure/gravity/ansible/requirements.txt
  infrastructure/gravity/ansible/requirements.yml
Labels: area/ansible

feat(gravity): add initial Ansible playbooks and configurations for Docker and TVHeadend setup
  infrastructure/gravity/ansible/inventory/host_vars/gravity.yml
  infrastructure/gravity/ansible/inventory/hosts.yml
  infrastructure/gravity/ansible/playbooks/apps.yml
  infrastructure/gravity/ansible/playbooks/files/delegate.conf
  infrastructure/gravity/ansible/playbooks/files/docker-cleanup.service
  infrastructure/gravity/ansible/playbooks/files/docker-cleanup.timer
  infrastructure/gravity/ansible/playbooks/os.yml
  infrastructure/gravity/ansible/playbooks/templates/aliases.j2
  infrastructure/gravity/ansible/playbooks/templates/docker-compose@.service.j2
  infrastructure/gravity/ansible/playbooks/templates/node-exporter/docker-compose.yml.j2
  infrastructure/gravity/ansible/playbooks/templates/tvh/docker-compose.yml.j2
  infrastructure/gravity/ansible/playbooks/vars/main.yml
  infrastructure/gravity/ansible/requirements.txt
  infrastructure/gravity/ansible/requirements.yml
Labels: area/ansible

Revert "fix: disable kps apiserver"
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "fix: disable kps apiserver"
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(settings): add ansible.python.interpreterPath to VSCode settings
  .vscode/settings.json
Labels: none

fix(settings): add ansible.python.interpreterPath to VSCode settings
  .vscode/settings.json
Labels: none

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"
