Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

Update: Remove postrenderer - long unrequired
  kubernetes/darkstar/apps/storage/volsync/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: Remove postrenderer - long unrequired
  kubernetes/darkstar/apps/storage/volsync/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: add actions-runner-system to talos api access allowed ns
  infrastructure/darkstar/talos/talconfig.yaml
Labels: area/talos, cluster/darkstar

Update: add actions-runner-system to talos api access allowed ns
  infrastructure/darkstar/talos/talconfig.yaml
Labels: area/talos, cluster/darkstar

Update: vscode settings
  .vscode/settings.json
Labels: none

Update: vscode settings
  .vscode/settings.json
Labels: none

Update: try running atuin server "sqlite edition"
  .archived/kubernetes/atuin/app/externalsecret.yaml
  kubernetes/darkstar/apps/default/atuin/app/helm-release.yaml
  kubernetes/darkstar/apps/default/atuin/app/kustomization.yaml
  kubernetes/darkstar/apps/default/atuin/ks.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Update: try running atuin server "sqlite edition"
  .archived/kubernetes/atuin/app/externalsecret.yaml
  kubernetes/darkstar/apps/default/atuin/app/helm-release.yaml
  kubernetes/darkstar/apps/default/atuin/app/kustomization.yaml
  kubernetes/darkstar/apps/default/atuin/ks.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Update: nah, archive atuin again
  .archived/kubernetes/atuin/app/helm-release.yaml
  .archived/kubernetes/atuin/app/kustomization.yaml
  .archived/kubernetes/atuin/ks.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Update: nah, archive atuin again
  .archived/kubernetes/atuin/app/helm-release.yaml
  .archived/kubernetes/atuin/app/kustomization.yaml
  .archived/kubernetes/atuin/ks.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Fix: include the get-changed-files action ...
  .github/actions/get-changed-files/action.yaml
Labels: area/github

Fix: include the get-changed-files action ...
  .github/actions/get-changed-files/action.yaml
Labels: area/github

Fix: sigh ...
  .github/workflows/pre-pull-images.yaml
Labels: area/github

Fix: sigh ...
  .github/workflows/pre-pull-images.yaml
Labels: area/github

Update: Fewer checks?
  .github/workflows/pre-pull-images.yaml
Labels: area/github

Update: Fewer checks?
  .github/workflows/pre-pull-images.yaml
Labels: area/github

Revert "chore(container): update image ghcr.io/onedr0p/home-assistant ( 16f8597 → a71fa9e )"
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "chore(container): update image ghcr.io/onedr0p/home-assistant ( 16f8597 → a71fa9e )"
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: for onedr0p's new container builds
  .renovate/packageRules.json5
  kubernetes/darkstar/apps/downloads/prowlarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: for onedr0p's new container builds
  .renovate/packageRules.json5
  kubernetes/darkstar/apps/downloads/prowlarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: for onedr0p's new container builds
  .renovate/packageRules.json5
  kubernetes/darkstar/apps/downloads/prowlarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: public schemas - for fun Totally stolen from onedr0p's repo
  .github/workflows/schemas.yaml
Labels: area/github

Update: public schemas - for fun Totally stolen from onedr0p's repo
  .github/workflows/schemas.yaml
Labels: area/github

Update: add another dest for plex
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/settings/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/darkstar

Update: add another dest for plex
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/settings/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/darkstar

Update: vscode settings
  .vscode/settings.json
Labels: none

Update: vscode settings
  .vscode/settings.json
Labels: none

Update: add linting workflow from bjw-s
  .github/workflows/lint.yaml
Labels: area/github

Update: add linting workflow from bjw-s
  .github/workflows/lint.yaml
Labels: area/github

Fix: bjw-s now uses an action rather than script for getting changed files
  .github/actions/get-changed-files/action.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/lint.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

Fix: bjw-s now uses an action rather than script for getting changed files
  .github/actions/get-changed-files/action.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/lint.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

Update: remove disk task for now Todo: rewrite for topolvm
  .taskfiles/disk/Taskfile.yaml
  .taskfiles/disk/scripts/wait-for-job.sh
  .taskfiles/disk/templates/WipeDiskJob.tmpl.yaml
  .taskfiles/disk/templates/WipeRookDataJob.tmpl.yaml
Labels: none

Update: change ansible scripts to use "2000" for uid/gid for user Fix: fixup warnings in os script
  infrastructure/apollo/ansible/playbooks/os.yml
  infrastructure/apollo/ansible/playbooks/templates/downloads/docker-compose.yml.j2
Labels: area/ansible, cluster/apollo

Update: change ansible scripts to use "2000" for uid/gid for user Fix: fixup warnings in os script
  infrastructure/apollo/ansible/playbooks/os.yml
  infrastructure/apollo/ansible/playbooks/templates/downloads/docker-compose.yml.j2
Labels: area/ansible, cluster/apollo

Update: remove disk task for now Todo: rewrite for topolvm
  .taskfiles/disk/Taskfile.yaml
  .taskfiles/disk/scripts/wait-for-job.sh
  .taskfiles/disk/templates/WipeDiskJob.tmpl.yaml
  .taskfiles/disk/templates/WipeRookDataJob.tmpl.yaml
Labels: none

Fix: incorrect sha for plex
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Fix: incorrect sha for plex
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: switch to emqx - follow the pack
  .archived/kubernetes/mosquitto/app/helm-release.yaml
  .archived/kubernetes/mosquitto/app/kustomization.yaml
  .archived/kubernetes/mosquitto/app/mosquitto-config.yaml
  .archived/kubernetes/mosquitto/ks.yaml
  kubernetes/darkstar/apps/database/emqx/cluster/cluster.yaml
  kubernetes/darkstar/apps/database/emqx/cluster/emqx-init-user-secret.sops.yaml
  kubernetes/darkstar/apps/database/emqx/cluster/kustomization.yaml
  kubernetes/darkstar/apps/database/emqx/ks.yaml
  kubernetes/darkstar/apps/database/emqx/operator/emqx-secret.sops.yaml
  kubernetes/darkstar/apps/database/emqx/operator/helm-release.yaml
  kubernetes/darkstar/apps/database/emqx/operator/kustomization.yaml
  kubernetes/darkstar/apps/database/kustomization.yaml
  kubernetes/darkstar/apps/database/namespace.yaml
  kubernetes/darkstar/apps/system/reflector/app/helm-release.yaml
  kubernetes/darkstar/apps/system/reflector/app/kustomization.yaml
  kubernetes/darkstar/apps/system/reflector/ks.yaml
  kubernetes/darkstar/repos/helm/emqx-charts.yaml
Labels: area/kubernetes, cluster/darkstar

Update: switch to emqx - follow the pack
  .archived/kubernetes/mosquitto/app/helm-release.yaml
  .archived/kubernetes/mosquitto/app/kustomization.yaml
  .archived/kubernetes/mosquitto/app/mosquitto-config.yaml
  .archived/kubernetes/mosquitto/ks.yaml
  kubernetes/darkstar/apps/database/emqx/cluster/cluster.yaml
  kubernetes/darkstar/apps/database/emqx/cluster/emqx-init-user-secret.sops.yaml
  kubernetes/darkstar/apps/database/emqx/cluster/kustomization.yaml
  kubernetes/darkstar/apps/database/emqx/ks.yaml
  kubernetes/darkstar/apps/database/emqx/operator/emqx-secret.sops.yaml
  kubernetes/darkstar/apps/database/emqx/operator/helm-release.yaml
  kubernetes/darkstar/apps/database/emqx/operator/kustomization.yaml
  kubernetes/darkstar/apps/database/kustomization.yaml
  kubernetes/darkstar/apps/database/namespace.yaml
  kubernetes/darkstar/apps/system/reflector/app/helm-release.yaml
  kubernetes/darkstar/apps/system/reflector/app/kustomization.yaml
  kubernetes/darkstar/apps/system/reflector/ks.yaml
  kubernetes/darkstar/repos/helm/emqx-charts.yaml
Labels: area/kubernetes, cluster/darkstar

Fix: sigh - could've sworn I added the repo
  kubernetes/darkstar/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"
