Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

chore: Reconfigure bootstrap tasks and layout + remove remaining sops
  .github/.minijinja.toml
  .github/linters/actionlint.yaml
  .github/linters/markdownlint.yaml
  .github/linters/yamlfmt.yaml
  .github/linters/yamllint.yaml
  .github/workflows/lint.yaml
  .gitignore
  .mise.toml
  .sops.yaml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/k8s/scripts/delete-stuck-ns.sh
  .taskfiles/sops/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .vscode/settings.json
  README.md
  Taskfile.yml
  ansible.cfg
  infrastructure/ansible/requirements.yml
  infrastructure/talos/darkstar/talsecret.sops.yaml
  infrastructure/talos/darkstar/talsecret.yaml
  kubernetes/darkstar/.bootstrap/helmfile.d/helmfile-apps.yaml
  kubernetes/darkstar/.bootstrap/helmfile.d/helmfile-crds.yaml
  kubernetes/darkstar/.bootstrap/helmfile.d/templates/format-lvm.yaml.gotmpl
  kubernetes/darkstar/.bootstrap/helmfile.d/templates/values.yaml.gotmpl
  kubernetes/darkstar/.bootstrap/resources.yaml.j2
  kubernetes/darkstar/bootstrap/README.md
Labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar

fix(external-secrets): update secret keys for doppler configuration
  kubernetes/darkstar/apps/external-secrets/doppler/app/clustersecretstore.yaml
  kubernetes/darkstar/apps/external-secrets/doppler/app/externalsecret.yaml
Labels: area/kubernetes, cluster/darkstar

fix(external-secrets): update doppler token secret name in ClusterSecretStore
  kubernetes/darkstar/apps/external-secrets/doppler/app/clustersecretstore.yaml
Labels: area/kubernetes, cluster/darkstar

fix(taskfile): remove jq from preconditions in setup task
  .taskfiles/bootstrap/Taskfile.yaml
Labels: none

docs(README): enhance application descriptions and clarify setup instructions
  README.md
Labels: none

fix(frigate): update config coordinates + rename to helmrelease
  kubernetes/darkstar/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/resources/config.yml
Labels: area/kubernetes, cluster/darkstar

feat(slskd): add Corefile, slskd configuration, and HelmRelease for deployment
  kubernetes/darkstar/apps/downloads/kustomization.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/config/Corefile
  kubernetes/darkstar/apps/downloads/slskd/app/config/slskd.yml
  kubernetes/darkstar/apps/downloads/slskd/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/helmrelease.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/kustomizeconfig.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/scripts/wrtag.sh
  kubernetes/darkstar/apps/downloads/slskd/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(slskd): re-archive slskd after testing
  kubernetes/darkstar/.archive/slskd/app/config/Corefile
  kubernetes/darkstar/.archive/slskd/app/config/slskd.yml
  kubernetes/darkstar/.archive/slskd/app/externalsecret.yaml
  kubernetes/darkstar/.archive/slskd/app/helmrelease.yaml
  kubernetes/darkstar/.archive/slskd/app/kustomization.yaml
  kubernetes/darkstar/.archive/slskd/app/kustomizeconfig.yaml
  kubernetes/darkstar/.archive/slskd/app/scripts/wrtag.sh
  kubernetes/darkstar/.archive/slskd/ks.yaml
  kubernetes/darkstar/apps/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(helm): migrate openebs to OCI repository and remove deprecated HelmRepository
  kubernetes/darkstar/apps/storage/openebs/app/helm-release.yaml
  kubernetes/darkstar/flux/repos/helm/external-secrets-charts.yaml
  kubernetes/darkstar/flux/repos/helm/kustomization.yaml
  kubernetes/darkstar/flux/repos/helm/openebs-charts.yaml
Labels: area/kubernetes, cluster/darkstar

feat(helm): migrate openebs to OCI repository and remove deprecated HelmRepository
  kubernetes/darkstar/apps/storage/openebs/app/helm-release.yaml
  kubernetes/darkstar/flux/repos/helm/external-secrets-charts.yaml
  kubernetes/darkstar/flux/repos/helm/kustomization.yaml
  kubernetes/darkstar/flux/repos/helm/openebs-charts.yaml
Labels: area/kubernetes, cluster/darkstar

feat(external-dns): add RFC2136 support with ExternalSecret and HelmRelease
  kubernetes/darkstar/apps/networking/external-dns/ks.yaml
  kubernetes/darkstar/apps/networking/external-dns/rfc2136/externalsecret.yaml
  kubernetes/darkstar/apps/networking/external-dns/rfc2136/helmrelease.yaml
  kubernetes/darkstar/apps/networking/external-dns/rfc2136/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(zigbee2mqtt): update serial port configuration to new IP address
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(blackbox-exporter): correct target hostnames for zigbee-hub and hive-hub
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/darkstar

fix(external-dns): update external-dns-adguard configuration and remove commented-out rfc2136 section
  kubernetes/darkstar/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(zigbee2mqtt): update serial port configuration to use hostname instead of IP address
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(qbittorrent): remove unused resources and configurations
  kubernetes/darkstar/apps/downloads/kustomization.yaml
  kubernetes/darkstar/apps/downloads/qbittorrent/app/httproute.yaml
  kubernetes/darkstar/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/qbittorrent/app/service.yaml
  kubernetes/darkstar/apps/downloads/qbittorrent/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(topolvm): ensure update strategy is set to Recreate for controller
  kubernetes/darkstar/apps/storage/topolvm/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(tools): remove outdated dependencies and clean up tool versions
  .mise.toml
Labels: none

feat(unifi): re-add unifi controller
  kubernetes/darkstar/apps/networking/envoy-gateway/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/kustomization.yaml
  kubernetes/darkstar/apps/networking/unifi/app/backendtlspolicy.yaml
  kubernetes/darkstar/apps/networking/unifi/app/certificate.yaml
  kubernetes/darkstar/apps/networking/unifi/app/helmrelease.yaml
  kubernetes/darkstar/apps/networking/unifi/app/kustomization.yaml
  kubernetes/darkstar/apps/networking/unifi/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(ignition): add initial configuration and scripts for Ignition backend setup
  kubernetes/darkstar/apps/ignition/backend/app/certificate.yaml
  kubernetes/darkstar/apps/ignition/backend/app/config/gateway-base-config.env
  kubernetes/darkstar/apps/ignition/backend/app/config/logback.xml
  kubernetes/darkstar/apps/ignition/backend/app/config/redundancy-backup.xml
  kubernetes/darkstar/apps/ignition/backend/app/config/redundancy-primary.xml
  kubernetes/darkstar/apps/ignition/backend/app/externalsecret.yaml
  kubernetes/darkstar/apps/ignition/backend/app/helmrelease.yaml
  kubernetes/darkstar/apps/ignition/backend/app/kustomization.yaml
  kubernetes/darkstar/apps/ignition/backend/app/scripts/invoke-args.sh
  kubernetes/darkstar/apps/ignition/backend/app/scripts/prepare-gan-certificates.sh
  kubernetes/darkstar/apps/ignition/backend/app/scripts/prepare-tls-certificates.sh
  kubernetes/darkstar/apps/ignition/backend/app/scripts/redundant-health-check.sh
  kubernetes/darkstar/apps/ignition/backend/app/scripts/seed-data-volume.sh
  kubernetes/darkstar/apps/ignition/backend/app/scripts/seed-redundancy.sh
  kubernetes/darkstar/apps/ignition/backend/ks.yaml
  kubernetes/darkstar/apps/ignition/kustomization.yaml
  kubernetes/darkstar/apps/ignition/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

feat(gan): update paths for GAN Client Keystore in prepare-gan-certificates script
  kubernetes/darkstar/apps/ignition/backend/app/scripts/prepare-gan-certificates.sh
Labels: area/kubernetes, cluster/darkstar

refactor(gan): comment out keystore population logic in prepare-gan-certificates script
  kubernetes/darkstar/apps/ignition/backend/app/scripts/prepare-gan-certificates.sh
Labels: area/kubernetes, cluster/darkstar

feat(ignition): add ExternalSecret, HelmRelease, HTTPRoute, and Kustomization resources
  kubernetes/darkstar/apps/ignition/ignition/app/externalsecret.yaml
  kubernetes/darkstar/apps/ignition/ignition/app/helmrelease.yaml
  kubernetes/darkstar/apps/ignition/ignition/app/httproute.yaml
  kubernetes/darkstar/apps/ignition/ignition/app/kustomization.yaml
  kubernetes/darkstar/apps/ignition/ignition/ks.yaml
  kubernetes/darkstar/apps/ignition/kustomization.yaml
  kubernetes/darkstar/flux/repos/helm/ia-charts.yaml
  kubernetes/darkstar/flux/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(cert-manager): standardize naming for self-signed issuer and certificate
  kubernetes/darkstar/apps/cert-manager/cert-manager/issuers/self-signed.yaml
Labels: area/kubernetes, cluster/darkstar

fix(httproute): correct backend port from 8089 to 8088
  kubernetes/darkstar/apps/ignition/ignition/app/httproute.yaml
Labels: area/kubernetes, cluster/darkstar

fix(ignition): update ExternalSecret and HelmRelease to use consistent secret names and keys
  kubernetes/darkstar/apps/ignition/ignition/app/externalsecret.yaml
  kubernetes/darkstar/apps/ignition/ignition/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(cert-manager): rename self-signed.yaml to selfsigned.yaml and update resource references
  kubernetes/darkstar/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/issuers/self-signed.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/issuers/selfsigned.yaml
Labels: area/kubernetes, cluster/darkstar

fix(ignition): move licensing configuration under the correct hierarchy in HelmRelease
  kubernetes/darkstar/apps/ignition/ignition/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(ignition): remove disableQuickstart configuration from HelmRelease
  kubernetes/darkstar/apps/ignition/ignition/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(ignition): update app name in Kustomization to match standard naming convention
  kubernetes/darkstar/apps/ignition/ignition/ks.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "fix(container): update ghcr.io/stakater/charts/reloader ( 2.2.5 ➔ 2.2.6 )"
  kubernetes/darkstar/apps/system/reloader/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

chore: remove deprecated Ignition backend configuration files and scripts
  kubernetes/darkstar/apps/ignition/backend/app/certificate.yaml
  kubernetes/darkstar/apps/ignition/backend/app/config/gateway-base-config.env
  kubernetes/darkstar/apps/ignition/backend/app/config/logback.xml
  kubernetes/darkstar/apps/ignition/backend/app/config/redundancy-backup.xml
  kubernetes/darkstar/apps/ignition/backend/app/config/redundancy-primary.xml
  kubernetes/darkstar/apps/ignition/backend/app/externalsecret.yaml
  kubernetes/darkstar/apps/ignition/backend/app/helmrelease.yaml
  kubernetes/darkstar/apps/ignition/backend/app/kustomization.yaml
  kubernetes/darkstar/apps/ignition/backend/app/scripts/invoke-args.sh
  kubernetes/darkstar/apps/ignition/backend/app/scripts/prepare-gan-certificates.sh
  kubernetes/darkstar/apps/ignition/backend/app/scripts/prepare-tls-certificates.sh
  kubernetes/darkstar/apps/ignition/backend/app/scripts/redundant-health-check.sh
  kubernetes/darkstar/apps/ignition/backend/app/scripts/seed-data-volume.sh
  kubernetes/darkstar/apps/ignition/backend/app/scripts/seed-redundancy.sh
  kubernetes/darkstar/apps/ignition/backend/ks.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(deps): update aqua:mitsuhiko/minijinja ( 2.13.0 ➔ 2.14.0 )"
  .mise.toml
Labels: none

feat: add refreshInterval of 12h to ExternalSecret configurations
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/externalsecrets.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/external-secrets/doppler/app/externalsecret.yaml
  kubernetes/darkstar/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/externalsecret.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/darkstar/apps/ignition/ignition/app/externalsecret.yaml
  kubernetes/darkstar/apps/media/plex/plex-image-cleanup/externalsecret.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/darkstar/apps/networking/external-dns/adguard/externalsecret.yaml
  kubernetes/darkstar/apps/networking/external-dns/cloudflare/externalsecret.yaml
  kubernetes/darkstar/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
Labels: area/kubernetes, cluster/darkstar

feat: add bichon application configuration with ExternalSecret, HelmRelease, and Kustomization
  kubernetes/darkstar/apps/default/bichon/app/externalsecret.yaml
  kubernetes/darkstar/apps/default/bichon/app/helmrelease.yaml
  kubernetes/darkstar/apps/default/bichon/app/kustomization.yaml
  kubernetes/darkstar/apps/default/bichon/ks.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat: add mask filter for car object detection in Frigate configuration
  kubernetes/darkstar/apps/home-automation/frigate/app/resources/config.yml
Labels: area/kubernetes, cluster/darkstar

feat: add slskd application configuration with Corefile, ExternalSecret, HelmRelease, and Kustomization
  kubernetes/darkstar/apps/downloads/kustomization.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/config/Corefile
  kubernetes/darkstar/apps/downloads/slskd/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/helmrelease.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/slskd/ks.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(slskd): remove WRTAG keys from ExternalSecret and HelmRelease probes
  kubernetes/darkstar/apps/downloads/slskd/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(slskd): add configuration files and probes for slskd application
  kubernetes/darkstar/apps/downloads/slskd/app/config/slskd.yml
  kubernetes/darkstar/apps/downloads/slskd/app/helmrelease.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/kustomizeconfig.yaml
Labels: area/kubernetes, cluster/darkstar

feat(slskd): add configuration files and probes for slskd application
  kubernetes/darkstar/apps/downloads/slskd/app/config/slskd.yml
  kubernetes/darkstar/apps/downloads/slskd/app/helmrelease.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/kustomizeconfig.yaml
Labels: area/kubernetes, cluster/darkstar
