Repository Drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/compute, cluster/storage

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "clusters/**/*"
# Cluster
cluster/compute:
  - changed-files:
      - any-glob-to-any-file: clusters/compute/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: clusters/storage/**/*

fix: remove multus from esphome
  clusters/compute/k8s/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes, cluster/compute

fix: set env vars to prevent compilation failure
  clusters/compute/k8s/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes, cluster/compute

fix: set env vars to prevent compilation failure
  clusters/compute/k8s/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  clusters/compute/k8s/apps/home-automation/zigbee2mqtt/ks.yaml
Labels: area/kubernetes, cluster/compute

fix: multus config ...
  clusters/compute/k8s/apps/networking/multus/config/net-attach-iot.yaml
Labels: area/kubernetes, cluster/compute

fix: zigbee2mqtt multus
  clusters/compute/k8s/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/compute

Revert "fix(helm): update chart cert-manager to v1.14.3"
  clusters/compute/k8s/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes, cluster/compute

fix: switch recyclarr back to a cronjob
  clusters/compute/k8s/apps/downloads/recyclarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/compute

fix: this is like fighting fires now ...
  clusters/compute/k8s/apps/home-automation/esphome/app/helm-release.yaml
  clusters/compute/k8s/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/compute

fix: bye bye weave :(
  clusters/compute/k8s/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/compute

fix: enable ceph object store fwiw
  clusters/compute/k8s/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes, cluster/compute

update: re-add demo-csi local zfs ...
  clusters/compute/k8s/apps/system/democratic-csi/ks.yaml
  clusters/compute/k8s/apps/system/democratic-csi/local-path/helm-release.yaml
  clusters/compute/k8s/apps/system/democratic-csi/zfs-local-dataset/helm-release.yaml
  clusters/compute/k8s/apps/system/democratic-csi/zfs-local-dataset/kustomization.yaml
Labels: area/kubernetes, cluster/compute

fix: do not set local zfs as default at present
  clusters/compute/k8s/apps/system/democratic-csi/zfs-local-dataset/helm-release.yaml
Labels: area/kubernetes, cluster/compute

update: remove weave
  _archived/kubernetes/weave-gitops/app/helm-release.yaml
  _archived/kubernetes/weave-gitops/app/kustomization.yaml
  _archived/kubernetes/weave-gitops/app/secret.sops.yaml
  _archived/kubernetes/weave-gitops/ks.yaml
  clusters/compute/k8s/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/compute

update: change volsync task scripts to match my requirements
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/templates/list.tmpl.yaml
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
Labels: none

update: generalize "rook" scripts to "disk"
  .taskfiles/disk/Taskfile.yaml
  .taskfiles/disk/scripts/wait-for-job.sh
  .taskfiles/disk/templates/WipeDiskJob.tmpl.yaml
  .taskfiles/disk/templates/WipeRookDataJob.tmpl.yaml
  .taskfiles/rook/Taskfile.yaml
  Taskfile.yml
Labels: none

update: enable immediate binding
  clusters/compute/k8s/apps/system/democratic-csi/zfs-local-dataset/helm-release.yaml
Labels: area/kubernetes, cluster/compute

update: format - specify relative path
  clusters/compute/k8s/kvm/vms/common/windows/kustomization.yaml
Labels: area/kubernetes, cluster/compute

update: return to zfs?
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  _archived/kubernetes/rook-ceph/kustomization.yaml
  _archived/kubernetes/rook-ceph/rook-ceph/addons/dashboard/ceph-cluster-dashboard.json
  _archived/kubernetes/rook-ceph/rook-ceph/addons/dashboard/ceph-osd-dashboard.json
  _archived/kubernetes/rook-ceph/rook-ceph/addons/dashboard/ceph-pools-dashboard.json
  _archived/kubernetes/rook-ceph/rook-ceph/addons/dashboard/kustomization.yaml
  _archived/kubernetes/rook-ceph/rook-ceph/addons/kustomization.yaml
  _archived/kubernetes/rook-ceph/rook-ceph/cluster/helm-release.yaml
  _archived/kubernetes/rook-ceph/rook-ceph/cluster/kustomization.yaml
  _archived/kubernetes/rook-ceph/rook-ceph/ks.yaml
  _archived/kubernetes/rook-ceph/rook-ceph/operator/helm-release.yaml
  _archived/kubernetes/rook-ceph/rook-ceph/operator/kustomization.yaml
  clusters/compute/k8s/apps/rook-ceph/kustomization.yaml
  clusters/compute/k8s/apps/rook-ceph/namespace.yaml
  clusters/compute/k8s/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  clusters/compute/k8s/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  clusters/compute/k8s/apps/rook-ceph/rook-ceph/ks.yaml
  clusters/compute/k8s/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  clusters/compute/k8s/apps/rook-ceph/rook-ceph/operator/kustomization.yaml
  clusters/compute/k8s/apps/system-controllers/snapshot-controller/app/helm-release.yaml
  clusters/compute/k8s/apps/system/democratic-csi/zfs-local-dataset/helm-release.yaml
  clusters/compute/k8s/templates/volsync/minio/replication-destination.yaml
  clusters/compute/k8s/templates/volsync/minio/replication-source.yaml
  clusters/compute/k8s/templates/volsync/pvc.yaml
  clusters/compute/k8s/templates/volsync/r2/replication-source.yaml
Labels: area/kubernetes, cluster/compute

update: set all pv's to use zfs
  _archived/kubernetes/unifi/app/config-pvc.yaml
  _archived/kubernetes/unifi/app/volsync.yaml
  _archived/kubernetes/unifi/ks.yaml
  clusters/compute/k8s/apps/downloads/prowlarr/ks.yaml
  clusters/compute/k8s/apps/downloads/radarr/ks.yaml
  clusters/compute/k8s/apps/downloads/recyclarr/ks.yaml
  clusters/compute/k8s/apps/downloads/sonarr/ks.yaml
  clusters/compute/k8s/apps/home-automation/esphome/ks.yaml
  clusters/compute/k8s/apps/home-automation/home-assistant/ks.yaml
  clusters/compute/k8s/apps/home-automation/mosquitto/ks.yaml
  clusters/compute/k8s/apps/home-automation/zigbee2mqtt/ks.yaml
  clusters/compute/k8s/apps/media/plex/ks.yaml
  clusters/compute/k8s/apps/media/tautulli/ks.yaml
  clusters/compute/k8s/apps/monitoring/alertmanager-discord/ks.yaml
  clusters/compute/k8s/apps/monitoring/alertmanager/app/helm-release.yaml
  clusters/compute/k8s/apps/monitoring/alertmanager/ks.yaml
  clusters/compute/k8s/apps/monitoring/grafana/app/helm-release.yaml
  clusters/compute/k8s/apps/monitoring/grafana/ks.yaml
  clusters/compute/k8s/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  clusters/compute/k8s/apps/monitoring/kube-prometheus-stack/ks.yaml
  clusters/compute/k8s/apps/monitoring/loki/app/helm-release.yaml
  clusters/compute/k8s/apps/monitoring/loki/ks.yaml
  clusters/compute/k8s/apps/networking/external-dns/ks.yaml
  clusters/compute/k8s/apps/system/volsync/ks.yaml
  clusters/compute/k8s/kvm/kubevirt/app/ks.yaml
  clusters/compute/k8s/kvm/vms/common/ks.yaml
  clusters/compute/k8s/kvm/vms/common/windows/preferences.yaml
  clusters/compute/k8s/kvm/vms/windows/ks.yaml
  clusters/compute/k8s/kvm/vms/windows/ksi-vm-sim01/config-pvc.yaml
Labels: area/kubernetes, cluster/compute

update: bump zfs to 1.8.6
  clusters/compute/k8s/apps/system/democratic-csi/zfs-local-dataset/helm-release.yaml
Labels: area/kubernetes, cluster/compute

fix: replace alertmanager discord with straight webhook
  clusters/compute/k8s/apps/monitoring/alertmanager-discord/app/discord-webhook.sops.yaml
  clusters/compute/k8s/apps/monitoring/alertmanager-discord/app/helm-release.yaml
  clusters/compute/k8s/apps/monitoring/alertmanager-discord/app/kustomization.yaml
  clusters/compute/k8s/apps/monitoring/alertmanager-discord/ks.yaml
  clusters/compute/k8s/apps/monitoring/alertmanager/app/alertmanager-secret.sops.yaml
  clusters/compute/k8s/apps/monitoring/alertmanager/app/config/alertmanager.yml
  clusters/compute/k8s/apps/monitoring/alertmanager/app/helm-release.yaml
  clusters/compute/k8s/apps/monitoring/alertmanager/app/kustomization.yaml
  clusters/compute/k8s/apps/monitoring/kustomization.yaml
  clusters/compute/k8s/settings/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/compute

fix: actually specify a message for AM to send to discord
  clusters/compute/k8s/apps/monitoring/alertmanager/app/config/alertmanager.yml
Labels: area/kubernetes, cluster/compute

fix: don't need to specify namespace - targetted with ks.yaml
  clusters/compute/k8s/apps/monitoring/node-exporter/app/kustomization.yaml
Labels: area/kubernetes, cluster/compute

update: add smartctl exporter
  clusters/compute/k8s/apps/monitoring/kustomization.yaml
  clusters/compute/k8s/apps/monitoring/smartctl-exporter/app/helm-release.yaml
  clusters/compute/k8s/apps/monitoring/smartctl-exporter/app/kustomization.yaml
  clusters/compute/k8s/apps/monitoring/smartctl-exporter/app/prometheus-rule.yaml
  clusters/compute/k8s/apps/monitoring/smartctl-exporter/ks.yaml
Labels: area/kubernetes, cluster/compute

update: gonna steal jjgadgets discord AM template
  clusters/compute/k8s/apps/monitoring/alertmanager/app/config/alertmanager.yml
Labels: area/kubernetes, cluster/compute

update: be specific with some zfs options update: add zvol option
  clusters/compute/k8s/apps/system-controllers/snapshot-controller/app/helm-release.yaml
  clusters/compute/k8s/apps/system/democratic-csi/ks.yaml
  clusters/compute/k8s/apps/system/democratic-csi/zfs-local-zvol/helm-release.yaml
  clusters/compute/k8s/apps/system/democratic-csi/zfs-local-zvol/kustomization.yaml
Labels: area/kubernetes, cluster/compute

update: actually - the raw alertmanager data is more useful right now
  clusters/compute/k8s/apps/monitoring/alertmanager/app/config/alertmanager.yml
Labels: area/kubernetes, cluster/compute

update: run minio backup every four hours / r2 at midnight
  clusters/compute/k8s/templates/volsync/minio/replication-source.yaml
  clusters/compute/k8s/templates/volsync/r2/replication-source.yaml
Labels: area/kubernetes, cluster/compute

update: return recyclarr to deployment
  clusters/compute/k8s/apps/downloads/recyclarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/compute

update: add spegel
  clusters/compute/k8s/apps/system/kustomization.yaml
  clusters/compute/k8s/apps/system/spegel/app/helm-release.yaml
  clusters/compute/k8s/apps/system/spegel/app/kustomization.yaml
  clusters/compute/k8s/apps/system/spegel/ks.yaml
  clusters/compute/k8s/repos/helm/kustomization.yaml
  clusters/compute/k8s/repos/helm/weave-gitops.yaml
  clusters/compute/k8s/repos/helm/xenitab-charts.yaml
Labels: area/kubernetes, cluster/compute

update: change location of local-path to external drive
  clusters/compute/k8s/apps/system/democratic-csi/local-path/helm-release.yaml
Labels: area/kubernetes, cluster/compute

update: add external drive storage
  clusters/compute/talos/talconfig.yaml
Labels: area/kubernetes, cluster/compute

update: move demo-csi to storage ns
  clusters/compute/k8s/apps/storage/democratic-csi/ks.yaml
  clusters/compute/k8s/apps/storage/democratic-csi/local-path/helm-release.yaml
  clusters/compute/k8s/apps/storage/democratic-csi/local-path/kustomization.yaml
  clusters/compute/k8s/apps/storage/democratic-csi/zfs-local-dataset/helm-release.yaml
  clusters/compute/k8s/apps/storage/democratic-csi/zfs-local-dataset/kustomization.yaml
  clusters/compute/k8s/apps/storage/democratic-csi/zfs-local-zvol/helm-release.yaml
  clusters/compute/k8s/apps/storage/democratic-csi/zfs-local-zvol/kustomization.yaml
  clusters/compute/k8s/apps/storage/kustomization.yaml
  clusters/compute/k8s/apps/storage/namespace.yaml
  clusters/compute/k8s/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/compute

update: add minio update: switch demo csi local-path back to root drive
  clusters/compute/k8s/apps/storage/democratic-csi/local-path/helm-release.yaml
  clusters/compute/k8s/apps/storage/kustomization.yaml
  clusters/compute/k8s/apps/storage/minio/app/helm-release.yaml
  clusters/compute/k8s/apps/storage/minio/app/kustomization.yaml
  clusters/compute/k8s/apps/storage/minio/app/minio-secret.sops.yaml
  clusters/compute/k8s/apps/storage/minio/ks.yaml
Labels: area/kubernetes, cluster/compute

fix: correct syntax makes the world go around
  clusters/compute/k8s/apps/storage/minio/app/helm-release.yaml
Labels: area/kubernetes, cluster/compute

update: change minio destination
  clusters/compute/k8s/settings/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/compute

update: return to hourly backups of pvc's
  clusters/compute/k8s/templates/volsync/minio/replication-source.yaml
Labels: area/kubernetes, cluster/compute

update: don't run a minio container on the nas
  clusters/storage/ansible/playbooks/apps.yml
Labels: area/kubernetes, cluster/storage

update: enable metrics for in-cluster minio
  clusters/compute/k8s/apps/storage/minio/app/helm-release.yaml
Labels: area/kubernetes, cluster/compute

update: add minio dashboard to grafana
  clusters/compute/k8s/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/compute
