Repository Drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/scripts

update: psp for media - kopia issues
  cluster/apps-4/media/namespace.yaml
Labels: area/cluster

update: psp for media - kopia issues
  cluster/apps-4/media/namespace.yaml
Labels: area/cluster

fix: do not fsfreeze for now - causing issues
  cluster/apps-1/kyverno/policies/snapshot-cronjob-controller.yaml
Labels: area/cluster

fix: do not fsfreeze for now - causing issues
  cluster/apps-1/kyverno/policies/snapshot-cronjob-controller.yaml
Labels: area/cluster

fix: do not fsfreeze for now - causing issues
  cluster/apps-1/kyverno/policies/snapshot-cronjob-controller.yaml
Labels: area/cluster

update: enable hass vscode
  cluster/apps-4/home/home-assistant/helm-release.yaml
  cluster/apps-4/home/zigbee2mqtt/helm-release.yaml
Labels: area/cluster

update: enable hass vscode
  cluster/apps-4/home/home-assistant/helm-release.yaml
  cluster/apps-4/home/zigbee2mqtt/helm-release.yaml
Labels: area/cluster

update: enable hass vscode
  cluster/apps-4/home/home-assistant/helm-release.yaml
  cluster/apps-4/home/zigbee2mqtt/helm-release.yaml
Labels: area/cluster

update: re-add prowlarr
  cluster/apps-4/downloads/kustomization.yaml
  cluster/apps-4/downloads/prowlarr/config-pvc.yaml
  cluster/apps-4/downloads/prowlarr/helm-release.yaml
  cluster/apps-4/downloads/prowlarr/kustomization.yaml
Labels: area/cluster

update: re-add prowlarr
  cluster/apps-4/downloads/kustomization.yaml
  cluster/apps-4/downloads/prowlarr/config-pvc.yaml
  cluster/apps-4/downloads/prowlarr/helm-release.yaml
  cluster/apps-4/downloads/prowlarr/kustomization.yaml
Labels: area/cluster

update: re-add prowlarr
  cluster/apps-4/downloads/kustomization.yaml
  cluster/apps-4/downloads/prowlarr/config-pvc.yaml
  cluster/apps-4/downloads/prowlarr/helm-release.yaml
  cluster/apps-4/downloads/prowlarr/kustomization.yaml
Labels: area/cluster

update: remove link checker
  .github/workflows/schedule-link-checker.yaml
Labels: area/github

update: remove link checker
  .github/workflows/schedule-link-checker.yaml
Labels: area/github

update: remove link checker
  .github/workflows/schedule-link-checker.yaml
Labels: area/github

update: change release type for recyclarr
  cluster/apps-4/downloads/recyclarr/config/recyclarr.yml
  cluster/apps-4/downloads/recyclarr/cron-job.yaml
  cluster/apps-4/downloads/recyclarr/helm-release.yaml
  cluster/apps-4/downloads/recyclarr/kustomization.yaml
Labels: area/cluster

update: change release type for recyclarr
  cluster/apps-4/downloads/recyclarr/config/recyclarr.yml
  cluster/apps-4/downloads/recyclarr/cron-job.yaml
  cluster/apps-4/downloads/recyclarr/helm-release.yaml
  cluster/apps-4/downloads/recyclarr/kustomization.yaml
Labels: area/cluster

update: change release type for recyclarr
  cluster/apps-4/downloads/recyclarr/config/recyclarr.yml
  cluster/apps-4/downloads/recyclarr/cron-job.yaml
  cluster/apps-4/downloads/recyclarr/helm-release.yaml
  cluster/apps-4/downloads/recyclarr/kustomization.yaml
Labels: area/cluster

update: minor recyclarr profile update
  cluster/apps-4/downloads/recyclarr/config/recyclarr.yml
Labels: area/cluster

update: minor recyclarr profile update
  cluster/apps-4/downloads/recyclarr/config/recyclarr.yml
Labels: area/cluster

update: minor recyclarr profile update
  cluster/apps-4/downloads/recyclarr/config/recyclarr.yml
Labels: area/cluster

update: bring talos to 1.3.4 and k8s to 1.26.0
  infrastructure/talos/talconfig.yaml
Labels: none

update: bring talos to 1.3.4 and k8s to 1.26.0
  infrastructure/talos/talconfig.yaml
Labels: none

update: bring talos to 1.3.4 and k8s to 1.26.0
  infrastructure/talos/talconfig.yaml
Labels: none

update: remove extraArg
  cluster/apps-1/kyverno/helm-release.yaml
Labels: area/cluster

update: remove extraArg
  cluster/apps-1/kyverno/helm-release.yaml
Labels: area/cluster

update: remove extraArg
  cluster/apps-1/kyverno/helm-release.yaml
Labels: area/cluster

fix: only run vscode sops on .sops files ...
  .sops.yaml
Labels: none

fix: only run vscode sops on .sops files ...
  .sops.yaml
Labels: none

fix: only run vscode sops on .sops files ...
  .sops.yaml
Labels: none

update: couple further config updates - enable monitors update: adjust kyverno cpu limit removal policy
  cluster/apps-1/kyverno/helm-release.yaml
  cluster/apps-1/kyverno/policies/delete-cpu-limits.yaml
Labels: area/cluster

update: couple further config updates - enable monitors update: adjust kyverno cpu limit removal policy
  cluster/apps-1/kyverno/helm-release.yaml
  cluster/apps-1/kyverno/policies/delete-cpu-limits.yaml
Labels: area/cluster

update: couple further config updates - enable monitors update: adjust kyverno cpu limit removal policy
  cluster/apps-1/kyverno/helm-release.yaml
  cluster/apps-1/kyverno/policies/delete-cpu-limits.yaml
Labels: area/cluster

update: unused and unworking
  cluster/apps-4/downloads/kustomization.yaml
  cluster/apps-4/downloads/lidarr/config-pvc.yaml
  cluster/apps-4/downloads/lidarr/kustomization.yaml
Labels: area/cluster

update: unused and unworking
  cluster/apps-4/downloads/kustomization.yaml
  cluster/apps-4/downloads/lidarr/config-pvc.yaml
  cluster/apps-4/downloads/lidarr/kustomization.yaml
Labels: area/cluster

update: unused and unworking
  cluster/apps-4/downloads/kustomization.yaml
  cluster/apps-4/downloads/lidarr/config-pvc.yaml
  cluster/apps-4/downloads/lidarr/kustomization.yaml
Labels: area/cluster

fix: kopia - remove --insecure?
  cluster/apps-4/system/kopia-web/helm-release.yaml
Labels: area/cluster

fix: kopia - remove --insecure?
  cluster/apps-4/system/kopia-web/helm-release.yaml
Labels: area/cluster

fix: kopia - remove --insecure?
  cluster/apps-4/system/kopia-web/helm-release.yaml
Labels: area/cluster

update: fully remove lidarr
  cluster/apps-4/downloads/lidarr/helm-release.yaml
Labels: area/cluster

update: fully remove lidarr
  cluster/apps-4/downloads/lidarr/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/scripts:
  - "scripts/**/*"
