Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/darkstar, cluster/apollo

update: repdest to latest time
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
Labels: none

fix: depends on volsync too
  kubernetes/darkstar/apps/downloads/recyclarr/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix: depends on volsync too
  kubernetes/darkstar/apps/downloads/recyclarr/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix: suddenly erroring with below minimum size ... worked minutes before! ...
  kubernetes/darkstar/apps/home-automation/mosquitto/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix: suddenly erroring with below minimum size ... worked minutes before! ...
  kubernetes/darkstar/apps/home-automation/mosquitto/ks.yaml
Labels: area/kubernetes, cluster/darkstar

update: cidr ...
  kubernetes/darkstar/apps/home-automation/home-assistant/app/home-assistant.sops.yaml
Labels: area/kubernetes, cluster/darkstar

update: cidr ...
  kubernetes/darkstar/apps/home-automation/home-assistant/app/home-assistant.sops.yaml
Labels: area/kubernetes, cluster/darkstar

update: vpn
  kubernetes/darkstar/apps/downloads/lidarr/app/lidarr-secret.sops.yaml
Labels: area/kubernetes, cluster/darkstar

update: vpn
  kubernetes/darkstar/apps/downloads/lidarr/app/lidarr-secret.sops.yaml
Labels: area/kubernetes, cluster/darkstar

update: after all that - archive lidarr
  _archived/kubernetes/lidarr/app/config/dnsdist.conf
  _archived/kubernetes/lidarr/app/helm-release.yaml
  _archived/kubernetes/lidarr/app/kustomization.yaml
  _archived/kubernetes/lidarr/app/lidarr-secret.sops.yaml
  _archived/kubernetes/lidarr/ks.yaml
  kubernetes/darkstar/apps/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: after all that - archive lidarr
  _archived/kubernetes/lidarr/app/config/dnsdist.conf
  _archived/kubernetes/lidarr/app/helm-release.yaml
  _archived/kubernetes/lidarr/app/kustomization.yaml
  _archived/kubernetes/lidarr/app/lidarr-secret.sops.yaml
  _archived/kubernetes/lidarr/ks.yaml
  kubernetes/darkstar/apps/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: no DV only
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

update: no DV only
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix: oops ... fix incorrect profile assignment
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix: oops ... fix incorrect profile assignment
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

update: switch to onedr0p's hass and reduce security exposure
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: switch to onedr0p's hass and reduce security exposure
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: TZ specified by sidecar
  kubernetes/darkstar/apps/home-automation/home-assistant/app/home-assistant.sops.yaml
Labels: area/kubernetes, cluster/darkstar

fix: TZ specified by sidecar
  kubernetes/darkstar/apps/home-automation/home-assistant/app/home-assistant.sops.yaml
Labels: area/kubernetes, cluster/darkstar

fix: various chart fixes
  kubernetes/darkstar/apps/default/atuin/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: various chart fixes
  kubernetes/darkstar/apps/default/atuin/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: renovate config
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
Labels: area/ci

update: renovate config
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
Labels: area/ci

update: remove atuin - again
  _archived/kubernetes/atuin/app/externalsecret.yaml
  _archived/kubernetes/atuin/app/helm-release.yaml
  _archived/kubernetes/atuin/app/kustomization.yaml
  _archived/kubernetes/atuin/ks.yaml
  kubernetes/darkstar/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove atuin - again
  _archived/kubernetes/atuin/app/externalsecret.yaml
  _archived/kubernetes/atuin/app/helm-release.yaml
  _archived/kubernetes/atuin/app/kustomization.yaml
  _archived/kubernetes/atuin/ks.yaml
  kubernetes/darkstar/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: add scrypted
  kubernetes/darkstar/apps/home-automation/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/scrypted/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/scrypted/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/scrypted/ks.yaml
Labels: area/kubernetes, cluster/darkstar

update: add scrypted
  kubernetes/darkstar/apps/home-automation/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/scrypted/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/scrypted/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/scrypted/ks.yaml
Labels: area/kubernetes, cluster/darkstar

update: archive scrypted for now
  _archived/kubernetes/scrypted/app/helm-release.yaml
  _archived/kubernetes/scrypted/app/kustomization.yaml
  _archived/kubernetes/scrypted/ks.yaml
  kubernetes/darkstar/apps/home-automation/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: archive scrypted for now
  _archived/kubernetes/scrypted/app/helm-release.yaml
  _archived/kubernetes/scrypted/app/kustomization.yaml
  _archived/kubernetes/scrypted/ks.yaml
  kubernetes/darkstar/apps/home-automation/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: skip imax
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

update: skip imax
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

update: re-add codeserver to z2m
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: re-add codeserver to z2m
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: archive off k3s ansible install for darkstar
  _archived/infrastructure/darkstar/README.md
  _archived/infrastructure/darkstar/ansible/inventory/group_vars/all/extra.yml
  _archived/infrastructure/darkstar/ansible/inventory/group_vars/all/main.yml
  _archived/infrastructure/darkstar/ansible/inventory/group_vars/master/main.yml
  _archived/infrastructure/darkstar/ansible/inventory/hosts.yml
  _archived/infrastructure/darkstar/ansible/playbooks/files/config.toml.tmpl
  _archived/infrastructure/darkstar/ansible/playbooks/files/nfsmount.conf
  _archived/infrastructure/darkstar/ansible/playbooks/files/stale-containers.service
  _archived/infrastructure/darkstar/ansible/playbooks/files/stale-containers.timer
  _archived/infrastructure/darkstar/ansible/playbooks/k3s-install.yml
  _archived/infrastructure/darkstar/ansible/playbooks/k3s-nuke.yml
  _archived/infrastructure/darkstar/ansible/playbooks/os-prepare.yml
  _archived/infrastructure/darkstar/ansible/playbooks/os-update-rollout.yaml
  _archived/infrastructure/darkstar/ansible/playbooks/tasks/cruft.yaml
  _archived/infrastructure/darkstar/ansible/playbooks/tasks/kubeconfig.yaml
  _archived/infrastructure/darkstar/ansible/playbooks/tasks/stale_containers.yaml
  _archived/infrastructure/darkstar/ansible/requirements.txt
  _archived/infrastructure/darkstar/ansible/requirements.yml
  _archived/infrastructure/darkstar/talos/README.md
  _archived/infrastructure/darkstar/talos/clusterconfig/.gitignore
  _archived/infrastructure/darkstar/talos/integrations/helmfile.yaml
  _archived/infrastructure/darkstar/talos/talconfig.yaml
  _archived/infrastructure/darkstar/talos/talenv.sops.yaml
  _archived/infrastructure/darkstar/talos/talsecret.sops.yaml
Labels: cluster/darkstar

update: archive off k3s ansible install for darkstar
  _archived/infrastructure/darkstar/README.md
  _archived/infrastructure/darkstar/ansible/inventory/group_vars/all/extra.yml
  _archived/infrastructure/darkstar/ansible/inventory/group_vars/all/main.yml
  _archived/infrastructure/darkstar/ansible/inventory/group_vars/master/main.yml
  _archived/infrastructure/darkstar/ansible/inventory/hosts.yml
  _archived/infrastructure/darkstar/ansible/playbooks/files/config.toml.tmpl
  _archived/infrastructure/darkstar/ansible/playbooks/files/nfsmount.conf
  _archived/infrastructure/darkstar/ansible/playbooks/files/stale-containers.service
  _archived/infrastructure/darkstar/ansible/playbooks/files/stale-containers.timer
  _archived/infrastructure/darkstar/ansible/playbooks/k3s-install.yml
  _archived/infrastructure/darkstar/ansible/playbooks/k3s-nuke.yml
  _archived/infrastructure/darkstar/ansible/playbooks/os-prepare.yml
  _archived/infrastructure/darkstar/ansible/playbooks/os-update-rollout.yaml
  _archived/infrastructure/darkstar/ansible/playbooks/tasks/cruft.yaml
  _archived/infrastructure/darkstar/ansible/playbooks/tasks/kubeconfig.yaml
  _archived/infrastructure/darkstar/ansible/playbooks/tasks/stale_containers.yaml
  _archived/infrastructure/darkstar/ansible/requirements.txt
  _archived/infrastructure/darkstar/ansible/requirements.yml
  _archived/infrastructure/darkstar/talos/README.md
  _archived/infrastructure/darkstar/talos/clusterconfig/.gitignore
  _archived/infrastructure/darkstar/talos/integrations/helmfile.yaml
  _archived/infrastructure/darkstar/talos/talconfig.yaml
  _archived/infrastructure/darkstar/talos/talenv.sops.yaml
  _archived/infrastructure/darkstar/talos/talsecret.sops.yaml
Labels: cluster/darkstar

fix: why ... why ... why
  infrastructure/darkstar/talos/README.md
  infrastructure/darkstar/talos/clusterconfig/.gitignore
  infrastructure/darkstar/talos/integrations/helmfile.yaml
  infrastructure/darkstar/talos/talconfig.yaml
  infrastructure/darkstar/talos/talenv.sops.yaml
  infrastructure/darkstar/talos/talsecret.sops.yaml
Labels: cluster/darkstar

fix: why ... why ... why
  infrastructure/darkstar/talos/README.md
  infrastructure/darkstar/talos/clusterconfig/.gitignore
  infrastructure/darkstar/talos/integrations/helmfile.yaml
  infrastructure/darkstar/talos/talconfig.yaml
  infrastructure/darkstar/talos/talenv.sops.yaml
  infrastructure/darkstar/talos/talsecret.sops.yaml
Labels: cluster/darkstar

update: add ollama and co.
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/default/ollama/app/helm-release.yaml
  kubernetes/darkstar/apps/default/ollama/app/kustomization.yaml
  kubernetes/darkstar/apps/default/ollama/ks.yaml
  kubernetes/darkstar/apps/default/openwebui/app/helm-release.yaml
  kubernetes/darkstar/apps/default/openwebui/app/kustomization.yaml
  kubernetes/darkstar/apps/default/openwebui/ks.yaml
Labels: area/kubernetes, cluster/darkstar

update: add ollama and co.
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/default/ollama/app/helm-release.yaml
  kubernetes/darkstar/apps/default/ollama/app/kustomization.yaml
  kubernetes/darkstar/apps/default/ollama/ks.yaml
  kubernetes/darkstar/apps/default/openwebui/app/helm-release.yaml
  kubernetes/darkstar/apps/default/openwebui/app/kustomization.yaml
  kubernetes/darkstar/apps/default/openwebui/ks.yaml
Labels: area/kubernetes, cluster/darkstar

update: archive ollama
  _archived/kubernetes/ollama/app/helm-release.yaml
  _archived/kubernetes/ollama/app/kustomization.yaml
  _archived/kubernetes/ollama/ks.yaml
  _archived/kubernetes/openwebui/app/helm-release.yaml
  _archived/kubernetes/openwebui/app/kustomization.yaml
  _archived/kubernetes/openwebui/ks.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"
