Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

Revert "feat(helm): update silence-operator ( 0.19.0 ➔ 0.20.0 )"
  kubernetes/darkstar/apps/observability/silence-operator/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(helm-release): update matter-hub image to 3.0.1 and restore configuration
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(docker-compose): update qbittorrent service ports and add vuetorrent-backend configuration
  infrastructure/ansible/templates/docker-compose/qbittorrent/docker-compose.yml.j2
Labels: area/ansible

refactor(helm): migrate silence-operator to OCIRepository and remove giantswarm-charts
  kubernetes/darkstar/apps/observability/silence-operator/app/helm-release.yaml
  kubernetes/darkstar/flux/repos/helm/giantswarm-charts.yaml
  kubernetes/darkstar/flux/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(system-upgrade): refactor system-upgrade-controller to use tuppr and remove obsolete files
  kubernetes/darkstar/apps/system-upgrade/kustomization.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/app/helm-release.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  kubernetes/darkstar/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/darkstar/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/darkstar/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/darkstar/apps/system-upgrade/tuppr/upgrades/kubernetes.yaml
  kubernetes/darkstar/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/darkstar/apps/system-upgrade/tuppr/upgrades/talos.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): update prompp image tag to 0.6.2
  .renovate/packageRules.json5
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(renovate): add custom managers configuration and update renovate.json5
  .renovate/customManagers.json5
  .renovate/groups.json5
  infrastructure/talos/darkstar/talconfig.yaml
  renovate.json5
Labels: area/talos, cluster/darkstar

feat(helm): enable CRDs and update Prometheus version in helm-release.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Refactor camera zones and required zones in config.yml for improved detection accuracy
  kubernetes/darkstar/apps/home-automation/frigate/app/resources/config.yml
Labels: area/kubernetes, cluster/darkstar

Remove minimumGroupSize requirement from Kubernetes group for flexibility
  .renovate/groups.json5
Labels: none

chore(archive): Remove archived HelmRelease and Kustomization files for Loki and Promtail
  .archived/kubernetes/loki/app/helm-release.yaml
  .archived/kubernetes/loki/app/kustomization.yaml
  .archived/kubernetes/loki/ks.yaml
  .archived/kubernetes/promtail/app/helm-release.yaml
  .archived/kubernetes/promtail/app/kustomization.yaml
  .archived/kubernetes/promtail/ks.yaml
Labels: none

feat(external-secrets): Add configuration for Doppler and ExternalSecrets management
  kubernetes/darkstar/apps/external-secrets/doppler/app/clustersecretstore.yaml
  kubernetes/darkstar/apps/external-secrets/doppler/app/externalsecret.yaml
  kubernetes/darkstar/apps/external-secrets/doppler/app/kustomization.yaml
  kubernetes/darkstar/apps/external-secrets/doppler/ks.yaml
  kubernetes/darkstar/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/darkstar/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/darkstar/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/darkstar/apps/external-secrets/kustomization.yaml
  kubernetes/darkstar/apps/external-secrets/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

feat(kustomization): Controller wide sops decryption + default HelmRelease config
  kubernetes/darkstar/apps/flux-system/flux-instance/app/helm-release.yaml
  kubernetes/darkstar/flux/cluster/cluster.yaml
Labels: area/kubernetes, cluster/darkstar

fix(external-secrets): Update apiVersion and correct paths in ClusterSecretStore and Kustomization
  kubernetes/darkstar/apps/external-secrets/doppler/app/clustersecretstore.yaml
  kubernetes/darkstar/apps/external-secrets/doppler/app/externalsecret.yaml
  kubernetes/darkstar/apps/external-secrets/doppler/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(volsync): Replace SecretTemplates with ExternalSecrets for NFS components
  kubernetes/darkstar/components/volsync/nfs/externalsecret.yaml
  kubernetes/darkstar/components/volsync/nfs/kustomization.yaml
  kubernetes/darkstar/components/volsync/nfs/volsync-nfs-secret-template.yaml
  kubernetes/darkstar/components/volsync/nfs/volsync-nfs-secret.sops.yaml
  kubernetes/darkstar/components/volsync/r2/externalsecret.yaml
  kubernetes/darkstar/components/volsync/r2/kustomization.yaml
  kubernetes/darkstar/components/volsync/r2/volsync-r2-secret-template.yaml
  kubernetes/darkstar/components/volsync/r2/volsync-r2-secret.sops.yaml
Labels: area/kubernetes, cluster/darkstar

feat(templated-secret-controller): archive off templated secret management - using eso instead - again
  .archived/kubernetes/templated-secret-controller/app/helm-release.yaml
  .archived/kubernetes/templated-secret-controller/app/kustomization.yaml
  .archived/kubernetes/templated-secret-controller/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(alerts): remove flux sops component (now handled centrally by controller)
  kubernetes/darkstar/apps/actions-runner-system/kustomization.yaml
  kubernetes/darkstar/apps/cert-manager/kustomization.yaml
  kubernetes/darkstar/apps/database/kustomization.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/downloads/kustomization.yaml
  kubernetes/darkstar/apps/flux-system/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/kustomization.yaml
  kubernetes/darkstar/apps/kube-system/kustomization.yaml
  kubernetes/darkstar/apps/media/kustomization.yaml
  kubernetes/darkstar/apps/networking/kustomization.yaml
  kubernetes/darkstar/apps/observability/kustomization.yaml
  kubernetes/darkstar/apps/storage/kustomization.yaml
  kubernetes/darkstar/apps/system-upgrade/kustomization.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
  kubernetes/darkstar/components/alerts/alertmanager.yaml
  kubernetes/darkstar/components/alerts/kustomization.yaml
  kubernetes/darkstar/components/flux/alerts/kustomization.yaml
  kubernetes/darkstar/components/flux/kustomization.yaml
  kubernetes/darkstar/components/flux/sops/age-key.sops.yaml
  kubernetes/darkstar/components/flux/sops/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(external-secrets): add ExternalSecret for SOPS age key management
  kubernetes/darkstar/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/darkstar/apps/flux-system/flux-instance/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(gatus): remove internal and external gatus components and update related configurations
  kubernetes/darkstar/apps/downloads/prowlarr/ks.yaml
  kubernetes/darkstar/apps/downloads/qbittorrent/ks.yaml
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sabnzbd/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/home-automation/esphome/ks.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/frigate/ks.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/media/tautulli/ks.yaml
  kubernetes/darkstar/apps/media/tvheadend/ks.yaml
  kubernetes/darkstar/apps/observability/gatus/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/gatus/app/resources/config.yaml
  kubernetes/darkstar/apps/observability/grafana/ks.yaml
  kubernetes/darkstar/apps/observability/kromgo/ks.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/darkstar/components/gatus/external/configmap.yaml
  kubernetes/darkstar/components/gatus/external/kustomization.yaml
  kubernetes/darkstar/components/gatus/internal/configmap.yaml
  kubernetes/darkstar/components/gatus/internal/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(zigbee2mqtt): comment out convertor configuration in helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(gatus): update security context and remove unused rules in helm-release.yaml
  kubernetes/darkstar/apps/observability/gatus/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(frigate): update required zones and coordinates in config.yml
  kubernetes/darkstar/apps/home-automation/frigate/app/resources/config.yml
Labels: area/kubernetes, cluster/darkstar

feat(frigate): update coordinates for forecourt zone in config.yml
  kubernetes/darkstar/apps/home-automation/frigate/app/resources/config.yml
Labels: area/kubernetes, cluster/darkstar

feat(frigate): add ExternalSecret configuration and remove deprecated secret file
  kubernetes/darkstar/apps/home-automation/frigate/app/externalsecret.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/frigate-secret.sops.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(home-assistant): add ExternalSecret and HelmRelease configurations, remove deprecated secrets, remote matter-hub
  kubernetes/darkstar/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/home-assistant-ai-secret.sops.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/home-assistant-matter-secret.sops.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/home-assistant-secret.sops.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(volsync): update RESTIC repository and password references in ExternalSecret configuration
  kubernetes/darkstar/components/volsync/nfs/externalsecret.yaml
Labels: area/kubernetes, cluster/darkstar

feat(volsync): update ExternalSecret configuration to streamline secret references
  kubernetes/darkstar/components/volsync/r2/externalsecret.yaml
Labels: area/kubernetes, cluster/darkstar

feat(doppler): update remote reference key in ExternalSecret configuration
  kubernetes/darkstar/apps/external-secrets/doppler/app/externalsecret.yaml
Labels: area/kubernetes, cluster/darkstar

feat(volsync): remove refreshInterval from ExternalSecret configuration
  kubernetes/darkstar/components/volsync/nfs/externalsecret.yaml
  kubernetes/darkstar/components/volsync/r2/externalsecret.yaml
Labels: area/kubernetes, cluster/darkstar

feat(gitignore): update sops patterns to exclude temporary decrypted files
  .gitignore
Labels: none

feat(external-secrets): add ExternalSecret configuration for actions runner
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/arc-k8s-home-ops-secret.sops.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/externalsecrets.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(external-secrets): replace adguard and cloudflare secret configurations with ExternalSecret resources
  kubernetes/darkstar/apps/networking/external-dns/adguard/adguard-dns-secret.sops.yaml
  kubernetes/darkstar/apps/networking/external-dns/adguard/externalsecret.yaml
  kubernetes/darkstar/apps/networking/external-dns/adguard/helmrelease.yaml
  kubernetes/darkstar/apps/networking/external-dns/adguard/kustomization.yaml
  kubernetes/darkstar/apps/networking/external-dns/cloudflare/cloudflare-dns-secret.sops.yaml
  kubernetes/darkstar/apps/networking/external-dns/cloudflare/externalsecret.yaml
  kubernetes/darkstar/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/darkstar/apps/networking/external-dns/cloudflare/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(prowlarr, radarr, sonarr): add ExternalSecret and HelmRelease configurations
  kubernetes/darkstar/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/app/prowlarr-secret.sops.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/radarr-secret.sops.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/sonarr-secret.sops.yaml
Labels: area/kubernetes, cluster/darkstar

feat(docker-compose): remove qbittorrent service and related configurations
  infrastructure/ansible/inventory/group_vars/nas.sops.yaml
  infrastructure/ansible/playbooks/nas/apps.yml
  infrastructure/ansible/playbooks/nas/os.yml
  infrastructure/ansible/roles/docker_compose_service/tasks/main.yml
  infrastructure/ansible/templates/docker-compose/qbittorrent/docker-compose.yml.j2
Labels: area/ansible

feat(cloudflared): replace cloudflared secret with external secret and add helm release configuration
  kubernetes/darkstar/apps/networking/cloudflared/app/cloudflared-secret.sops.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(plex): add ExternalSecret for plex-image-cleanup
  kubernetes/darkstar/apps/media/plex/plex-image-cleanup/externalsecret.yaml
  kubernetes/darkstar/apps/media/plex/plex-image-cleanup/helmrelease.yaml
  kubernetes/darkstar/apps/media/plex/plex-image-cleanup/kustomization.yaml
  kubernetes/darkstar/apps/media/plex/plex-image-cleanup/plex-image-cleanup-secret.sops.yaml
Labels: area/kubernetes, cluster/darkstar

feat(grafana): replace grafana secret with ExternalSecret and update kustomization
  kubernetes/darkstar/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/darkstar/apps/observability/grafana/app/grafana-secret.sops.yaml
  kubernetes/darkstar/apps/observability/grafana/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(observability): replace alertmanager secret with ExternalSecret and update kustomization
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/alertmanager-secret.sops.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(cert-manager): replace cloudflare issuer secret with ExternalSecret and update kustomization feat(github-webhook): replace github webhook token secret with ExternalSecret and update kustomization
  kubernetes/darkstar/apps/cert-manager/cert-manager/issuers/cloudflare-issuer-secret.sops.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/darkstar/apps/flux-system/flux-instance/app/github/webhooks/externalsecret.yaml
  kubernetes/darkstar/apps/flux-system/flux-instance/app/github/webhooks/github-webhook-token-secret.sops.yaml
  kubernetes/darkstar/apps/flux-system/flux-instance/app/github/webhooks/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

chore: rename archived k8s manifest folders
  .archived/kubernetes/external-secrets/external-secrets/app/certificate.yaml
  .archived/kubernetes/external-secrets/external-secrets/app/helm-release.yaml
  .archived/kubernetes/external-secrets/external-secrets/app/kustomization.yaml
  .archived/kubernetes/external-secrets/external-secrets/ks.yaml
  .archived/kubernetes/external-secrets/external-secrets/stores/bitwarden-secrets/bitwarden-access-token.sops.yaml
  .archived/kubernetes/external-secrets/external-secrets/stores/bitwarden-secrets/certificate.yaml
  .archived/kubernetes/external-secrets/external-secrets/stores/bitwarden-secrets/clustersecretstore.yaml
  .archived/kubernetes/external-secrets/external-secrets/stores/k8s-ns-storage.yaml
  .archived/kubernetes/external-secrets/kustomization.yaml
  .archived/kubernetes/external-secrets/namespace.yaml
  .archived/kubernetes/slskd/app/slskd-secret.sops.yaml
  .archived/kubernetes/wrtag/app/kustomization.yaml
  .archived/kubernetes/wrtag/app/wrtag-secret.sops.yaml
  .github/renovate.json5
  kubernetes/darkstar/.archive/atuin/app/helm-release.yaml
  kubernetes/darkstar/.archive/atuin/app/kustomization.yaml
  kubernetes/darkstar/.archive/atuin/ks.yaml
  kubernetes/darkstar/.archive/slskd/app/config/Corefile
  kubernetes/darkstar/.archive/slskd/app/config/slskd.yml
  kubernetes/darkstar/.archive/slskd/app/externalsecret.yaml
  kubernetes/darkstar/.archive/slskd/app/helmrelease.yaml
  kubernetes/darkstar/.archive/slskd/app/kustomization.yaml
  kubernetes/darkstar/.archive/slskd/app/kustomizeconfig.yaml
  kubernetes/darkstar/.archive/slskd/app/scripts/wrtag.sh
  kubernetes/darkstar/.archive/slskd/ks.yaml
  kubernetes/darkstar/.archive/templated-secret-controller/app/helm-release.yaml
  kubernetes/darkstar/.archive/templated-secret-controller/app/kustomization.yaml
  kubernetes/darkstar/.archive/templated-secret-controller/ks.yaml
  kubernetes/darkstar/.archive/wrtag/app/externalsecret.yaml
  kubernetes/darkstar/.archive/wrtag/app/helmrelease.yaml
  kubernetes/darkstar/.archive/wrtag/app/kustomization.yaml
  kubernetes/darkstar/.archive/wrtag/ks.yaml
Labels: area/github, area/kubernetes, cluster/darkstar

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"
