Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

fix(container): Wrong order for sqp-2
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

chore(container): Further recyclarr doings
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

feat: Add samba config to apollo
  infrastructure/ansible/README.md
  infrastructure/ansible/inventory/group_vars/nas.yaml
  infrastructure/ansible/playbooks/nas/samba.yaml
  infrastructure/ansible/playbooks/nas/templates/smb.conf.j2
Labels: area/ansible

chore(container): Shift fstrim duties to talos
  kubernetes/darkstar/.archive/fstrim/app/helmrelease.yaml
  kubernetes/darkstar/.archive/fstrim/app/kustomization.yaml
  kubernetes/darkstar/.archive/fstrim/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
  patch.patch
Labels: area/kubernetes, cluster/darkstar

fix(container): MA score was WAY too high
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix(docker): Remove unused server
  docker/apollo/sabnzbd/docker-compose.yaml
Labels: cluster/apollo

feat: Shift to plain manifests from talconfig
  .mise.toml
  .taskfiles/talos/Taskfile.yaml
  infrastructure/talos/darkstar/cluster.yaml.j2
  infrastructure/talos/darkstar/controlplane.yaml.j2
  infrastructure/talos/darkstar/nodes/controlplane/alpha.yaml.j2
  infrastructure/talos/darkstar/schematic.yaml
  infrastructure/talos/darkstar/version.yaml
Labels: area/talos, cluster/darkstar

fix(flux): unpin flux-operator-manifests distribution artifact
  kubernetes/darkstar/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

chore: remove stray patch.patch and ignore patch files
  .gitignore
  patch.patch
Labels: none

fix(flux): pin cosign keyless identity for flux-operator charts
  kubernetes/darkstar/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/darkstar/apps/flux-system/flux-operator/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(docker): add standalone dozzle on apollo and gravity
  docker/apollo/dozzle/.doco-cd.yaml
  docker/apollo/dozzle/docker-compose.yaml
  docker/gravity/dozzle/.doco-cd.yaml
  docker/gravity/dozzle/docker-compose.yaml
  kubernetes/darkstar/apps/observability/dozzle/app/httproute.yaml
  kubernetes/darkstar/apps/observability/dozzle/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/dozzle/app/service.yaml
  kubernetes/darkstar/apps/observability/dozzle/ks.yaml
  kubernetes/darkstar/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar, cluster/apollo

chore(docker): remove dockhand and hawser
  docker/apollo/hawser/.doco-cd.yaml
  docker/apollo/hawser/docker-compose.yaml
  docker/gravity/hawser/.doco-cd.yaml
  docker/gravity/hawser/docker-compose.yaml
  kubernetes/darkstar/apps/observability/dockhand/app/helmrelease.yaml
  kubernetes/darkstar/apps/observability/dockhand/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/dockhand/ks.yaml
  kubernetes/darkstar/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar, cluster/apollo

feat(docker): add per-host traefik and dnsweaver
  docker/apollo/dozzle/docker-compose.yaml
  docker/apollo/sabnzbd/docker-compose.yaml
  docker/apollo/traefik/.doco-cd.yaml
  docker/apollo/traefik/docker-compose.yaml
  docker/gravity/dozzle/docker-compose.yaml
  docker/gravity/traefik/.doco-cd.yaml
  docker/gravity/traefik/docker-compose.yaml
  docker/gravity/tvheadend/docker-compose.yaml
Labels: cluster/apollo

chore(kubernetes): remove darkstar routes for docker host apps
  kubernetes/darkstar/apps/downloads/kustomization.yaml
  kubernetes/darkstar/apps/downloads/sabnzbd/app/httproute.yaml
  kubernetes/darkstar/apps/downloads/sabnzbd/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/sabnzbd/app/service.yaml
  kubernetes/darkstar/apps/downloads/sabnzbd/ks.yaml
  kubernetes/darkstar/apps/media/kustomization.yaml
  kubernetes/darkstar/apps/media/tvheadend/app/httproute.yaml
  kubernetes/darkstar/apps/media/tvheadend/app/kustomization.yaml
  kubernetes/darkstar/apps/media/tvheadend/app/service.yaml
  kubernetes/darkstar/apps/media/tvheadend/ks.yaml
  kubernetes/darkstar/apps/observability/dozzle/app/httproute.yaml
  kubernetes/darkstar/apps/observability/dozzle/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/dozzle/app/service.yaml
  kubernetes/darkstar/apps/observability/dozzle/ks.yaml
  kubernetes/darkstar/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(docker): request only the wildcard cert in traefik
  docker/apollo/traefik/docker-compose.yaml
  docker/gravity/traefik/docker-compose.yaml
Labels: cluster/apollo

feat(ansible): send doco-cd deploy notifications via apprise
  infrastructure/ansible/playbooks/nas/docker.yaml
  infrastructure/ansible/playbooks/nas/files/docker-compose.yaml
  infrastructure/ansible/playbooks/tvh/docker.yaml
  infrastructure/ansible/playbooks/tvh/files/docker-compose.yaml
Labels: area/ansible

feat(docker): send dozzle container alerts to discord
  docker/apollo/dozzle/.doco-cd.yaml
  docker/apollo/dozzle/docker-compose.yaml
  docker/gravity/dozzle/.doco-cd.yaml
  docker/gravity/dozzle/docker-compose.yaml
  infrastructure/ansible/playbooks/nas/docker.yaml
  infrastructure/ansible/playbooks/tvh/docker.yaml
Labels: area/ansible, cluster/apollo

feat(docker): move downloads apps to apollo with sabon backups
  .taskfiles/sabon/Taskfile.yaml
  Taskfile.yml
  docker/apollo/downloads/.doco-cd.yaml
  docker/apollo/downloads/docker-compose.yaml
  docker/apollo/downloads/resources/recyclarr.yml
  docker/apollo/downloads/resources/refresh-series.sh
  docker/apollo/downloads/resources/slskd.yml
  docker/apollo/dozzle/docker-compose.yaml
  docker/apollo/sabnzbd/.doco-cd.yaml
  docker/apollo/sabnzbd/docker-compose.yaml
  docker/apollo/sabon/.doco-cd.yaml
  docker/apollo/sabon/docker-compose.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/rules/kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/rules/sabon.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/sabon.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/scrapeconfigs/slskd.yaml
Labels: area/kubernetes, cluster/darkstar, cluster/apollo

chore(container): Run plex internally
  kubernetes/darkstar/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): proxy plex internally
  kubernetes/darkstar/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(home-automation): bring home automation back to k8s from HAOS
  infrastructure/talos/darkstar/talconfig.yaml
  kubernetes/darkstar/.archive/frigate/app/resources/config.yml
  kubernetes/darkstar/apps/database/kustomization.yaml
  kubernetes/darkstar/apps/database/mosquitto/app/helmrelease.yaml
  kubernetes/darkstar/apps/database/mosquitto/app/kustomization.yaml
  kubernetes/darkstar/apps/database/mosquitto/ks.yaml
  kubernetes/darkstar/apps/database/namespace.yaml
  kubernetes/darkstar/apps/home-automation/esphome/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/esphome/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/esphome/ks.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/externalsecret.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/frigate/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/frigate/ks.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/pvc.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/ks.yaml
  kubernetes/darkstar/apps/home-automation/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/ks.yaml
  kubernetes/darkstar/apps/home-automation/namespace.yaml
  kubernetes/darkstar/apps/home-automation/otbr/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/otbr/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/otbr/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/externalsecret.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

style: fix yamllint findings
  infrastructure/talos/darkstar/talconfig.yaml
  kubernetes/darkstar/apps/home-automation/namespace.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

chore(docker): Remove dozzle
  docker/.archive/dozzle/.doco-cd.yaml
  docker/.archive/dozzle/docker-compose.yaml
  docker/gravity/dozzle/.doco-cd.yaml
  docker/gravity/dozzle/docker-compose.yaml
Labels: none

ci(github-action): migrate flux-local to flate and harden image pre-pull
  .github/workflows/flate.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

feat(actions-runner-controller): mount talosctl as an image volume
  .renovate/customManagers.json5
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
Labels: area/kubernetes, cluster/darkstar

ci(github-action): use mounted talosctl in pre-pull workflow
  .github/workflows/pre-pull-images.yaml
Labels: area/github

chore(renovate): extend home-operations/renovate-presets
  .github/renovate.json5
  .renovate/autoMerge.json5
  .renovate/commitMessage.json5
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  .renovate/labels.json5
  .renovate/overrides.json5
  .renovaterc.json5
Labels: area/github

fix(renovate): track Talos via the factory datasource
  .renovate/groups.json5
  .renovate/overrides.json5
  .renovaterc.json5
  infrastructure/talos/darkstar/talconfig.yaml
  infrastructure/talos/darkstar/version.yaml
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/zfs-dataset-details.json
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/zfs-pool-datasets.json
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/zfs-pool-overview.json
  kubernetes/darkstar/apps/observability/grafana/app/dashboards/zfs-vdev-list.json
Labels: area/talos, area/kubernetes, cluster/darkstar

chore(kopiur): remove unused kopiur component, archive and taskfile
  .taskfiles/kopiur/Taskfile.yaml
  Taskfile.yml
  kubernetes/darkstar/.archive/esphome/ks.yaml
  kubernetes/darkstar/.archive/frigate/ks.yaml
  kubernetes/darkstar/.archive/home-assistant/ks.yaml
  kubernetes/darkstar/.archive/ignition/kustomization.yaml
  kubernetes/darkstar/.archive/kopiur/app/helmrelease.yaml
  kubernetes/darkstar/.archive/kopiur/app/kustomization.yaml
  kubernetes/darkstar/.archive/kopiur/ks.yaml
  kubernetes/darkstar/.archive/kopiur/repository/clusterrepository.yaml
  kubernetes/darkstar/.archive/kopiur/repository/kustomization.yaml
  kubernetes/darkstar/.archive/mosquitto/ks.yaml
  kubernetes/darkstar/.archive/music-assistant/ks.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/downloads/kustomization.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/ks.yaml
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/media/kustomization.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
  kubernetes/darkstar/apps/media/tautulli/ks.yaml
  kubernetes/darkstar/apps/observability/kustomization.yaml
  kubernetes/darkstar/apps/storage/kustomization.yaml
  kubernetes/darkstar/components/kopiur/backup/kustomization.yaml
  kubernetes/darkstar/components/kopiur/backup/pvc.yaml
  kubernetes/darkstar/components/kopiur/backup/restore.yaml
  kubernetes/darkstar/components/kopiur/backup/snapshotpolicy.yaml
  kubernetes/darkstar/components/kopiur/backup/snapshotschedule.yaml
  kubernetes/darkstar/components/kopiur/secret/externalsecret.yaml
  kubernetes/darkstar/components/kopiur/secret/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(talos): restore Node and RBAC apiserver authorizers
  infrastructure/talos/darkstar/controlplane.yaml.j2
Labels: area/talos, cluster/darkstar

fix(talos): add apiserver authentication config and match alpha NIC by driver
  infrastructure/talos/darkstar/controlplane.yaml.j2
  infrastructure/talos/darkstar/nodes/controlplane/alpha.yaml.j2
Labels: area/talos, cluster/darkstar

revert(container): Remove replica=0 - let's see how this goes
  kubernetes/darkstar/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/otbr/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(zigbee2mqtt): serve the frontend on 8080
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): Wrong port targetted
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(matter-server): use the HAOS add-on's fabric
  kubernetes/darkstar/apps/home-automation/matter-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(music-assistant): move fsGroup to the pod securityContext
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(esphome): run on the host network for mDNS device status
  kubernetes/darkstar/apps/home-automation/esphome/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(music-assistant,talos): writable MA caches and unprivileged ICMP on alpha
  infrastructure/talos/darkstar/nodes/controlplane/alpha.yaml.j2
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

chore(container): Archive music-assistant
  kubernetes/darkstar/.archive/music-assistant/app/externalsecret.yaml
  kubernetes/darkstar/.archive/music-assistant/app/helmrelease.yaml
  kubernetes/darkstar/.archive/music-assistant/app/kustomization.yaml
  kubernetes/darkstar/.archive/music-assistant/ks.yaml
  kubernetes/darkstar/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

chore: Should have been removed with talconfig
  infrastructure/talos/darkstar/talsecret.yaml
Labels: area/talos, cluster/darkstar

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"
