Repository Drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/scripts

fix: specify the repo for the images
  infrastructure/ansible/storage/roles/apps.storage/templates/downloads/docker-compose.yml.j2
Labels: none

fix: specify the repo for the images
  infrastructure/ansible/storage/roles/apps.storage/templates/downloads/docker-compose.yml.j2
Labels: none

fix: specify the repo for the images
  infrastructure/ansible/storage/roles/apps.storage/templates/downloads/docker-compose.yml.j2
Labels: none

fix: wrong folder for ansible requirements
  .taskfiles/AnsibleTasks.yml
Labels: none

fix: wrong folder for ansible requirements
  .taskfiles/AnsibleTasks.yml
Labels: none

fix: wrong folder for ansible requirements
  .taskfiles/AnsibleTasks.yml
Labels: none

update: separate out tasks
  infrastructure/ansible/requirements.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/filesystem.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/main.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/udev.yaml
Labels: none

update: separate out tasks
  infrastructure/ansible/requirements.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/filesystem.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/main.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/udev.yaml
Labels: none

update: separate out tasks
  infrastructure/ansible/requirements.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/filesystem.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/main.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/udev.yaml
Labels: none

update: remove comments, update restart
  infrastructure/ansible/storage/roles/apps.storage/templates/downloads/docker-compose.yml.j2
Labels: none

update: remove comments, update restart
  infrastructure/ansible/storage/roles/apps.storage/templates/downloads/docker-compose.yml.j2
Labels: none

update: remove comments, update restart
  infrastructure/ansible/storage/roles/apps.storage/templates/downloads/docker-compose.yml.j2
Labels: none

fix: add DNS to docker daemon
  infrastructure/ansible/storage/inventory/group_vars/storage/docker.yml
Labels: none

fix: add DNS to docker daemon
  infrastructure/ansible/storage/inventory/group_vars/storage/docker.yml
Labels: none

fix: add DNS to docker daemon
  infrastructure/ansible/storage/inventory/group_vars/storage/docker.yml
Labels: none

update: fixup renovate json
  .github/renovate.json5
Labels: area/github

update: fixup renovate json
  .github/renovate.json5
Labels: area/github

update: fixup renovate json
  .github/renovate.json5
Labels: area/github

update: further renovate changes
  .github/renovate.json5
Labels: area/github

update: further renovate changes
  .github/renovate.json5
Labels: area/github

update: further renovate changes
  .github/renovate.json5
Labels: area/github

update: recyclarr hashes for sonarr
  cluster/apps/downloads/recyclarr/recyclarr.yaml
Labels: area/cluster

update: recyclarr hashes for sonarr
  cluster/apps/downloads/recyclarr/recyclarr.yaml
Labels: area/cluster

update: recyclarr hashes for sonarr
  cluster/apps/downloads/recyclarr/recyclarr.yaml
Labels: area/cluster

Revert "fix(container): update image ghcr.io/onedr0p/plex to v1.28.1.6104-788f82488"
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

Revert "fix(container): update image ghcr.io/onedr0p/plex to v1.28.1.6092-87136b92b"
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

update: shift some apps around fix: intel-gpu-plugin - wrong affinity + more devices
  cluster/apps/kube-system/intel-gpu-plugin/helm-release.yaml
  cluster/apps/kube-system/intel-gpu-plugin/kustomization.yaml
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/kube-system/node-feature-discovery/helm-release.yaml
  cluster/apps/kube-system/node-feature-discovery/kustomization.yaml
  cluster/core/kustomization.yaml
Labels: area/cluster

update: shift some apps around fix: intel-gpu-plugin - wrong affinity + more devices
  cluster/apps/kube-system/intel-gpu-plugin/helm-release.yaml
  cluster/apps/kube-system/intel-gpu-plugin/kustomization.yaml
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/kube-system/node-feature-discovery/helm-release.yaml
  cluster/apps/kube-system/node-feature-discovery/kustomization.yaml
  cluster/core/kustomization.yaml
Labels: area/cluster

update: shift some apps around fix: intel-gpu-plugin - wrong affinity + more devices
  cluster/apps/kube-system/intel-gpu-plugin/helm-release.yaml
  cluster/apps/kube-system/intel-gpu-plugin/kustomization.yaml
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/kube-system/node-feature-discovery/helm-release.yaml
  cluster/apps/kube-system/node-feature-discovery/kustomization.yaml
  cluster/core/kustomization.yaml
Labels: area/cluster

fix: plex hw still broken? revert to this version?
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix: plex hw still broken? revert to this version?
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix: plex hw still broken? revert to this version?
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

test: try my build of plex 1.28 without pinned opencl
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

test: try my build of plex 1.28 without pinned opencl
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

test: try my build of plex 1.28 without pinned opencl
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

update: my talconfig to latest changes
  infrastructure/talos/talconfig.yaml
Labels: none

update: my talconfig to latest changes
  infrastructure/talos/talconfig.yaml
Labels: none

update: my talconfig to latest changes
  infrastructure/talos/talconfig.yaml
Labels: none

update: ansible changes for nas - switch to podman update: ansible changes for nas - various!
  infrastructure/ansible/requirements.yml
  infrastructure/ansible/storage/inventory/group_vars/storage/docker.yml
  infrastructure/ansible/storage/inventory/host_vars/apollo.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/filesystem.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/packages.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/rootless.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/user.yml
  infrastructure/ansible/storage/roles/os.storage/vars/main.yml
Labels: none

update: ansible changes for nas - switch to podman update: ansible changes for nas - various!
  infrastructure/ansible/requirements.yml
  infrastructure/ansible/storage/inventory/group_vars/storage/docker.yml
  infrastructure/ansible/storage/inventory/host_vars/apollo.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/filesystem.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/packages.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/rootless.yml
  infrastructure/ansible/storage/roles/os.storage/tasks/user.yml
  infrastructure/ansible/storage/roles/os.storage/vars/main.yml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/scripts:
  - "scripts/**/*"
