Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

feat(docs): add comprehensive Copilot instructions for k8s-home-ops setup and operations
  .github/copilot-instructions.md
Labels: area/github

fix(helmfile): update CRD installation commands for improved resource handling
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/darkstar/.bootstrap/helmfile.d/helmfile-crds.yaml
Labels: area/kubernetes, cluster/darkstar

fix(recyclarr): remove obsolete trash_id for UK streaming services from custom format groups
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

Revert "fix(container): update ghcr.io/koenkk/zigbee2mqtt ( 2.9.0 ➔ 2.9.1 )"
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(container): update ghcr.io/koenkk/zigbee2mqtt ( 2.8.0 ➔ 2.9.0 )"
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): update gatus endpoint condition to check for 200 status
  kubernetes/darkstar/apps/observability/kromgo/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helmrelease): update grafana chart tag and repository URL
  kubernetes/darkstar/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(volsync): Update replication destination/source schemas - use moverVolumes
  kubernetes/darkstar/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/darkstar/apps/storage/volsync/app/kustomization.yaml
  kubernetes/darkstar/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/darkstar/components/volsync/nfs/replication-destination.yaml
  kubernetes/darkstar/components/volsync/nfs/replication-source.yaml
Labels: area/kubernetes, cluster/darkstar

refactor: comment out presence-sensor-configurator configuration in helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(adguard): move AdGuard DNS integration to archive
  kubernetes/darkstar/.archive/adguard/externalsecret.yaml
  kubernetes/darkstar/.archive/adguard/helmrelease.yaml
  kubernetes/darkstar/.archive/adguard/kustomization.yaml
  kubernetes/darkstar/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(frigate): update image tag to 0.17.1
  kubernetes/darkstar/apps/home-automation/frigate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(probes): remove deprecated target 'tvheadend.starstreak.net' from http probe
  kubernetes/darkstar/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "fix(container): update ghcr.io/victoriametrics/helm-charts/victoria-logs-single ( 0.11.31 ➔ 0.11.32 )"
  kubernetes/darkstar/apps/observability/victoria-logs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(external-dns): add ExternalSecret and HelmRelease for AdGuard integration
  kubernetes/darkstar/apps/networking/external-dns/adguard/externalsecret.yaml
  kubernetes/darkstar/apps/networking/external-dns/adguard/helmrelease.yaml
  kubernetes/darkstar/apps/networking/external-dns/adguard/kustomization.yaml
  kubernetes/darkstar/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(music-assistant): add kustomization, externalsecret, and helmrelease configurations
  kubernetes/darkstar/apps/media/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/externalsecret.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helmrelease): add missing protocol for gdm5 UDP configuration
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(music-assistant): remove obsolete resources and update kustomization files
  kubernetes/darkstar/.archive/music-assistant/app/externalsecret.yaml
  kubernetes/darkstar/.archive/music-assistant/app/helmrelease.yaml
  kubernetes/darkstar/.archive/music-assistant/app/kustomization.yaml
  kubernetes/darkstar/.archive/music-assistant/ks.yaml
  kubernetes/darkstar/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "fix(container): update quay.io/prometheus/node-exporter ( v1.11.0 ➔ v1.11.1 )"
  infrastructure/ansible/templates/docker-compose/node-exporter/docker-compose.yml.j2
Labels: area/ansible

Revert "feat(container): update quay.io/prometheus/node-exporter ( v1.10.2 ➔ v1.11.0 )"
  infrastructure/ansible/templates/docker-compose/node-exporter/docker-compose.yml.j2
Labels: area/ansible

Revert "fix(container): update ghcr.io/prometheus-community/charts/prometheus-node-exporter ( 4.53.0 ➔ 4.53.1 )"
  kubernetes/darkstar/apps/observability/node-exporter/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(container): update ghcr.io/prometheus-community/charts/prometheus-node-exporter ( 4.52.2 ➔ 4.53.0 )"
  kubernetes/darkstar/apps/observability/node-exporter/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(music-assistant): add kustomization, externalsecret, and helmrelease configurations
  kubernetes/darkstar/apps/media/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/externalsecret.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(observability): update kube-prometheus-stack configuration and remove node-exporter resources
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/resources/flux-metrics.yaml
  kubernetes/darkstar/apps/observability/kustomization.yaml
  kubernetes/darkstar/apps/observability/node-exporter/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/node-exporter/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/node-exporter/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(observability): enable CRDs and update kubeApiServer and kubeScheduler configurations
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(observability): add node-exporter configuration and remove flux-metrics resources
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/resources/flux-metrics.yaml
  kubernetes/darkstar/apps/observability/kustomization.yaml
  kubernetes/darkstar/apps/observability/node-exporter/app/helmrelease.yaml
  kubernetes/darkstar/apps/observability/node-exporter/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/node-exporter/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(observability): add node-exporter configuration and remove flux-metrics resources
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/resources/flux-metrics.yaml
  kubernetes/darkstar/apps/observability/kustomization.yaml
  kubernetes/darkstar/apps/observability/node-exporter/app/helmrelease.yaml
  kubernetes/darkstar/apps/observability/node-exporter/app/kustomization.yaml
  kubernetes/darkstar/apps/observability/node-exporter/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(observability): downgrade grafana chart version to 11.6.1
  kubernetes/darkstar/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(observability): refactor grafana HelmRelease configuration and enhance dashboard definitions
  kubernetes/darkstar/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(observability): update relabeling regex for node-exporter instance label
  kubernetes/darkstar/apps/observability/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(observability): update grafana dashboard datasource configuration for improved monitoring
  kubernetes/darkstar/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/darkstar/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(observability): remove outdated flux dashboard configurations
  kubernetes/darkstar/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(cilium): update apiVersion from v2alpha1 to v2 for CiliumLoadBalancerIPPool
  kubernetes/darkstar/apps/kube-system/cilium/app/l2-lb.yaml
Labels: area/kubernetes, cluster/darkstar

feat(intel-gpu-resource-driver): add HelmRelease and Kustomization for Intel GPU resource driver refactor(system): remove generic-device-plugin resources and update kustomization
  kubernetes/darkstar/apps/kube-system/intel-gpu-resource-driver/app/helmrelease.yaml
  kubernetes/darkstar/apps/kube-system/intel-gpu-resource-driver/app/kustomization.yaml
  kubernetes/darkstar/apps/kube-system/intel-gpu-resource-driver/ks.yaml
  kubernetes/darkstar/apps/kube-system/kustomization.yaml
  kubernetes/darkstar/apps/system/generic-device-plugin/app/helm-release.yaml
  kubernetes/darkstar/apps/system/generic-device-plugin/app/kustomization.yaml
  kubernetes/darkstar/apps/system/generic-device-plugin/app/resources/config.yaml
  kubernetes/darkstar/apps/system/generic-device-plugin/ks.yaml
  kubernetes/darkstar/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat(intel-gpu-resource-driver): add kubeletPlugin configuration for health monitoring
  kubernetes/darkstar/apps/kube-system/intel-gpu-resource-driver/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(slskd): archive HelmRelease, Kustomization, and configuration files for slskd application
  kubernetes/darkstar/.archive/generic-device-plugin/app/helmrelease.yaml
  kubernetes/darkstar/.archive/generic-device-plugin/app/kustomization.yaml
  kubernetes/darkstar/.archive/generic-device-plugin/app/resources/config.yaml
  kubernetes/darkstar/.archive/generic-device-plugin/ks.yaml
  kubernetes/darkstar/.archive/slskd/app/config/Corefile
  kubernetes/darkstar/.archive/slskd/app/config/slskd.yml
  kubernetes/darkstar/.archive/slskd/app/externalsecret.yaml
  kubernetes/darkstar/.archive/slskd/app/helmrelease.yaml
  kubernetes/darkstar/.archive/slskd/app/kustomization.yaml
  kubernetes/darkstar/.archive/slskd/app/kustomizeconfig.yaml
  kubernetes/darkstar/.archive/slskd/ks.yaml
  kubernetes/darkstar/apps/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix: correct namespace for intel-gpu-resource-driver to kube-system
  kubernetes/darkstar/apps/home-automation/frigate/ks.yaml
  kubernetes/darkstar/apps/media/plex/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(kguardian): archive existing HelmRelease, HTTPRoute, Kustomization, and Namespace configurations
  kubernetes/darkstar/.archive/kguardian/kguardian/app/helmrelease.yaml
  kubernetes/darkstar/.archive/kguardian/kguardian/app/httproute.yaml
  kubernetes/darkstar/.archive/kguardian/kguardian/app/kustomization.yaml
  kubernetes/darkstar/.archive/kguardian/kguardian/ks.yaml
  kubernetes/darkstar/.archive/kguardian/kustomization.yaml
  kubernetes/darkstar/.archive/kguardian/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(container): update ghcr.io/siderolabs/kubelet ( v1.35.4 ➔ v1.36.0 )"
  infrastructure/talos/darkstar/talconfig.yaml
  kubernetes/darkstar/apps/system-upgrade/tuppr/upgrades/kubernetes.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

refactor: update metrics queries and enhance color configurations in config.yaml
  kubernetes/darkstar/apps/observability/kromgo/app/config/config.yaml
Labels: area/kubernetes, cluster/darkstar

refactor: remove unused settings section from .mise.toml
  .mise.toml
Labels: none

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"
