Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

feat(container): update prompp/prompp to 2.53.2-0.3.3
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(container): update prompp/prompp to 2.53.2-0.3.3
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(alertmanager): add configuration files and Prometheus rules for monitoring
  .archived/kubernetes/alertmanager/app/config/alertmanager.yml
  .archived/kubernetes/alertmanager/app/helm-release.yaml
  .archived/kubernetes/alertmanager/app/kustomization.yaml
  .archived/kubernetes/alertmanager/ks.yaml
  kubernetes/darkstar/apps/default/unifi/app/backendtlspolicy.yaml
  kubernetes/darkstar/apps/default/unifi/app/certificate.yaml
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/alertmanager-secret.sops.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/rules/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/rules/oomkilled.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/rules/zfs.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/topolvm.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/zfs-exporter.yaml
  kubernetes/darkstar/apps/monitoring/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/app/podmonitor.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/app/servicemonitor.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/httproute.yaml
Labels: area/kubernetes, cluster/darkstar

feat(alertmanager): add configuration files and Prometheus rules for monitoring
  .archived/kubernetes/alertmanager/app/config/alertmanager.yml
  .archived/kubernetes/alertmanager/app/helm-release.yaml
  .archived/kubernetes/alertmanager/app/kustomization.yaml
  .archived/kubernetes/alertmanager/ks.yaml
  kubernetes/darkstar/apps/default/unifi/app/backendtlspolicy.yaml
  kubernetes/darkstar/apps/default/unifi/app/certificate.yaml
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/alertmanager-secret.sops.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/rules/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/rules/oomkilled.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/rules/zfs.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/topolvm.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/zfs-exporter.yaml
  kubernetes/darkstar/apps/monitoring/kustomization.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/app/podmonitor.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/app/servicemonitor.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/httproute.yaml
Labels: area/kubernetes, cluster/darkstar

fix(kube-prometheus-stack): remove alertmanager dependency from Kustomization
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(kube-prometheus-stack): remove alertmanager dependency from Kustomization
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(grafana): update alertmanager URL to use the operated service
  kubernetes/darkstar/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(grafana): update alertmanager URL to use the operated service
  kubernetes/darkstar/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(alertmanager): refine alert routing and matchers for improved clarity
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes, cluster/darkstar

fix(alertmanager): refine alert routing and matchers for improved clarity
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(external-dns): comment out adguard configuration in ks.yaml
  kubernetes/darkstar/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(external-dns): comment out adguard configuration in ks.yaml
  kubernetes/darkstar/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(kubelet-csr-approver): add Helm release and Kustomization for kubelet-csr-approver
  infrastructure/darkstar/talos/integrations/helmfile.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/values.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/darkstar/apps/kube-system/kustomization.yaml
  kubernetes/darkstar/repos/helm/kustomization.yaml
  kubernetes/darkstar/repos/helm/postfinance-charts.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

feat(kubelet-csr-approver): add Helm release and Kustomization for kubelet-csr-approver
  infrastructure/darkstar/talos/integrations/helmfile.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/values.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/darkstar/apps/kube-system/kustomization.yaml
  kubernetes/darkstar/repos/helm/kustomization.yaml
  kubernetes/darkstar/repos/helm/postfinance-charts.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

fix(openebs-charts): update YAML schema reference to v1
  kubernetes/darkstar/repos/helm/openebs-charts.yaml
Labels: area/kubernetes, cluster/darkstar

fix(openebs-charts): update YAML schema reference to v1
  kubernetes/darkstar/repos/helm/openebs-charts.yaml
Labels: area/kubernetes, cluster/darkstar

fix(storage): update NFS paths for media and backup volumes
  .archived/kubernetes/music-assistant/app/helm-release.yaml
  .taskfiles/volsync/resources/list-snapshots.yaml.j2
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes, cluster/darkstar

fix(storage): update NFS paths for media and backup volumes
  .archived/kubernetes/music-assistant/app/helm-release.yaml
  .taskfiles/volsync/resources/list-snapshots.yaml.j2
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes, cluster/darkstar

feat(external-dns): restore external-dns-adguard Kustomization configuration
  kubernetes/darkstar/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat(external-dns): restore external-dns-adguard Kustomization configuration
  kubernetes/darkstar/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(esphome): increase memory limit from 1000Mi to 2048Mi
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(esphome): increase memory limit from 1000Mi to 2048Mi
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Refactor .mise.toml to standardize tool definitions and remove unnecessary prefixes
  .mise.toml
Labels: none

Refactor .mise.toml to standardize tool definitions and remove unnecessary prefixes
  .mise.toml
Labels: none

refactor(.mise.toml): remove unnecessary comments from tool definitions
  .mise.toml
Labels: none

refactor(.mise.toml): remove unnecessary comments from tool definitions
  .mise.toml
Labels: none

refactor(helm-release.yaml): update wyoming-openai configuration and remove commented-out code
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(helm-release.yaml): update wyoming-openai configuration and remove commented-out code
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(helm): update wyoming-openai configuration and model settings
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(helm): update wyoming-openai configuration and model settings
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(helm): update wyoming-openai image tag to 0.3.5
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(helm): update wyoming-openai image tag to 0.3.5
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): reorder STT_STREAMING_MODELS for clarity
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): reorder STT_STREAMING_MODELS for clarity
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): update wyoming-openai configuration and secret management
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/home-assistant-ai-secret.sops.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): update wyoming-openai configuration and secret management
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/home-assistant-ai-secret.sops.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): update wyoming-proxy-azure-stt configuration and add code-server settings
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): update wyoming-proxy-azure-stt configuration and add code-server settings
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(home-assistant): add matter-hub configuration and secret management
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/home-assistant-matter-secret.sops.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/pvc.yaml
Labels: area/kubernetes, cluster/darkstar

feat(home-assistant): add matter-hub configuration and secret management
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/home-assistant-matter-secret.sops.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/pvc.yaml
Labels: area/kubernetes, cluster/darkstar
