Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

fix(home-assistant): add RequestHeaderModifier for matter-hub ingress path
  infrastructure/darkstar/talos/talconfig.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

fix(home-assistant): add RequestHeaderModifier for matter-hub ingress path
  infrastructure/darkstar/talos/talconfig.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

fix(home-assistant): update matter-hub image tag from 3.0.0-alpha.87 to 3.0.0-alpha.76
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): update matter-hub image tag from 3.0.0-alpha.87 to 3.0.0-alpha.76
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): enhance matter-hub configuration with args and security context
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): enhance matter-hub configuration with args and security context
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): simplify security context and remove unused PVC for matter-data
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/pvc.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): simplify security context and remove unused PVC for matter-data
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/pvc.yaml
Labels: area/kubernetes, cluster/darkstar

fix(recyclarr): update unwanted and optional trash IDs in Sonarr configuration
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix(recyclarr): update unwanted and optional trash IDs in Sonarr configuration
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(container): update ghcr.io/grafana/helm-charts/loki docker tag ( 6.34.0 → 6.35.0 ) - autoclosed"
  kubernetes/darkstar/apps/observability/loki/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(container): update ghcr.io/grafana/helm-charts/loki docker tag ( 6.34.0 → 6.35.0 ) - autoclosed"
  kubernetes/darkstar/apps/observability/loki/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(container): update ghcr.io/grafana/helm-charts/loki docker tag ( 6.34.0 → 6.35.0 )"
  kubernetes/darkstar/apps/observability/loki/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(container): update ghcr.io/grafana/helm-charts/loki docker tag ( 6.34.0 → 6.35.0 )"
  kubernetes/darkstar/apps/observability/loki/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Prompp versioning
  .renovate/packageRules.json5
Labels: none

Prompp versioning
  .renovate/packageRules.json5
Labels: none

style(toml): format alignment and spacing in .mise.toml
  .mise.toml
Labels: none

style(toml): format alignment and spacing in .mise.toml
  .mise.toml
Labels: none

feat(vscode): add additional settings for Go and SOPS configurations
  .vscode/settings.json
Labels: none

feat(vscode): add additional settings for Go and SOPS configurations
  .vscode/settings.json
Labels: none

refactor(kubelet-csr-approver): remove kubelet-csr-approver resources and references
  infrastructure/darkstar/talos/integrations/helmfile.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/values.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/darkstar/apps/kube-system/kustomization.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

refactor(kubelet-csr-approver): remove kubelet-csr-approver resources and references
  infrastructure/darkstar/talos/integrations/helmfile.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/app/values.yaml
  kubernetes/darkstar/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/darkstar/apps/kube-system/kustomization.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

fix: update service account and secret names in talos.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/darkstar

fix: update service account and secret names in talos.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/darkstar

fix: revert TALOS_VERSION to v1.10.5 in ks.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix: revert TALOS_VERSION to v1.10.5 in ks.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/darkstar

feat: remove HelmRelease and Kustomization for audiobookshelf and readarr applications
  .archived/kubernetes/audiobookshelf/app/helm-release.yaml
  .archived/kubernetes/audiobookshelf/app/kustomization.yaml
  .archived/kubernetes/audiobookshelf/app/readarr-secret.sops.yaml
  .archived/kubernetes/audiobookshelf/ks.yaml
  .archived/kubernetes/readarr/app/helm-release.yaml
  .archived/kubernetes/readarr/app/kustomization.yaml
  .archived/kubernetes/readarr/app/readarr-secret.sops.yaml
  .archived/kubernetes/readarr/ks.yaml
  kubernetes/darkstar/apps/downloads/kustomization.yaml
  kubernetes/darkstar/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

feat: remove HelmRelease and Kustomization for audiobookshelf and readarr applications
  .archived/kubernetes/audiobookshelf/app/helm-release.yaml
  .archived/kubernetes/audiobookshelf/app/kustomization.yaml
  .archived/kubernetes/audiobookshelf/app/readarr-secret.sops.yaml
  .archived/kubernetes/audiobookshelf/ks.yaml
  .archived/kubernetes/readarr/app/helm-release.yaml
  .archived/kubernetes/readarr/app/kustomization.yaml
  .archived/kubernetes/readarr/app/readarr-secret.sops.yaml
  .archived/kubernetes/readarr/ks.yaml
  kubernetes/darkstar/apps/downloads/kustomization.yaml
  kubernetes/darkstar/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix: update Taskfile to use fixed 'apollo' directory for Ansible requirements
  .taskfiles/ansible/Taskfile.yml
Labels: none

fix: update Taskfile to use fixed 'apollo' directory for Ansible requirements
  .taskfiles/ansible/Taskfile.yml
Labels: none

fix: remove CNAME record type from external-dns-adguard and add excludeDomains to external-dns-cloudflare
  kubernetes/darkstar/apps/networking/external-dns/adguard/helm-release.yaml
  kubernetes/darkstar/apps/networking/external-dns/cloudflare/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: remove CNAME record type from external-dns-adguard and add excludeDomains to external-dns-cloudflare
  kubernetes/darkstar/apps/networking/external-dns/adguard/helm-release.yaml
  kubernetes/darkstar/apps/networking/external-dns/cloudflare/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(recyclarr): reorganize and update trash_ids for streaming services and HDR formats
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix(recyclarr): reorganize and update trash_ids for streaming services and HDR formats
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix(recyclarr): update trash_ids for HDR formats in Sonarr configuration
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix(recyclarr): update trash_ids for HDR formats in Sonarr configuration
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix(recyclarr): streamline Sonarr configuration by removing redundant quality definitions and enhancing custom formats for HDR/DV handling
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix(recyclarr): streamline Sonarr configuration by removing redundant quality definitions and enhancing custom formats for HDR/DV handling
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix(recyclarr): update media naming conventions for Sonarr and Radarr configurations
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix(recyclarr): update media naming conventions for Sonarr and Radarr configurations
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"
