Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

Update: switch alertmanager to externalsecret
  kubernetes/darkstar/apps/monitoring/alertmanager/app/config/alertmanager.yml
  kubernetes/darkstar/apps/monitoring/alertmanager/app/externalsecret.yaml
  kubernetes/darkstar/apps/monitoring/alertmanager/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/alertmanager/app/kustomization.yaml
  kubernetes/darkstar/settings/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/darkstar

Update: remove wan ip addressing
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/settings/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/darkstar

Update: remove wan ip addressing
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/settings/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/darkstar

Update: switch the 'arrs to externalsecret
  kubernetes/darkstar/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/kustomization.yaml
  kubernetes/darkstar/settings/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/darkstar

Update: switch the 'arrs to externalsecret
  kubernetes/darkstar/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/kustomization.yaml
  kubernetes/darkstar/settings/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/darkstar

Update: replace domain name - not a secret really Update: remove cluster-secrets
  kubernetes/darkstar/apps/downloads/prowlarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/sabnzbd/app/httproute.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/darkstar/apps/flux-system/add-ons/webhooks/github/httproute.yaml
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/cilium/app/httproute.yaml
  kubernetes/darkstar/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/darkstar/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/darkstar/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/media/tautulli/app/helm-release.yaml
  kubernetes/darkstar/apps/media/tvheadend/app/httproute.yaml
  kubernetes/darkstar/apps/monitoring/alertmanager/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/gatus/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/darkstar/apps/monitoring/gatus/templates/external/configmap.yaml
  kubernetes/darkstar/apps/monitoring/gatus/templates/internal/configmap.yaml
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/kromgo/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/dnsEndpoint.yaml
  kubernetes/darkstar/apps/networking/external-dns/app/helm-release.yaml
  kubernetes/darkstar/flux/apps.yaml
  kubernetes/darkstar/settings/cluster-secrets.sops.yaml
  kubernetes/darkstar/settings/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Update: replace domain name - not a secret really Update: remove cluster-secrets
  kubernetes/darkstar/apps/downloads/prowlarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/darkstar/apps/downloads/sabnzbd/app/httproute.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/darkstar/apps/flux-system/add-ons/webhooks/github/httproute.yaml
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/cilium/app/httproute.yaml
  kubernetes/darkstar/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/darkstar/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/darkstar/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/media/tautulli/app/helm-release.yaml
  kubernetes/darkstar/apps/media/tvheadend/app/httproute.yaml
  kubernetes/darkstar/apps/monitoring/alertmanager/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/gatus/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/darkstar/apps/monitoring/gatus/templates/external/configmap.yaml
  kubernetes/darkstar/apps/monitoring/gatus/templates/internal/configmap.yaml
  kubernetes/darkstar/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/kromgo/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/dnsEndpoint.yaml
  kubernetes/darkstar/apps/networking/external-dns/app/helm-release.yaml
  kubernetes/darkstar/flux/apps.yaml
  kubernetes/darkstar/settings/cluster-secrets.sops.yaml
  kubernetes/darkstar/settings/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Update: remove cluster-settings - use directly I hope I don't regret this ...
  kubernetes/darkstar/apps/database/emqx/cluster/cluster.yaml
  kubernetes/darkstar/apps/downloads/sabnzbd/app/service.yaml
  kubernetes/darkstar/apps/flux-system/add-ons/webhooks/github/receiver.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/media/tvheadend/app/service.yaml
  kubernetes/darkstar/apps/monitoring/blackbox-exporter/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/node-exporter/app/helm-release.yaml
  kubernetes/darkstar/flux/apps.yaml
  kubernetes/darkstar/flux/settings.yaml
  kubernetes/darkstar/settings/cluster-settings.yaml
  kubernetes/darkstar/settings/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Update: remove cluster-settings - use directly I hope I don't regret this ...
  kubernetes/darkstar/apps/database/emqx/cluster/cluster.yaml
  kubernetes/darkstar/apps/downloads/sabnzbd/app/service.yaml
  kubernetes/darkstar/apps/flux-system/add-ons/webhooks/github/receiver.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/darkstar/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/darkstar/apps/media/plex/app/helm-release.yaml
  kubernetes/darkstar/apps/media/tvheadend/app/service.yaml
  kubernetes/darkstar/apps/monitoring/blackbox-exporter/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/darkstar/apps/monitoring/node-exporter/app/helm-release.yaml
  kubernetes/darkstar/flux/apps.yaml
  kubernetes/darkstar/flux/settings.yaml
  kubernetes/darkstar/settings/cluster-settings.yaml
  kubernetes/darkstar/settings/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Update: rejiggle bitwarden self-signed cert creation layout Update: add some dependsOn for external-dns
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/self-signed/bitwarden.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/self-signed/kustomization.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/ks.yaml
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/darkstar/apps/monitoring/alertmanager/ks.yaml
  kubernetes/darkstar/apps/networking/cloudflared/ks.yaml
  kubernetes/darkstar/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes, cluster/darkstar

Update: rejiggle bitwarden self-signed cert creation layout Update: add some dependsOn for external-dns
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/self-signed/bitwarden.yaml
  kubernetes/darkstar/apps/cert-manager/cert-manager/self-signed/kustomization.yaml
  kubernetes/darkstar/apps/downloads/prowlarr/ks.yaml
  kubernetes/darkstar/apps/downloads/radarr/ks.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/ks.yaml
  kubernetes/darkstar/apps/downloads/sonarr/ks.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/ks.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/darkstar/apps/monitoring/alertmanager/ks.yaml
  kubernetes/darkstar/apps/networking/cloudflared/ks.yaml
  kubernetes/darkstar/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes, cluster/darkstar

Update: remove disk tasks for now
  Taskfile.yml
Labels: none

Update: remove disk tasks for now
  Taskfile.yml
Labels: none

Update: switch epshome to home-operations container Update: drop privileges thanks to above
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: switch epshome to home-operations container Update: drop privileges thanks to above
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: renovate groups updates for new apps
  .renovate/groups.json5
Labels: none

Update: renovate groups updates for new apps
  .renovate/groups.json5
Labels: none

Update: schema workflow inline with onedr0p
  .github/workflows/schemas.yaml
Labels: area/github

Update: schema workflow inline with onedr0p
  .github/workflows/schemas.yaml
Labels: area/github

fix(helm): trailing space in hr
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm): trailing space in hr
  kubernetes/darkstar/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(esphome): changed cache folder location
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(esphome): changed cache folder location
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: consolidate and update renovate config
  .renovate/autoMerge.json5
  .renovate/commitMessage.json5
  .renovate/semanticCommits.json5
  renovate.json5
Labels: none

Update: consolidate and update renovate config
  .renovate/autoMerge.json5
  .renovate/commitMessage.json5
  .renovate/semanticCommits.json5
  renovate.json5
Labels: none

Disable schema validation for flux-local
  kubernetes/darkstar/apps/networking/external-dns/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Disable schema validation for flux-local
  kubernetes/darkstar/apps/networking/external-dns/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Change name of repsource for volsync nfs
  kubernetes/darkstar/apps/storage/volsync/templates/nfs/replication-source.yaml
Labels: area/kubernetes, cluster/darkstar

Change name of repsource for volsync nfs
  kubernetes/darkstar/apps/storage/volsync/templates/nfs/replication-source.yaml
Labels: area/kubernetes, cluster/darkstar

Change the volsync task files to those of bjw-s Add --env and -a none directly to minijina-cli calls
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/list-snapshots.yaml.j2
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
  .taskfiles/volsync/scripts/wait-for-k8s-job.sh
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
Labels: none

Change the volsync task files to those of bjw-s Add --env and -a none directly to minijina-cli calls
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/list-snapshots.yaml.j2
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
  .taskfiles/volsync/scripts/wait-for-k8s-job.sh
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
Labels: none

Switch outstanding sops to externalsecrets Rotate encryption on remaining sops secrets
  .archived/kubernetes/bytestash/app/bytestash-secret.sops.yaml
  .archived/kubernetes/database/crunchy-postgres-operator/cluster/pgbackrest-secret.sops.yaml
  .archived/kubernetes/kopia-cronjobs/app/secret.sops.yaml
  .archived/kubernetes/lidarr/app/lidarr-secret.sops.yaml
  .archived/kubernetes/pod-gateway/downloads/pod-gateway-config.sops.yaml
  infrastructure/apollo/ansible/inventory/host_vars/apollo.sops.yaml
  infrastructure/darkstar/talos/talenv.sops.yaml
  infrastructure/darkstar/talos/talsecret.sops.yaml
  kubernetes/darkstar/apps/external-secrets/external-secrets/stores/bitwarden-secrets/bitwarden-access-token.sops.yaml
  kubernetes/darkstar/apps/flux-system/add-ons/webhooks/github/externalsecret.yaml
  kubernetes/darkstar/apps/flux-system/add-ons/webhooks/github/kustomization.yaml
  kubernetes/darkstar/apps/flux-system/add-ons/webhooks/github/receiver.yaml
  kubernetes/darkstar/apps/flux-system/add-ons/webhooks/github/webhook-token.sops.yaml
  kubernetes/darkstar/apps/media/plex/plex-image-cleanup/externalsecret.yaml
  kubernetes/darkstar/apps/media/plex/plex-image-cleanup/kustomization.yaml
  kubernetes/darkstar/apps/media/plex/plex-image-cleanup/plex-token-secret.sops.yaml
  kubernetes/darkstar/apps/monitoring/gatus/app/discord-secret.sops.yaml
  kubernetes/darkstar/apps/monitoring/gatus/app/externalsecret.yaml
  kubernetes/darkstar/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/darkstar/apps/monitoring/grafana/app/grafana-admin-user.sops.yaml
  kubernetes/darkstar/apps/monitoring/grafana/app/kustomization.yaml
  kubernetes/darkstar/bootstrap/age-key.sops.yaml
Labels: area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

Switch outstanding sops to externalsecrets Rotate encryption on remaining sops secrets
  .archived/kubernetes/bytestash/app/bytestash-secret.sops.yaml
  .archived/kubernetes/database/crunchy-postgres-operator/cluster/pgbackrest-secret.sops.yaml
  .archived/kubernetes/kopia-cronjobs/app/secret.sops.yaml
  .archived/kubernetes/lidarr/app/lidarr-secret.sops.yaml
  .archived/kubernetes/pod-gateway/downloads/pod-gateway-config.sops.yaml
  infrastructure/apollo/ansible/inventory/host_vars/apollo.sops.yaml
  infrastructure/darkstar/talos/talenv.sops.yaml
  infrastructure/darkstar/talos/talsecret.sops.yaml
  kubernetes/darkstar/apps/external-secrets/external-secrets/stores/bitwarden-secrets/bitwarden-access-token.sops.yaml
  kubernetes/darkstar/apps/flux-system/add-ons/webhooks/github/externalsecret.yaml
  kubernetes/darkstar/apps/flux-system/add-ons/webhooks/github/kustomization.yaml
  kubernetes/darkstar/apps/flux-system/add-ons/webhooks/github/receiver.yaml
  kubernetes/darkstar/apps/flux-system/add-ons/webhooks/github/webhook-token.sops.yaml
  kubernetes/darkstar/apps/media/plex/plex-image-cleanup/externalsecret.yaml
  kubernetes/darkstar/apps/media/plex/plex-image-cleanup/kustomization.yaml
  kubernetes/darkstar/apps/media/plex/plex-image-cleanup/plex-token-secret.sops.yaml
  kubernetes/darkstar/apps/monitoring/gatus/app/discord-secret.sops.yaml
  kubernetes/darkstar/apps/monitoring/gatus/app/externalsecret.yaml
  kubernetes/darkstar/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/darkstar/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/darkstar/apps/monitoring/grafana/app/grafana-admin-user.sops.yaml
  kubernetes/darkstar/apps/monitoring/grafana/app/kustomization.yaml
  kubernetes/darkstar/bootstrap/age-key.sops.yaml
Labels: area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

Use mise for this environment too Remove direnv
  .envrc
  .mise.toml
Labels: none

Use mise for this environment too Remove direnv
  .envrc
  .mise.toml
Labels: none

Re-add atuin again with tweaked values
  kubernetes/darkstar/apps/default/atuin/app/helm-release.yaml
  kubernetes/darkstar/apps/default/atuin/app/kustomization.yaml
  kubernetes/darkstar/apps/default/atuin/ks.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/default/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

Re-add atuin again with tweaked values
  kubernetes/darkstar/apps/default/atuin/app/helm-release.yaml
  kubernetes/darkstar/apps/default/atuin/app/kustomization.yaml
  kubernetes/darkstar/apps/default/atuin/ks.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/default/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

Re-add atuin again with tweaked values
  kubernetes/darkstar/apps/default/atuin/app/helm-release.yaml
  kubernetes/darkstar/apps/default/atuin/app/kustomization.yaml
  kubernetes/darkstar/apps/default/atuin/ks.yaml
  kubernetes/darkstar/apps/default/kustomization.yaml
  kubernetes/darkstar/apps/default/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

Update tasks some more Remove --env and -a none from minijinja-cli - now set in mise config Consolidate pod cleanup Consolidate suspend/resume for fluxtomizations
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
Labels: none

Update tasks some more Remove --env and -a none from minijinja-cli - now set in mise config Consolidate pod cleanup Consolidate suspend/resume for fluxtomizations
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
Labels: none
