Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

fix(prometheus): remove CertManagerCertExpirySoon alert from rules
  kubernetes/darkstar/apps/cert-manager/cert-manager/app/prometheus-rule.yaml
Labels: area/kubernetes, cluster/darkstar

feat(music-assistant): add kustomization, externalsecret, and helmrelease configurations
  kubernetes/darkstar/apps/media/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/externalsecret.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/kustomization.yaml
  kubernetes/darkstar/apps/media/music-assistant/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helmrelease): comment out unused network annotations in music-assistant and plex configurations
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
  kubernetes/darkstar/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helmrelease): update matter-server image repository and tag
  kubernetes/darkstar/apps/home-automation/matter-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

refactor: remove deprecated configurations and files for various applications
  kubernetes/darkstar/.archive/atuin/app/helm-release.yaml
  kubernetes/darkstar/.archive/atuin/app/kustomization.yaml
  kubernetes/darkstar/.archive/atuin/ks.yaml
  kubernetes/darkstar/.archive/matter-server/app/helmrelease.yaml
  kubernetes/darkstar/.archive/matter-server/app/kustomization.yaml
  kubernetes/darkstar/.archive/matter-server/ks.yaml
  kubernetes/darkstar/.archive/slskd/app/config/Corefile
  kubernetes/darkstar/.archive/slskd/app/config/slskd.yml
  kubernetes/darkstar/.archive/slskd/app/externalsecret.yaml
  kubernetes/darkstar/.archive/slskd/app/helmrelease.yaml
  kubernetes/darkstar/.archive/slskd/app/kustomization.yaml
  kubernetes/darkstar/.archive/slskd/app/kustomizeconfig.yaml
  kubernetes/darkstar/.archive/slskd/app/scripts/wrtag.sh
  kubernetes/darkstar/.archive/slskd/ks.yaml
  kubernetes/darkstar/.archive/templated-secret-controller/app/helm-release.yaml
  kubernetes/darkstar/.archive/templated-secret-controller/app/kustomization.yaml
  kubernetes/darkstar/.archive/templated-secret-controller/ks.yaml
  kubernetes/darkstar/.archive/wrtag/app/externalsecret.yaml
  kubernetes/darkstar/.archive/wrtag/app/helmrelease.yaml
  kubernetes/darkstar/.archive/wrtag/app/kustomization.yaml
  kubernetes/darkstar/.archive/wrtag/ks.yaml
  kubernetes/darkstar/apps/home-automation/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helmrelease): update network annotations for plex pod to include IPv6 address
  kubernetes/darkstar/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helmrelease): restore network annotations for music-assistant pod configuration
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helmrelease): add gdm5 and gdm6 UDP ports to plex service configuration
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
  kubernetes/darkstar/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm): add emptyDir type for transcode volume in Plex HelmRelease
  kubernetes/darkstar/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(kguardian): add HelmRelease, HTTPRoute, Kustomization, and Namespace configurations
  kubernetes/darkstar/apps/kguardian/kguardian/app/helmrelease.yaml
  kubernetes/darkstar/apps/kguardian/kguardian/app/httproute.yaml
  kubernetes/darkstar/apps/kguardian/kguardian/app/kustomization.yaml
  kubernetes/darkstar/apps/kguardian/kguardian/ks.yaml
  kubernetes/darkstar/apps/kguardian/kustomization.yaml
  kubernetes/darkstar/apps/kguardian/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

feat(kguardian): add HelmRelease, HTTPRoute, Kustomization, and Namespace configurations
  kubernetes/darkstar/.archive/kguardian/kguardian/app/helmrelease.yaml
  kubernetes/darkstar/.archive/kguardian/kguardian/app/httproute.yaml
  kubernetes/darkstar/.archive/kguardian/kguardian/app/kustomization.yaml
  kubernetes/darkstar/.archive/kguardian/kguardian/ks.yaml
  kubernetes/darkstar/.archive/kguardian/kustomization.yaml
  kubernetes/darkstar/.archive/kguardian/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

fix(deps): update lvm-exporter image tag to v0.6.2
  kubernetes/darkstar/apps/observability/lvm-exporter/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat: add presence sensor configurator and update presence service configuration
  kubernetes/darkstar/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix: update presence-sensor-configurator port from 3000 to 42069
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat: add firmware port for presence sensor configurator
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat: add APP_PORT and FIRMWARE_LAN_PORT environment variables to home-assistant
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat: add config mount path for presence-sensor-configurator
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

refactor: comment out wyoming-proxy-azure-stt configuration and update envoy reference for presence and code services
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix: update plex image tag to 1.41.9.9961
  kubernetes/darkstar/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): update frigate image tag to 0.17.0-rc1
  kubernetes/darkstar/apps/home-automation/frigate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "fix(container): update ghcr.io/home-operations/charts/tuppr ( 0.0.55 ➔ 0.0.56 )"
  kubernetes/darkstar/apps/system-upgrade/tuppr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helmrelease): downgrade tag from 0.0.56 to 0.0.53
  kubernetes/darkstar/apps/system-upgrade/tuppr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

Update Prometheus query in scaledobject.yaml to use max_over_time for improved accuracy
  kubernetes/darkstar/components/keda/nas-nfs-scaler/scaledobject.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(kube-prometheus-stack): simplify metric labels and enhance readability
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(sonarr): remove unused tag-codecs.sh script and simplify jq filter in refresh-series.sh
  kubernetes/darkstar/apps/downloads/sonarr/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/sonarr/app/resources/refresh-series.sh
  kubernetes/darkstar/apps/downloads/sonarr/app/resources/tag-codecs.sh
Labels: area/kubernetes, cluster/darkstar

feat(recyclarr): add ExternalSecret and HelmRelease configurations; update kustomization.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
  kubernetes/darkstar/apps/downloads/recyclarr/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/darkstar/apps/downloads/recyclarr/app/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(recyclarr): streamline Radarr configuration by removing deprecated quality definitions and adding custom format groups
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

feat(recyclarr): add HDR Formats to custom format groups for Sonarr and Radarr
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

refactor(recyclarr): update custom format groups and modify HelmRelease sync command to repair
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

feat(home-assistant): add matter-hub configuration and update HelmRelease for new service
  kubernetes/darkstar/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(kguardian): add HelmRelease, HTTPRoute, Kustomization, and Namespace configurations
  kubernetes/darkstar/apps/kguardian/kguardian/app/helmrelease.yaml
  kubernetes/darkstar/apps/kguardian/kguardian/app/httproute.yaml
  kubernetes/darkstar/apps/kguardian/kguardian/app/kustomization.yaml
  kubernetes/darkstar/apps/kguardian/kguardian/ks.yaml
  kubernetes/darkstar/apps/kguardian/kustomization.yaml
  kubernetes/darkstar/apps/kguardian/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

feat(cilium): enhance BPF configuration and update load balancer settings
  kubernetes/darkstar/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(multus): update network attachment definitions to use correct master interfaces
  infrastructure/talos/darkstar/talconfig.yaml
  kubernetes/darkstar/apps/networking/multus/config/net-attach-cam.yaml
  kubernetes/darkstar/apps/networking/multus/config/net-attach-iot.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

remove unused values section from HelmRelease configuration
  kubernetes/darkstar/apps/kguardian/kguardian/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

archive music-assistant configuration files
  kubernetes/darkstar/.archive/music-assistant/app/externalsecret.yaml
  kubernetes/darkstar/.archive/music-assistant/app/helmrelease.yaml
  kubernetes/darkstar/.archive/music-assistant/app/kustomization.yaml
  kubernetes/darkstar/.archive/music-assistant/ks.yaml
  kubernetes/darkstar/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

remove: delete unused 'uv' dependency from .mise.toml
  .mise.toml
Labels: none

refactor(helmrelease): remove unused pod annotations and add externalTrafficPolicy
  kubernetes/darkstar/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(helmrelease): clean up service annotations and update appProtocol for HTTP port
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

refactor(config): remove permissions section from slskd.yml
  kubernetes/darkstar/apps/downloads/slskd/app/config/slskd.yml
Labels: area/kubernetes, cluster/darkstar

feat(recyclarr): enhance optional custom formats with selection criteria for Sonarr and Radarr
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar
