Repository Drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/scripts

feature: Update cert-manager manifests Bring in CRD's separately ala onedr0p
  cluster/core/cert-manager/helm-release.yaml
  cluster/core/cert-manager/issuers/cf-token.sops.yaml
  cluster/core/cert-manager/issuers/kustomization.yaml
  cluster/core/cert-manager/issuers/letsencrypt-prod.yaml
  cluster/core/cert-manager/issuers/letsencrypt-staging.yaml
  cluster/core/cert-manager/kustomization.yaml
  cluster/crds/cert-manager/kustomization.yaml
  cluster/crds/kustomization.yaml
Labels: area/cluster

feature: Update cert-manager manifests Bring in CRD's separately ala onedr0p
  cluster/core/cert-manager/helm-release.yaml
  cluster/core/cert-manager/issuers/cf-token.sops.yaml
  cluster/core/cert-manager/issuers/kustomization.yaml
  cluster/core/cert-manager/issuers/letsencrypt-prod.yaml
  cluster/core/cert-manager/issuers/letsencrypt-staging.yaml
  cluster/core/cert-manager/kustomization.yaml
  cluster/crds/cert-manager/kustomization.yaml
  cluster/crds/kustomization.yaml
Labels: area/cluster

feature: Rename cf-tunnel to cloudflared Change ns to cloudflare
  cluster/core/cloudflared/cloudflared-secret.sops.yaml
  cluster/core/cloudflared/helm-release.yaml
  cluster/core/cloudflared/kustomization.yaml
  cluster/core/cloudflared/namespace.yaml
  cluster/core/kustomization.yaml
Labels: area/cluster

feature: Rename cf-tunnel to cloudflared Change ns to cloudflare
  cluster/core/cloudflared/cloudflared-secret.sops.yaml
  cluster/core/cloudflared/helm-release.yaml
  cluster/core/cloudflared/kustomization.yaml
  cluster/core/cloudflared/namespace.yaml
  cluster/core/kustomization.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 36.0.1
  cluster/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 36.0.1
  cluster/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(ansible): update community.general to 5.1.1
  ansible/requirements.yml
Labels: area/ansible

fix(ansible): update community.general to 5.1.1
  ansible/requirements.yml
Labels: area/ansible

fix(container): update image quay.io/jetstack/cert-manager-controller to v1.8.1
  cluster/crds/cert-manager/kustomization.yaml
Labels: area/cluster

fix(container): update image quay.io/jetstack/cert-manager-controller to v1.8.1
  cluster/crds/cert-manager/kustomization.yaml
Labels: area/cluster

fix(helm): update chart cert-manager to v1.8.1
  cluster/core/cert-manager/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cert-manager to v1.8.1
  cluster/core/cert-manager/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/k8s-at-home/plex to v1.27.0.5897-3940636f2
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/k8s-at-home/plex to v1.27.0.5897-3940636f2
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

Revert "feat(container): update image ghcr.io/k8s-at-home/plex to v1.27.0.5897-3940636f2"
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

Revert "feat(container): update image ghcr.io/k8s-at-home/plex to v1.27.0.5897-3940636f2"
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

Revert "Revert "feat(container): update image ghcr.io/k8s-at-home/plex to v1.27.0.5897-3940636f2""
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

Revert "Revert "feat(container): update image ghcr.io/k8s-at-home/plex to v1.27.0.5897-3940636f2""
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix: Plex to 1.24 - HW tone mapping still an issue Seems the k8s-at-home container needs rebuilding with the Dec 21 Intel drivers
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix: Plex to 1.24 - HW tone mapping still an issue Seems the k8s-at-home container needs rebuilding with the Dec 21 Intel drivers
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

feature: Switch to my plex build Let's see how this works out
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

feature: Switch to my plex build Let's see how this works out
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/home-assistant/home-assistant to 2022.6.6
  cluster/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/home-assistant/home-assistant to 2022.6.6
  cluster/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

feat(container): update image cloudflare/cloudflared to 2022.6.0
  cluster/core/cloudflared/helm-release.yaml
Labels: area/cluster

feat(container): update image cloudflare/cloudflared to 2022.6.0
  cluster/core/cloudflared/helm-release.yaml
Labels: area/cluster

fix: Change container repo root
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix: Change container repo root
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(container): update image cloudflare/cloudflared to 2022.6.1
  cluster/core/cloudflared/helm-release.yaml
Labels: area/cluster

fix(container): update image cloudflare/cloudflared to 2022.6.1
  cluster/core/cloudflared/helm-release.yaml
Labels: area/cluster

feat(github-action): update aquasecurity/trivy-action action to 0.4.0
  .github/workflows/scan-containers.yaml
Labels: area/github

feat(github-action): update aquasecurity/trivy-action action to 0.4.0
  .github/workflows/scan-containers.yaml
Labels: area/github

fix(helm): update chart kube-prometheus-stack to 36.0.2
  cluster/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 36.0.2
  cluster/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(container): update image ghcr.io/esphome/esphome to 2022.6.0
  cluster/apps/home/esphome/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/esphome/esphome to 2022.6.0
  cluster/apps/home/esphome/helm-release.yaml
Labels: area/cluster

fix: Update readme
  README.md
Labels: none

fix: Update readme
  README.md
Labels: none

fix: Change zigbee2mqtt repo
  cluster/apps/home/zigbee2mqtt/helm-release.yaml
Labels: area/cluster

fix: Change zigbee2mqtt repo
  cluster/apps/home/zigbee2mqtt/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/scripts:
  - "scripts/**/*"
