Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"

Revert "feat(container): update ghcr.io/home-operations/home-assistant ( 2026.7.4 ➔ 2026.8.0 )"
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(container): Re-add slskd?
  kubernetes/darkstar/apps/downloads/kustomization.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/config/Corefile
  kubernetes/darkstar/apps/downloads/slskd/app/config/slskd.yml
  kubernetes/darkstar/apps/downloads/slskd/app/externalsecret.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/helmrelease.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/kustomization.yaml
  kubernetes/darkstar/apps/downloads/slskd/app/kustomizeconfig.yaml
  kubernetes/darkstar/apps/downloads/slskd/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): Try and resolve umask issue
  kubernetes/darkstar/apps/downloads/slskd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(container): Re-add matter-server
  infrastructure/talos/darkstar/talconfig.yaml
  kubernetes/darkstar/apps/home-automation/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/ks.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

feat(container): Temp reinstate unifi controller
  kubernetes/darkstar/apps/networking/kustomization.yaml
  kubernetes/darkstar/apps/networking/unifi/app/backendtlspolicy.yaml
  kubernetes/darkstar/apps/networking/unifi/app/certificate.yaml
  kubernetes/darkstar/apps/networking/unifi/app/helmrelease.yaml
  kubernetes/darkstar/apps/networking/unifi/app/kustomization.yaml
  kubernetes/darkstar/apps/networking/unifi/ks.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): And remove unifi again - job done
  kubernetes/darkstar/.archive/unifi/app/backendtlspolicy.yaml
  kubernetes/darkstar/.archive/unifi/app/certificate.yaml
  kubernetes/darkstar/.archive/unifi/app/helmrelease.yaml
  kubernetes/darkstar/.archive/unifi/app/kustomization.yaml
  kubernetes/darkstar/.archive/unifi/ks.yaml
  kubernetes/darkstar/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): Attempt to fix ipv6 on multus-iot
  infrastructure/talos/darkstar/talconfig.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/app/helmrelease.yaml
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

fix(container): Forgot interface name!
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Remove ports - now unused
  kubernetes/darkstar/apps/media/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

feat(container): Add otbr?
  infrastructure/talos/darkstar/talconfig.yaml
  kubernetes/darkstar/apps/home-automation/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/otbr/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/otbr/app/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/otbr/ks.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

fix(container): Try a different otbr image?
  kubernetes/darkstar/apps/home-automation/otbr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): Try a different otbr image?
  kubernetes/darkstar/apps/home-automation/otbr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): Fix dev path for ZBT-2
  kubernetes/darkstar/apps/home-automation/otbr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): Try a different image for otbr
  kubernetes/darkstar/apps/home-automation/otbr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Reconfigure sysctls - last ditch effort
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/matter-server/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/otbr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Honestly ... this is getting pointless! Change image again
  kubernetes/darkstar/apps/home-automation/otbr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Meh - forget it
  infrastructure/talos/darkstar/talconfig.yaml
  kubernetes/darkstar/.archive/matter-server/app/helmrelease.yaml
  kubernetes/darkstar/.archive/matter-server/app/kustomization.yaml
  kubernetes/darkstar/.archive/matter-server/ks.yaml
  kubernetes/darkstar/.archive/otbr/app/helmrelease.yaml
  kubernetes/darkstar/.archive/otbr/app/kustomization.yaml
  kubernetes/darkstar/.archive/otbr/ks.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/darkstar/apps/home-automation/kustomization.yaml
Labels: area/talos, area/kubernetes, cluster/darkstar

chore(container): Off to a standalone setup
  .mise.toml
  .taskfiles/volsync/resources/list-snapshots.yaml.j2
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
  kubernetes/darkstar/.archive/bichon/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/darkstar/.archive/bichon/zigbee2mqtt/app/kustomization.yaml
  kubernetes/darkstar/.archive/bichon/zigbee2mqtt/app/resources/convertor.mjs
  kubernetes/darkstar/.archive/bichon/zigbee2mqtt/ks.yaml
  kubernetes/darkstar/.archive/esphome/app/helmrelease.yaml
  kubernetes/darkstar/.archive/esphome/app/kustomization.yaml
  kubernetes/darkstar/.archive/esphome/ks.yaml
  kubernetes/darkstar/.archive/home-assistant/app/externalsecret.yaml
  kubernetes/darkstar/.archive/home-assistant/app/helmrelease.yaml
  kubernetes/darkstar/.archive/home-assistant/app/kustomization.yaml
  kubernetes/darkstar/.archive/home-assistant/app/pvc.yaml
  kubernetes/darkstar/.archive/home-assistant/ks.yaml
  kubernetes/darkstar/apps/home-automation/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Remove frigate and remaining home-automation components
  kubernetes/darkstar/.archive/frigate/app/externalsecret.yaml
  kubernetes/darkstar/.archive/frigate/app/helmrelease.yaml
  kubernetes/darkstar/.archive/frigate/app/kustomization.yaml
  kubernetes/darkstar/.archive/frigate/app/resources/config.yml
  kubernetes/darkstar/.archive/frigate/ks.yaml
  kubernetes/darkstar/apps/home-automation/kustomization.yaml
  kubernetes/darkstar/apps/home-automation/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Remove mosquitto
  kubernetes/darkstar/.archive/mosquitto/app/helmrelease.yaml
  kubernetes/darkstar/.archive/mosquitto/app/kustomization.yaml
  kubernetes/darkstar/.archive/mosquitto/ks.yaml
  kubernetes/darkstar/apps/database/kustomization.yaml
  kubernetes/darkstar/apps/database/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Moved to HAOS
  kubernetes/darkstar/.archive/music-assistant/app/externalsecret.yaml
  kubernetes/darkstar/.archive/music-assistant/app/helmrelease.yaml
  kubernetes/darkstar/.archive/music-assistant/app/kustomization.yaml
  kubernetes/darkstar/.archive/music-assistant/ks.yaml
  kubernetes/darkstar/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): No need for multus now
  kubernetes/darkstar/.archive/multus/app/helmrelease.yaml
  kubernetes/darkstar/.archive/multus/app/kustomization.yaml
  kubernetes/darkstar/.archive/multus/config/kustomization.yaml
  kubernetes/darkstar/.archive/multus/config/net-attach-cam.yaml
  kubernetes/darkstar/.archive/multus/config/net-attach-iot.yaml
  kubernetes/darkstar/.archive/multus/ks.yaml
  kubernetes/darkstar/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

chore: Update talos config - remove vlans
  infrastructure/talos/darkstar/talconfig.yaml
Labels: area/talos, cluster/darkstar

fix(container): Plex also offers live tv ...
  kubernetes/darkstar/apps/media/plex/ks.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Cleanup archive
  kubernetes/darkstar/.archive/bichon/app/externalsecret.yaml
  kubernetes/darkstar/.archive/bichon/app/helmrelease.yaml
  kubernetes/darkstar/.archive/bichon/app/kustomization.yaml
  kubernetes/darkstar/.archive/bichon/ks.yaml
  kubernetes/darkstar/.archive/bichon/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/darkstar/.archive/bichon/zigbee2mqtt/app/kustomization.yaml
  kubernetes/darkstar/.archive/bichon/zigbee2mqtt/app/resources/convertor.mjs
  kubernetes/darkstar/.archive/bichon/zigbee2mqtt/ks.yaml
  kubernetes/darkstar/.archive/doppler/app/clustersecretstore.yaml
  kubernetes/darkstar/.archive/doppler/app/externalsecret.yaml
  kubernetes/darkstar/.archive/doppler/app/kustomization.yaml
  kubernetes/darkstar/.archive/doppler/ks.yaml
  kubernetes/darkstar/.archive/ignition/ignition/app/externalsecret.yaml
  kubernetes/darkstar/.archive/ignition/ignition/app/helmrelease.yaml
  kubernetes/darkstar/.archive/ignition/ignition/app/httproute.yaml
  kubernetes/darkstar/.archive/ignition/ignition/app/kustomization.yaml
  kubernetes/darkstar/.archive/ignition/ignition/ks.yaml
  kubernetes/darkstar/.archive/ignition/kustomization.yaml
  kubernetes/darkstar/.archive/ignition/namespace.yaml
Labels: area/kubernetes, cluster/darkstar

feat(container): Add SQP-4
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix(container): Update annotation for ingress
  kubernetes/darkstar/apps/networking/envoy-gateway/config/external/gateway.yaml
  kubernetes/darkstar/apps/networking/envoy-gateway/config/internal/gateway.yaml
Labels: area/kubernetes, cluster/darkstar

feat(container): Take another look at kopiur - maybe
  kubernetes/darkstar/apps/storage/kopiur/app/helmrelease.yaml
  kubernetes/darkstar/apps/storage/kopiur/app/kustomization.yaml
  kubernetes/darkstar/apps/storage/kopiur/ks.yaml
  kubernetes/darkstar/apps/storage/kopiur/repository/clusterrepository.yaml
  kubernetes/darkstar/apps/storage/kopiur/repository/kustomization.yaml
  kubernetes/darkstar/apps/storage/kustomization.yaml
  kubernetes/darkstar/components/kopiur/backup/snapshotpolicy.yaml
  kubernetes/darkstar/components/kopiur/backup/snapshotschedule.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(container): Take another look at kopiur - maybe"
  kubernetes/darkstar/.archive/kopiur/app/helmrelease.yaml
  kubernetes/darkstar/.archive/kopiur/app/kustomization.yaml
  kubernetes/darkstar/.archive/kopiur/ks.yaml
  kubernetes/darkstar/.archive/kopiur/repository/clusterrepository.yaml
  kubernetes/darkstar/.archive/kopiur/repository/kustomization.yaml
  kubernetes/darkstar/apps/storage/kustomization.yaml
  kubernetes/darkstar/components/kopiur/backup/snapshotpolicy.yaml
  kubernetes/darkstar/components/kopiur/backup/snapshotschedule.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Update recyclarr config
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

chore(container): Continue the recyclarr tweakage
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix(container): Cleanup ports
  kubernetes/darkstar/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

chore:
  kubernetes/darkstar/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Update talos/k8s versions for tuppr
  kubernetes/darkstar/apps/system-upgrade/tuppr/upgrades/kubernetes.yaml
  kubernetes/darkstar/apps/system-upgrade/tuppr/upgrades/talos.yaml
Labels: area/kubernetes, cluster/darkstar

fix(container): Match repdest for manual restore to bootstrap for volsync
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
Labels: none

chore(docker): Enable bkackups for dockhand
  kubernetes/darkstar/apps/observability/dockhand/app/helmrelease.yaml
Labels: area/kubernetes, cluster/darkstar

chore(container): Tweak recyclarr
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

chore(container): More recyclarr faffing
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

chore(container): More recyclarr config faffing
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

chore(container): More recyclarr faffing
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar
