Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/talos, area/ansible, area/kubernetes, cluster/darkstar, cluster/apollo

fix(recyclarr): change Radarr media naming folder from standard to default
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix(recyclarr): change Radarr media naming folder from standard to default
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

fix(k8s): update API version in mutating admission policies and bump TALOS_VERSION to v1.11.0
  kubernetes/darkstar/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(k8s): update API version in mutating admission policies and bump TALOS_VERSION to v1.11.0
  kubernetes/darkstar/apps/storage/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/darkstar

fix(k8s): rename system-upgrade secret and service account to system-upgrade-controller
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes, cluster/darkstar

fix(k8s): rename system-upgrade secret and service account to system-upgrade-controller
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes, cluster/darkstar

fix(talconfig): update endpoint and talosVersion, adjust additionalApiServerCertSans, and modify extraHostEntries
  infrastructure/darkstar/talos/talconfig.yaml
Labels: area/talos, cluster/darkstar

fix(talconfig): update endpoint and talosVersion, adjust additionalApiServerCertSans, and modify extraHostEntries
  infrastructure/darkstar/talos/talconfig.yaml
Labels: area/talos, cluster/darkstar

fix: Update GitHub config secret name and image digest in k8s-home-ops.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/arc-k8s-home-ops-secret.sops.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
Labels: area/kubernetes, cluster/darkstar

fix: Update GitHub config secret name and image digest in k8s-home-ops.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/arc-k8s-home-ops-secret.sops.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
Labels: area/kubernetes, cluster/darkstar

fix: Enhance image extraction logging and update node variable in pre-pull step
  .github/workflows/pre-pull-images.yaml
Labels: area/github

fix: Enhance image extraction logging and update node variable in pre-pull step
  .github/workflows/pre-pull-images.yaml
Labels: area/github

fix(envoy-gateway): enable http3 support in ClientTrafficPolicy
  kubernetes/darkstar/apps/networking/envoy-gateway/config/clienttrafficpolicy.yaml
Labels: area/kubernetes, cluster/darkstar

fix(envoy-gateway): enable http3 support in ClientTrafficPolicy
  kubernetes/darkstar/apps/networking/envoy-gateway/config/clienttrafficpolicy.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): comment out unused network annotations in pod spec
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): comment out unused network annotations in pod spec
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(kustomization): comment out unused matter-server and multus resources
  kubernetes/darkstar/apps/home-automation/kustomization.yaml
  kubernetes/darkstar/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(kustomization): comment out unused matter-server and multus resources
  kubernetes/darkstar/apps/home-automation/kustomization.yaml
  kubernetes/darkstar/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(cilium): reduce replicas from 2 to 1 in HelmRelease configuration
  kubernetes/darkstar/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(cilium): reduce replicas from 2 to 1 in HelmRelease configuration
  kubernetes/darkstar/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(talos): update helmfile paths and remove unused env-file reference
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  infrastructure/darkstar/talos/talconfig.yaml
Labels: area/talos, cluster/darkstar

fix(talos): update helmfile paths and remove unused env-file reference
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  infrastructure/darkstar/talos/talconfig.yaml
Labels: area/talos, cluster/darkstar

fix(helmfile): update path for format-lvm template to be relative
  infrastructure/darkstar/talos/helmfile.yaml
Labels: area/talos, cluster/darkstar

fix(helmfile): update path for format-lvm template to be relative
  infrastructure/darkstar/talos/helmfile.yaml
Labels: area/talos, cluster/darkstar

fix(helm-release): comment out unused matter-hub and code-server configurations
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): comment out unused matter-hub and code-server configurations
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): update network annotations format and re-enable multus configuration
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): update network annotations format and re-enable multus configuration
  kubernetes/darkstar/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/darkstar/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): update multus network annotations format
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): update multus network annotations format
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): restore and update matter-hub and code-server configurations
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(home-assistant): restore and update matter-hub and code-server configurations
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

feat(config): add .editorconfig and .yamlfmt.yaml, update .mise.toml, and modify .yamllint.yaml rules
  .editorconfig
  .mise.toml
  .prettierignore
  .prettierrc.yaml
  .sourceignore
  .yamlfmt.yaml
  .yamllint.yaml
Labels: none

feat(config): add .editorconfig and .yamlfmt.yaml, update .mise.toml, and modify .yamllint.yaml rules
  .editorconfig
  .mise.toml
  .prettierignore
  .prettierrc.yaml
  .sourceignore
  .yamlfmt.yaml
  .yamllint.yaml
Labels: none

fix(helm-release): reduce retention periods and storage sizes for Prometheus and Loki configurations
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/loki/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): reduce retention periods and storage sizes for Prometheus and Loki configurations
  kubernetes/darkstar/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/darkstar/apps/observability/loki/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Implement code changes to enhance functionality and improve performance
  infrastructure/darkstar/talos/talsecret.sops.yaml
Labels: area/talos, cluster/darkstar

Implement code changes to enhance functionality and improve performance
  infrastructure/darkstar/talos/talsecret.sops.yaml
Labels: area/talos, cluster/darkstar

fix(helm-release): ensure nodeFeatureRule is set to false in values
  kubernetes/darkstar/apps/system/intel-device-plugins/gpu/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix(helm-release): ensure nodeFeatureRule is set to false in values
  kubernetes/darkstar/apps/system/intel-device-plugins/gpu/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
# Talos
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/talos/**/*"
# Ansible
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/ansible/**/*"
# Kubernetes
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Which cluster?
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"
