Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/darkstar, cluster/apollo

Update: do the same for z2m - simplify routing
  kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Fix: match for route on the correct backend
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Fix: match for route on the correct backend
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Fix: correct path for flux-local manfiest diffing
  .github/workflows/flux-local.yaml
Labels: area/ci

Fix: correct path for flux-local manfiest diffing
  .github/workflows/flux-local.yaml
Labels: area/ci

Update: don't renovate on archived files
  renovate.json5
Labels: none

Update: don't renovate on archived files
  renovate.json5
Labels: none

Update: re-add actions-runner
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/arc-secret.sops.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/helm-release.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/kustomization.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/rbac.yaml
  kubernetes/darkstar/apps/actions-runner-system/kustomization.yaml
  kubernetes/darkstar/apps/actions-runner-system/namespace.yaml
  kubernetes/darkstar/repos/helm/actions-runner-controller-charts.yaml
  kubernetes/darkstar/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Update: re-add actions-runner
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/arc-secret.sops.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/helm-release.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/kustomization.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/rbac.yaml
  kubernetes/darkstar/apps/actions-runner-system/kustomization.yaml
  kubernetes/darkstar/apps/actions-runner-system/namespace.yaml
  kubernetes/darkstar/repos/helm/actions-runner-controller-charts.yaml
  kubernetes/darkstar/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

Update: new app/installation and keys for arc
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/arc-secret.sops.yaml
Labels: area/kubernetes, cluster/darkstar

Update: new app/installation and keys for arc
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/arc-secret.sops.yaml
Labels: area/kubernetes, cluster/darkstar

Update: fixup arc?
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/kustomization.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/arc-k8s-home-ops-secret.sops.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/rbac.yaml
Labels: area/kubernetes, cluster/darkstar

Update: fixup arc?
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/kustomization.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/arc-k8s-home-ops-secret.sops.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/runners/rbac.yaml
Labels: area/kubernetes, cluster/darkstar

Fix: wrong source for gitrepository name
  .github/workflows/flux-local.yaml
Labels: area/ci

Fix: wrong source for gitrepository name
  .github/workflows/flux-local.yaml
Labels: area/ci

Update: comment out the renovate badge for now
  README.md
Labels: none

Update: comment out the renovate badge for now
  README.md
Labels: none

Update: name change
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: name change
  kubernetes/darkstar/apps/actions-runner-system/actions-runner-controller/operator/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update: further github workflow updates - pre-pull-images
  .github/workflows/pre-pull-images.yaml
Labels: area/ci

Update: further github workflow updates - pre-pull-images
  .github/workflows/pre-pull-images.yaml
Labels: area/ci

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"
