Repository drae/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/darkstar, cluster/apollo

Revert "feat(helm)!: Update loki ( 5.47.2 → 6.1.0 )"
  kubernetes/darkstar/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(helm)!: Update loki ( 5.47.2 → 6.1.0 )"
  kubernetes/darkstar/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update helm-release.yaml
  kubernetes/darkstar/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update helm-release.yaml
  kubernetes/darkstar/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Update helm-release.yaml
  kubernetes/darkstar/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: loki for 3.0.0
  kubernetes/darkstar/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: loki for 3.0.0
  kubernetes/darkstar/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: loki for 3.0.0
  kubernetes/darkstar/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: disable minio backup
  kubernetes/darkstar/apps/storage/volsync/templates/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: disable minio backup
  kubernetes/darkstar/apps/storage/volsync/templates/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: disable minio backup
  kubernetes/darkstar/apps/storage/volsync/templates/kustomization.yaml
Labels: area/kubernetes, cluster/darkstar

update: add moonbeam repo (snorlax)
  kubernetes/darkstar/repos/helm/kustomization.yaml
  kubernetes/darkstar/repos/helm/moonbeam-charts.yaml
Labels: area/kubernetes, cluster/darkstar

update: add moonbeam repo (snorlax)
  kubernetes/darkstar/repos/helm/kustomization.yaml
  kubernetes/darkstar/repos/helm/moonbeam-charts.yaml
Labels: area/kubernetes, cluster/darkstar

update: add moonbeam repo (snorlax)
  kubernetes/darkstar/repos/helm/kustomization.yaml
  kubernetes/darkstar/repos/helm/moonbeam-charts.yaml
Labels: area/kubernetes, cluster/darkstar

update: switch my domain name update: ignore .task
  .gitignore
  infrastructure/darkstar/talos/clusterconfig/.gitignore
  kubernetes/darkstar/settings/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/darkstar

update: switch my domain name update: ignore .task
  .gitignore
  infrastructure/darkstar/talos/clusterconfig/.gitignore
  kubernetes/darkstar/settings/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/darkstar

update: switch my domain name update: ignore .task
  .gitignore
  infrastructure/darkstar/talos/clusterconfig/.gitignore
  kubernetes/darkstar/settings/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/darkstar

update: cloudflare to new domain
  kubernetes/darkstar/apps/networking/cloudflared/app/cloudflared-secret.sops.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/dnsEndpoint.yaml
Labels: area/kubernetes, cluster/darkstar

update: cloudflare to new domain
  kubernetes/darkstar/apps/networking/cloudflared/app/cloudflared-secret.sops.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/dnsEndpoint.yaml
Labels: area/kubernetes, cluster/darkstar

update: cloudflare to new domain
  kubernetes/darkstar/apps/networking/cloudflared/app/cloudflared-secret.sops.yaml
  kubernetes/darkstar/apps/networking/cloudflared/app/dnsEndpoint.yaml
Labels: area/kubernetes, cluster/darkstar

update: talos to new domain
  infrastructure/darkstar/talos/talenv.sops.yaml
Labels: cluster/darkstar

update: talos to new domain
  infrastructure/darkstar/talos/talenv.sops.yaml
Labels: cluster/darkstar

update: talos to new domain
  infrastructure/darkstar/talos/talenv.sops.yaml
Labels: cluster/darkstar

fix: docker-compose is deprecated, use docker compose
  infrastructure/apollo/ansible/playbooks/templates/docker-compose@.service.j2
Labels: cluster/apollo

fix: docker-compose is deprecated, use docker compose
  infrastructure/apollo/ansible/playbooks/templates/docker-compose@.service.j2
Labels: cluster/apollo

fix: docker-compose is deprecated, use docker compose
  infrastructure/apollo/ansible/playbooks/templates/docker-compose@.service.j2
Labels: cluster/apollo

fix: globalmount for config
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: globalmount for config
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: globalmount for config
  kubernetes/darkstar/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

update: remove "special edition" priority - will do that manually
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

update: remove "special edition" priority - will do that manually
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

update: remove "special edition" priority - will do that manually
  kubernetes/darkstar/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/darkstar

Revert "fix(container): update docker.io/rancher/kubectl ( v1.30.0 → v1.30.2 )"
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "fix(container): update docker.io/rancher/kubectl ( v1.30.0 → v1.30.2 )"
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "fix(container): update docker.io/rancher/kubectl ( v1.30.0 → v1.30.2 )"
  kubernetes/darkstar/apps/system-upgrade/system-upgrade-controller/app/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(helm): update ingress-nginx ( 4.10.1 → 4.11.0 )"
  kubernetes/darkstar/apps/networking/ingress-nginx/external/helm-release.yaml
  kubernetes/darkstar/apps/networking/ingress-nginx/internal/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(helm): update ingress-nginx ( 4.10.1 → 4.11.0 )"
  kubernetes/darkstar/apps/networking/ingress-nginx/external/helm-release.yaml
  kubernetes/darkstar/apps/networking/ingress-nginx/internal/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

Revert "feat(helm): update ingress-nginx ( 4.10.1 → 4.11.0 )"
  kubernetes/darkstar/apps/networking/ingress-nginx/external/helm-release.yaml
  kubernetes/darkstar/apps/networking/ingress-nginx/internal/helm-release.yaml
Labels: area/kubernetes, cluster/darkstar

fix: set kubeproxyreplacement
  kubernetes/darkstar/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/darkstar

fix: set kubeproxyreplacement
  kubernetes/darkstar/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/darkstar

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/darkstar:
  - changed-files:
      - any-glob-to-any-file: "**/darkstar/**/*"
cluster/apollo:
  - changed-files:
      - any-glob-to-any-file: "**/apollo/**/*"
